
.isa_info, .isa_success, .isa_warning, .isa_error {
    margin: 10px 0px;
    padding:12px;
}
.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
}
.isa_success {
    padding: 10px;
    color: #4F8A10;
    background-color: #DFF2BF;
    background-repeat: no-repeat;
    background-position: left;
    -moz-border-radius:14px;
    -webkit-border-radius:14px;
    border-radius:14px;
}
.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.isa_error {
    padding: 10px;
    color: #D8000C;
    background-color: #FFBABA;
    background-repeat: no-repeat;
    background-position: left;
    -moz-border-radius:14px;
    -webkit-border-radius:14px;
    border-radius:14px;
}
.isa_info i, .isa_success i, .isa_warning i, .isa_error i {
    margin:10px 22px;
    font-size:2em;
    vertical-align:middle;
}

/* End Error message */

.menuDiv{
    margin: 5px;
    float: right;
}
.floatLeftDiv{
    float: left;
}
.sideDiv{
    float: left;
}
.supplierOrdersMenuItems{
    margin: 0px;
    margin-left: 5px;
    margin-right: 5px;
    float: left;
}
.searchFields{
    float: left;
}
.kanbanMainContainer{
    clear: both;
}
.kanbansContainer{
    padding: 10px;
    background-repeat: no-repeat;
    background-position: left;
    border: solid;
    border:2px solid;
    border-radius:10px;
    text-indent: 20px;
}
.kanbanInfo{
    margin: 5px;
    float: left;
}
.kanbanInfoFields{
    clear: both;
}
.kanbanInfoReceived{
    text-indent: 50px;
    text-align: left;
}
.barcodeWrapper{
    clear: both;
    margin: 30px;
    margin-bottom: 30px;
    border:2px solid;
    border-radius:10px;
    text-align: center;
    font-size: 20px;
}
.tableDivSide{
    margin: 3px;
    float: left;
    border:1px solid;
    border-radius:10px;
}

tr:nth-child(even) {
    background-color: #E8E8E8;
}
th {
    background-color: #CBCBCB;
}
tr:hover{
    background-color: #C1FFBD;
}

.title{
    margin: 5px;
}
.field{
    margin: 5px;
}

.tableDiv{
    clear: both;
}

/* Drop down */
.dropDown {
    color: #08C;
    cursor: pointer;
    padding: 4px;
    border-radius: 4px;
}

.dropDown:after {
    font-family: Consolas, Courier New, Arial, sans-serif;
    content: 'â†“';
    margin-left: 6px;
    color: #08C;
}

.dropDown:hover {
    background: #F2F2F2;
}

.dropDown.dropdown-open {
    background: #888;
    color: #FFF;
}

.dropDown.dropdown-open:after {
    color: #FFF;
}

.setShipping{
    cursor: pointer;
    
}
/* End Blink */

.kanbanWrapper{
    margin: 5px;
    margin-top: 5px;
    width: 600px;
    border:2px solid;
    border-radius:10px;
    text-indent: 0px;
}
.confirmBarcodeWrapper{
    margin: 5px;
    text-align: center;
}
.barcodeInfo{
    clear: both;
    width: 400px;
    border:2px solid;
    border-radius:10px;
    text-indent: 20px;
}
.matrixBarcodeWrapper{
    margin: 10px;
    width: 250px;
    height: 400px;
    text-indent: 20px;
}
.barcodeInfoWrapper{
    clear: both;
}
.infoKbDiv{
    margin: 20px 10px 10px 10px;
    float: left;
    font-size: 20px;
    font-weight: bold;
}
.kanbanCommentWrapper{
    margin-left: 10px;
    clear: both;
}
.confirmBarcodeWrapperBT{
    clear: both;
}
.articleWrapper{
    clear: both;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.orderIdWrapper{
    clear: both;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.kanbanTitle{
    display: flex;
    clear: both;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
    text-align: center !important;
    justify-content: center !important;
}
.LSTitle {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 10px;
    font-size: 25px;
    font-weight: bold;
    clear: both;
}
.pointer{
    cursor: pointer;
}
.bcgtmtxt {
    font-size: 20px;
}
.article-holder {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
.ls-text {
    overflow-wrap: anywhere
}
.cards-containter {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
}
.kanbanInput {
    width: 70px;
    position: relative;
    bottom: 3px;
}
.print-input {
    display: none;
}

#sticky-header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    transition: top 0.3s;
    border-bottom: 10px solid transparent;
    border-image: linear-gradient(to right, #66d11f, #00a29b) 1;
}
#print-button {
    padding: 12px 18px;
    margin: 2px 10px;
    font-size: 16px;
    font-family: "Lucida Console";
    color: rgb(0, 0, 0);
    background: rgba(255, 255, 255, 0.1); /* Transparent white background */
    border: 3px solid rgba(51, 48, 48, 0.26); /* Semi-transparent border */
    border-radius: 30px; /* Rounded corners */
    backdrop-filter: blur(10px); /* Frosted glass effect */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

#print-button:hover {
    background: rgba(255, 255, 255, 0.2); /* Slightly more opaque background on hover */
    border-color: rgba(41, 184, 52, 0.5); /* Change border color on hover */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* More prominent shadow on hover */
}

#print-button:focus {
    outline: none; /* Remove outline when button is focused */
}

.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple-animation 1s linear;
    background-color: rgba(41, 184, 52, 0.5);
  }
  
  /* Keyframe animation for the ripple */
  @keyframes ripple-animation {
    to {
      transform: scale(4);
      opacity: 0;
    }
  }

/**
 * ------------------------------------------------------------------------
 * JA T3 System Plugin for Joomla 2.5
 * ------------------------------------------------------------------------
 * Copyright (C) 2004-2011 J.O.O.M Solutions Co., Ltd. All Rights Reserved.
 * @license - GNU/GPL, http://www.gnu.org/licenses/gpl.html
 * Author: J.O.O.M Solutions Co., Ltd
 * Websites: http://www.joomlart.com - http://www.joomlancers.com
 * ------------------------------------------------------------------------
 */

/* Eric Meyer's CSS Tools: Reset CSS (Modified by Hieu Nguyen)
-------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/*font-size: 100%; -- Keeping the default behavior on font aesthetic*/
	/*font: inherit; -- Keeping the default behavior on font aesthetic*/
	/*vertical-align: baseline;*/
}

ul { list-style: none; }
/*body { line-height: 1; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }*/

table { border-collapse: collapse; border-spacing: 0; }

:focus { outline: none; }

/* Clearfix
-------------------------------------------------------------*/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

/* Generic Styles
-------------------------------------------------------------*/
.clear, .divider {clear: both;}

.no-display {display: none !important;}

.nowrap,.nobr {white-space: nowrap !important;}

.no-border {
	border: 0 !important;
}

.no-padding {padding: 0 !important}
.no-margin 	{margin: 0 !important;}

/*Alignment---*/
.v-top 		{vertical-align: top;}
.v-middle	{vertical-align: middle;}
.v-bottom 	{vertical-align: bottom;}

.a-left		{text-align: left;}
.a-center	{text-align: center;}
.a-right		{text-align: right;}

.left		{float: left;}
.right	{float: right;}

.auto-width {width: auto;}

/**
 * ------------------------------------------------------------------------
 * JA T3 System Plugin for Joomla 2.5
 * ------------------------------------------------------------------------
 * Copyright (C) 2004-2011 J.O.O.M Solutions Co., Ltd. All Rights Reserved.
 * @license - GNU/GPL, http://www.gnu.org/licenses/gpl.html
 * Author: J.O.O.M Solutions Co., Ltd
 * Websites: http://www.joomlart.com - http://www.joomlancers.com
 * ------------------------------------------------------------------------
 */

 .main {
	width: 98% !important;
}

body#bd {
	font-size: 10pt;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background: #FFF;
  color: #000;
}

body.contentpane p, 
body.contentpane pre, 
body.contentpane blockquote, 
body.contentpane h1, 
body.contentpane h2, 
body.contentpane h3, 
body.contentpane h4, 
body.contentpane h5, 
body.contentpane h6, 
body.contentpane ol, 
body.contentpane ul {
	margin: 15px 0;
}

body.contentpane h1 { font-size: 180%; line-height: 1.2;  }
body.contentpane h2 { font-size: 150%; line-height: 1.2; }
body.contentpane h3 { font-size: 125%; line-height: 1.4; }
body.contentpane h4 { font-size: 100%; text-transform: UPPERCASE; }
body.contentpane h5 { font-size: 100%; }

body.contentpane h1.componentheading,
body.contentpane h2.componentheading,
body.contentpane .componentheading {
  font-weight: bold;
  margin: 0 0 25px;
}

body.contentpane h1.contentheading,
body.contentpane h2.contentheading,
body.contentpane .contentheading {
  font-weight: bold;
  margin: 0 0 25px;
}

body.contentpane .contentheading {
  font-size: 200%;
}

body.contentpane ul.actions {
  float: right;
  margin: 0;
}

body.contentpane .article-tools {
  font-size: 92%;
  color: #666;
  margin-top: -10px;
  margin-bottom: 25px;
}

body.contentpane dl.article-info { float: left; }

body.contentpane dl.article-info dt,
body.contentpane dl.article-info dd { float: left; padding-right: 5px; }

body.contentpane .img_caption.left { margin-right: 20px; }

body.contentpane .img_caption { overflow: hidden; margin-bottom: 10px; }

body.contentpane .item-page { padding: 20px; }

body.contentpane #mailto-window {
	padding: 10px;
}

body.contentpane .mailto-close {
	text-align: right;
	position: absolute;
	right: 10px;
	top: 10px;
}

body.contentpane .formelm { margin: 10px 0; }

body.contentpane .formelm label { min-width: 100px; display: inline-block; }

.left { 
    margin-right: 15px;
}

.right {
    margin-left: 15px;
}

[contenteditable="true"] {
    color: royalblue;
    border: 1px solid blue;
    border-radius: 5px;
    padding: 2px;
}

/* Optional: Styling when an element is focused */
[contenteditable="true"]:focus {
    color: crimson;
    border: 1px solid red;
}

@media print {
    /* Set specific elements to display: none when printing */
    .no-print { display: none !important; }
    .pagebreak { page-break-before: always; }
    .kanbanInput { display: none; }
    .print-input { display: inline; }
    .cards-containter { margin-top: 0px; }
    [contenteditable="true"] {
        color: black;
        border: none;
        padding: 0;
    }

}
@media screen {
    .print-only { display: none; }
  }
