.logo-image {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

header {
    background-color: #ffffff;
    justify-content: space-between;
    align-items: left;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 70px;
    transition: top 0.3s;
}

#backButton {
    color: #66d11f;
    border: 2px solid #66d11f;
    font-size: 10px;
    margin-left: 20px;
    margin-right: 20px;
} 
#backButton:hover {
    background-color: #66d11f;
    color: #ffffff;
}
.container {
    padding-top: 70px;
}

#bHeader {
    border-bottom: 4px solid #66d11f;
}

#gtmHeader {
    border-bottom: 4px solid #00a29b;
}

.scaled-image {
    max-width: 100px;
    max-height: 100px;
    display: block;
    margin: 0 auto 10px auto;
}

.btn {
    font-size: 40px !important;
}

.button-text-only,
.button-text {
    white-space: nowrap;
}

.btn-group {
    display: flex;
    width: 100%;
}

.ui-btn {
    border: 1px solid #c6c7c8 !important;
    flex: 1 !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    justify-content: center !important;
    text-align: center !important;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple-animation 1s linear;
    background-color: rgba(41, 184, 52, 0.8);
}
  
/* Keyframe animation for the ripple */
@keyframes ripple-animation {
    to {
            transform: scale(4);
            opacity: 0;
        }
}

@media (max-width: 1000px) {
    .button-text {
        display: none; /* Hide the text inside the button */
    }
    .ui-btn {
        min-width: 0px;
        min-height: 0px;
    }
}

@media (max-width: 850px) {
    header {
        display: none;
    }
    .container {
        padding-top: 0px;
    }
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
.spin-animation {
    animation: spin 1s infinite linear;
}