#pageTitle {
    font-size: 40px;
    font-family: "Lucida Console";
    text-align: center;
    position: absolute;
    top: 10px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#dayHeader {
    font-size: 25px;
    font-family: "Lucida Console";
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 15px;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #f0f0f0;
    padding-top: 20px;
}
.column {
    width: 300px;
    margin: 0 10px;
    padding: 10px;
    padding-top: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.priority-high {
    box-shadow: inset 0px 0px 15px 7px rgb(255 0 0 / 50%) !important;
}
.priority-medium {
    box-shadow: inset 0px 0px 15px 7px rgb(253 201 12 / 83%) !important;
} 
.column h2, .column h3 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
}
.column-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 15px 
}
.column-header {
    position: sticky;
    background-color: #ffffff;
    border: 5px outset #ccc;
    border-radius: 5px;
    padding: 2px 0;
    z-index: 1;
    top: 0;
}
.total-exits {
    top: 40px;
}
.tile, .tileEdit{
    margin: 5px 0;
    padding: 20px;
    border: 1px solid #ccc;
    cursor: grab;
    text-align: center;
    position: relative;
    font-family: 'Courier New', monospace;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
#tileEdit {
    margin: 5px 0;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    position: relative;
    font-family: 'Courier New', monospace;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
#tileEdit div{
    border: 1px solid blue;
}
.top {
    margin-top: 10px;
}
.top-right {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    font-weight: bold;
}
.top-left {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 18px;
}
.top-middle {
    font-size: 25px;
    font-weight: bold;
    white-space: break-spaces;
    margin-top: 9px;
    margin-bottom: 6px;
}
.top-middle-hour {
    font-size: 30px;
    margin-top: 9px;
    margin-bottom: -6px;
    text-shadow: 0 0 9px #ff0000;
}
.middle {
    font-size: 20px;
    text-shadow: 1px 1px 2px #7a7a7a;
    margin-bottom: 6px;
}
.middle-2 {
    font-size: 20px;
    margin-bottom: 6px;
    overflow-wrap: break-word;
    font-family: monospace;
}
.bottom-middle {
    font-size: 25px;
    font-weight: bold;
}
.bottom-left-logo {
    position: absolute;
    bottom: 10px;
    left: 10px;
    max-width: 40px;
    max-height: 40px;
}
.bottom-right-hangers {
    position: absolute;
    font-size: 25px;
    bottom: 10px;
    right: 10px;
}
.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple-animation 1s linear;
    background-color: rgb(51, 127, 226, 0.5);
}
  
/* Keyframe animation for the ripple */
@keyframes ripple-animation {
    to {
        transform: scale(4);
        opacity: 0;
    }
}
.ui-sortable-placeholder {
    border: 4px dashed rgb(51, 127, 226); /* Placeholder border */
    background-color: #ffffff; /* Placeholder background */
    visibility: visible !important;
}
.tile.selected {
    border: 1px solid #000000; /* Black border to indicate selection */
    box-shadow: 0 0 5px 5px rgb(51, 127, 226);
    transform: scale(0.95); /* Slightly enlarge selected tiles */
}
.tile.dragging {
    opacity: 0.8;
}
.context-menu {
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: #ffffff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 5px;
}
.context-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.context-menu ul li {
    padding: 8px 12px;
    cursor: pointer;
}
.context-menu ul li:hover {
    background-color: #f0f0f0;
}
.context-menu .li-delete-tile {
    background-color: rgb(223, 102, 102);
}
.context-menu .li-delete-tile:hover {
    background-color: rgb(163, 37, 37);
}
.column-list{
    display: none;
}
#toast-container {
    position: fixed;
    top: 5%;
    left: 5%;
}
.toast-notification {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    opacity: 0;
    display: block;
    box-sizing: border-box;
    white-space: pre-wrap;
    z-index: 4;
    position: fixed
}
.sticky-buttons-top {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 2;
    padding: 10px;
    background-color: #f0f0f0;
    border: 3px solid #000000;
}
.sticky-buttons-top button {
    cursor: pointer;
}
.tilesToAdd {
    max-height: 50vh;   
    overflow-y: auto;
}
#hideSideBarButton {
    position: fixed;
    top: 1%;
    right: 181px;
    font-size: 30px;
    padding-left: 1.85px;
    padding-right: 1.85px;
    background: #009b0d;
    border: 2px solid black;
    border-radius: 20px;
    z-index: 3;
    transition: transform 0.5s ease;
}
#searchDays {
    font-size: 25px;
}
.day-data, .sticky-buttons-top-mobile { display: none; }
.active { display: block; }
.button-container { display: flex; justify-content: space-between; align-items: center; }
.rotate-180 {
    transform: rotate(180deg);
}
.orders-container {
    margin-top: 15px;
    display: block;
}
#ordersPlan {
    margin-top: 55px;
}
#emailForm {
    display: none;
    position: fixed;
    top: 2.5%;
    left: 2.5%;
    width: 95%;
    height: 95%;
    background: rgba(0, 0, 0, 0.85);
    color: white;
    z-index: 9999;
    padding: 20px;
    box-sizing: border-box;
}
#emailElementContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    gap: 20px;
}
.emailFormElement {
    padding: 5px;
    border: 2px solid white;
    background-color: white;
    color: black;
}
.highlight {
    background-color: yellow;
}
#sendEmail {
    padding: 10px;
    font-size: large;
}
@media (max-width: 1400px) {
    #hideSideBarButton {
        right: 2%;
    }
}

#newTileForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 600px;
    margin: 20px 0;
}
#newTileForm .form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#newTileForm label {
    flex: 1;
    margin-right: 20px;
}
#newTileForm input {
    flex: 2;
    padding: 4px;
    width: 100%; /* Ensure it takes up full space available */
    box-sizing: border-box;
}
.options-container {
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    max-height: 300px;
    overflow-y: auto;
    z-index: 1;
}
.option {
    padding: 8px 12px;
    cursor: pointer;
  }
  .option:hover {
    background-color: #ddd;
  }

.newTileFormInput {
    flex: 2;
    padding: 4px;
    width: 100%; /* Ensure it takes up full space available */
    box-sizing: border-box;

    color:#000000;
    background: white;
    border:black 1px solid;
    font-size:14px;
    font-weight:normal;
    font-style:normal;
    padding-left:2px;
    padding-right:2px;
}
#client-list {
    position: fixed;
    bottom: 20px;
    left: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 2px solid rgba(0, 0, 0, 0.5);
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 25px;
}

#client-list li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

/* Styling for the green pulsating dot */
.client-dot {
    width: 20px;
    height: 20px;
    margin-bottom: 3px;
    background-color: green;
    border-radius: 50%;
    margin-right: 10px;
    animation: pulse 1.5s infinite;
}

/* Animation for pulsating effect */
@keyframes pulse {
    0% {
        transform: scale(0.8);
        opacity: 1;
    }
    50% {
        transform: scale(1);
        opacity: 0.6;
    }
    100% {
        transform: scale(0.8);
        opacity: 1;
    }
}

.ui-dialog {
    border-radius: 12px;
    background: #f8f9fa;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
}
.ui-dialog-titlebar {
    background: #007bff;
    color: white;
    font-weight: bold;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 10px;
}
.ui-dialog-title {
    font-size: 1.2em;
}
.ui-dialog-buttonpane {
    background: #f8f9fa;
    border-top: none;
}

#editTilePrompt input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 6px;
    font-size: 1em;
}
#editTilePrompt input[type="radio"] {
    margin-right: 6px;
}

/* Button styles inside the dialog */
#editTilePrompt .ui-dialog-buttonset button {
    background: #007bff;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}
#editTilePrompt .ui-dialog-buttonset button:hover {
    background: #0056b3;
}
.ui-dialog-titlebar-close {
    display: none;
}
.ui-dialog-titlebar {
    cursor: move;
}
.ui-dialog {
    position: absolute !important;
    z-index: 1000;
}
