.cs693C1E03 {color:#000000;background-color:#FFFFFF;border-left-style: none;border-top-style: none;border-right-style: none;border-bottom-style: none;font-family:Calibri; font-size:13px; font-weight:normal; font-style:normal; padding-left:2px;padding-right:2px;}
.cs6B9BA0F4 {color:#000000;background-color:transparent;border-left:#C0C0C0 1px solid;border-top:#C0C0C0 1px solid;border-right:#C0C0C0 1px solid;border-bottom:#C0C0C0 1px solid;font-family:Calibri; font-size:11px; font-weight:bold; font-style:normal; padding-left:2px;padding-right:2px;}
.csCAB71748 {color:#000000;background-color:transparent;border-left-style: none;border-top:#C0C0C0 1px solid;border-right:#C0C0C0 1px solid;border-bottom:#C0C0C0 1px solid;font-family:Calibri; font-size:11px; font-weight:bold; font-style:normal; padding-left:2px;padding-right:2px;}
.csB5ABA507 {color:#000000;background-color:transparent;border-left-style: none;border-right:#D3D3D3 1px solid;border-bottom:#D3D3D3 1px solid;font-family:Calibri; font-size:11px; font-weight:normal; font-style:normal; padding-left:2px;}
.cs5DC853FC {color:#000000;background-color:transparent;border-left-style: none;border-top-style: none;border-right:#D3D3D3 1px solid;border-bottom:#D3D3D3 1px solid;font-family:Calibri; font-size:11px; font-weight:normal; font-style:normal; padding-left:2px;padding-right:2px;}
.cs96FF6D07 {color:#000000;background-color:transparent;border-left-style: none;border-top-style: none;border-right-style: none;border-bottom-style: none;font-family:Calibri; font-size:11px; font-weight:normal; font-style:normal; }
.cs681EBA2D {color:#000000;background-color:transparent;border-left-style: none;border-top-style: none;border-right-style: none;border-bottom-style: none;font-family:Calibri; font-size:12px; font-weight:bold; font-style:normal; padding-left:1px;}
.cs7642D58C {color:#000000;background-color:transparent;border-left-style: none;border-top-style: none;border-right-style: none;border-bottom-style: none;font-family:Calibri; font-size:12px; font-weight:normal; font-style:normal; }
.cs84D22FF3 {color:#000000;background-color:transparent;border-left-style: none;border-top-style: none;border-right-style: none;border-bottom-style: none;font-family:Calibri; font-size:12px; font-weight:normal; font-style:normal; padding-left:1px;}
.cs84D23096 {color:#000000;background-color:transparent;border-left-style: none;border-top-style: none;border-right-style: none;border-bottom-style: none;font-family:Calibri; font-size:12px; font-weight:normal; font-style:normal; padding-left:2px;}
.csBD623EE0 {color:#000000;background-color:transparent;border-left-style: none;border-top-style: none;border-right-style: none;border-bottom-style: none;font-family:Calibri; font-size:16px; font-weight:bold; font-style:normal; }
.cs590C8185 {color:#000000;background-color:transparent;border-left-style: none;border-top-style: none;border-right-style: none;border-bottom-style: none;font-family:Calibri; font-size:19px; font-weight:bold; font-style:normal; }
.cs5669B984 {color:#000000;background-color:transparent;border-left-style: none;border-top-style: none;border-right-style: none;border-bottom-style: none;font-family:'Times New Roman'; font-size:13px; font-weight:normal; font-style:normal; padding-left:2px;}
.csAC6A4475 {height:0px;width:0px;overflow:hidden;font-size:0px;line-height:0px;}
.list-header-element{
    color:#000000;
    background-color:transparent;
    border-left:#C0C0C0 1px solid;
    border-top:#C0C0C0 1px solid;
    border-right:#C0C0C0 1px solid;
    border-bottom:#C0C0C0 1px solid;
    font-family:Calibri;
    font-size:11px;
    font-weight:bold;
    font-style:normal;
    padding-left:2px;
    padding-right:2px;
}
.list-element {
    color:#000000;
    background-color:transparent;
    border-left:#D3D3D3 1px solid;
    border-top:#D3D3D3 1px solid;
    border-right:#D3D3D3 1px solid;
    border-bottom:#D3D3D3 1px solid;
    font-family:Calibri;
    font-size:11px;
    font-weight:normal;
    font-style:normal;
    padding-left:2px;
    padding-right:2px;
}
@media print {
    /* Set specific elements to display: none when printing */
    .no-print {
      display: none;
    }
    .print-only {
      display: revert !important;
      position: relative;
    }
    body {
        padding-top: 50;
        padding-left: 62;
    }
    .sic-selector select {
        display: none;
    }
    .sic-selector span {
        display: block !important;
    }
    .page-break {
      padding-top: 50;
      display: block;
      page-break-before: always;
    }
}
.page-number {
  position: absolute;
  bottom: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
}
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.spin-animation {
  animation: spin 1s infinite linear;
}

@keyframes moveAlongMiddle {
  from { transform: rotateX(0deg); }
  to { transform: rotateX(360deg); } /* Adjust the percentage based on your needs */
}

.move-along-middle-animation {
  animation: moveAlongMiddle 1s infinite linear;
}
.options-container {
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  z-index: 1;
}
.option {
  padding: 8px 12px;
  cursor: pointer;
}
.option:hover {
  background-color: #ddd;
}
.print-only {
  display: none;
}