body {
    margin-top: 0px !important;
}
#submit-form-container {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 1px;
    padding: 10px;
    border: 3px solid black;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

#submit-form-button {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: large;
    padding: 5px;
}

.spec-selector {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
    padding: 8px;
    border: 3px solid #aaaaaa;
    border-radius: 8px;
}

.spec-selector.active {
    border: 3px solid #00915a;
    background-color: #f0fff2;
}

.vda-form {
    display: none;
}

.vda-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    padding: 10px;
    border: 1px solid #333333;
    margin-bottom: 20px;
    align-items: baseline;
}

label {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #ccc;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: background-color 0.3s ease;
    width: 200px;
}

.header-toggler {
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bold;
    cursor: pointer;
    display: flex;
    white-space: pre-wrap; 
}

h1 {
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bold;
    display: flex;
    white-space: pre-wrap; 
    justify-content: center;
}

h2, h3 {
    justify-content: left;
}

.header-toggler:after {
    content: ' ▼';
    font-size: 1.2em;
    margin-left: 8px;
}

.header-toggler.active:after {
    content: ' ▲';
}

.header-toggler:hover {
    color: #4589d1;
    text-decoration: none;
}

#items-package-container .header-toggler {
    font-family: 'Courier New', Courier, monospace;
}

label:hover {
    background-color: #c7c7c7;
}

.row-input {
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    font-family: inherit;
}

.row-input:focus {
    border-color: #007bff;
    outline: none;
}

input[readonly] {
    color: #666;
    background-color: #dddddd;
    cursor: not-allowed;
}

input[readonly]:focus {
    outline: none;             /* Remove focus outline */
    border-color: #aaa;        /* Subtle border change */
}

.validation-message {
    display: none;
    margin-top: 5px;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #f05642;
    border: 2px solid black;
    border-radius: 2px;
}

.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple-animation 1s linear;
    background-color: rgba(41, 184, 52, 0.8);
}

/* Keyframe animation for the ripple */
@keyframes ripple-animation {
    to {
        transform: scale(4);
        opacity: 0;
    }
}