body {
    margin: 10px;
}
.sticky-buttons-top {
    position: fixed;
    top: 30px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 999;
}
.sticky-buttons-bottom {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 999;
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
.spin-animation {
    animation: spin 2.5s infinite linear;
    will-change: transform;
}
.btn-danger {
    padding: 5px 10px 5px 5px;
    white-space: nowrap;
}
.button-side i {
    margin-right: 5px;
}

#table-container {
    display: grid;
    justify-content: center;
}
.header th {
    background: rgb(228, 228, 228);
    border: 1px solid #333;
    padding: 10px 10px;
}
#tableBody tr td {
    border: 1px solid #333;
    padding: 5px 10px;
}
#BarcodeTable .search-fields th input {
    height: 40px;
}
#BarcodeTable .search-fields th {
    border: 1px solid #333;
}
#BarcodeTable .search-fields th button{
    width: 100%;
    height: 100%;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
    background-color: green;
    color: white;
}
.filter-code-button-container, .line-filter-code-button-container, .time-filter-code-container {
    margin: 10px;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-height: 0;
    border: none; /* Initially remove the border */
    transition: max-height 0.5s ease-out, border 0.5s ease-out; /* Add border transition */
}
.filter-code-button-container.active, .line-filter-code-button-container.active, .time-filter-code-container.active {
    max-height: 500px; /* Adjust based on content height */
    border: 1px solid rgba(0, 0, 0, 0.1); /* Add border when container becomes visible */
}
.filter-button img {
    width: 100%;
    max-width: 210px;
    height: 55px;
    filter: grayscale(100%);
    opacity: 0.5;
    cursor: pointer;
    transition: filter 0.3s;
    object-fit: contain;
}
.filter-button.active img, .line-filter-button.active img {
    filter: none;
    opacity: 1;
}
.tooltip {
    visibility: hidden;
    display: none !important;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}
.filter-button:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.line-filter-button {
    width: 33%; /* Adjust the width to fit 3 buttons in a row */
    object-fit: contain;
}

.line-filter-button img {
    width: 100%;
    height: auto;
    filter: grayscale(100%);
    opacity: 0.5;
    cursor: pointer;
    transition: filter 0.3s;
}

.line-filter-button .d-flex {
    justify-content: center; /* Center items along the main axis */
    align-items: center; /* Align items vertically */
}

.time-filter {
    margin-top: 4px;
    margin-right: 10px;
}

.loading-icon {
    display: none;
    max-width: 100px;
    max-height: 100px;
    animation: spin 1s infinite linear;
}

#alert-table {
  width: 100%;
  border-collapse: collapse;
}

#alert-table th, #alert-table td {
  padding: 8px;
  text-align: left;
}

#shippedDiv {
    
    align-self: center;
    
}
.ship-button {
    background: white;
    border: 1px solid #000000;
    border-radius: 10px;
}

#ktlCountButton,
#pressCountButton {
    display: none;
}

.active-button-border {
    border: 4px solid #0D6EFD !important;
}
.col-4 {
    padding: 0px !important;
}
#hideSideBarButton {
    position: fixed;
    top: 0;
    right: 110px;
    font-size: 30px;
    z-index: 3;
    transition: transform 0.5s ease;
}
.rotate-180 {
    transform: rotate(180deg);
}
#toast-container>div {
    opacity: 1 !important;
}
td {
    max-width: 100px;
    line-break: auto;
}
@media (max-width: 1746px) {
    .button-side span {
      display: none; /* Hide the text inside the button */
    }
    #shippedDiv {
        display: flex;
        flex-direction: column;
    }
    .button-side {
        margin: 5px;
    }
    #hideSideBarButton {
        right: 54px !important;
    }
}
@media (max-width: 1400px) {
    .container {
        margin: 0px;
    }
}
@media (max-width: 1500px) {
    .sticky-buttons-top {
        background: #f2f2f2;
        border: 5px solid #0d6efd;
    }
    #hideSideBarButton {
        right: 58px !important;
    }
    .button-side {
        margin: 5px;
    }
}
@media (max-width: 992px) {
    .line-filter-button {
        width: 75px !important;
    }
}