/* Reset and global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Sticky top bar */
.sticky-bar {
    position: sticky;
    top: 0;
    background-color: #333;
    color: white;
    text-align: center;
    z-index: 1000;
    border: 2px solid #333;
}
.title-date-bar {
    display: flex;
    flex-direction: column;
    font-size: 40px;
    font-family: "Lucida Console";
    align-items: center;
    font-weight: bold;
}
#datepicker {
    font-size: 1em;
    width: 6.1em;
    border-radius: 10px;
    font-family: "Lucida Console";
}
.ui-datepicker {
    z-index: 1001 !important;
}
.highlighted-today a {
    background-color: #fffa90 !important; /* Different color for today */
    color: black !important; /* White text for contrast */
}
.highlighted-delivery a {
    background-color: #90ec89 !important; /* Highlight color */
    color: black !important;             /* Text color */
}
.highlighted-delivery-today a {
    background: linear-gradient(45deg, #fffa90, #90ec89) !important;  /* Gradient colors */
    color: black !important;
}
.highlighted-delivery a {
    background-color: #89bfec !important; /* Highlight color */
    color: black !important;             /* Text color */
}
.highlighted-delivery-today a {
    background: linear-gradient(45deg, #89bfec, #90ec89) !important;  /* Gradient colors */
    color: black !important;
}
.regular-date a {
    background-color: #f6f6f6 !important; /* Soft gray */
    color: #444 !important; /* Dark text */
}
.ui-button.ui-state-active:hover {
    border: 3px solid #003eff !important;
}
.ui-datepicker th {
    font-family: "Lucida Console";
}
/* Scrolling logo bar */
.logo-bar {
    overflow: hidden;
    background-color: #f9f9f9;
    position: relative;
}

.logo-track {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
}

.logo {
    max-width: 150px;
    height: 55px;
    filter: grayscale(100%);
    opacity: 0.3;
    cursor: pointer;
    transition: filter 0.3s;
    object-fit: contain;
}
.logo.highlighted {
    opacity: 1;
    border-radius: 15px;
    box-shadow: inset #7ba0ff 0px 0px 17px 1px;
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Tile container */
.tile-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    justify-content: center;
}

/* Individual tiles */
.tile {
    width: 19%;
    margin: 5px 0;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    position: relative;
    font-family: 'Courier New', monospace;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
.tile .top-right {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 15px;
}
.tile .top-left {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 15px;
}
.tile .top-middle {
    font-size: 33px;
    font-weight: bold;
    overflow-wrap: break-word;
    margin-top: 6px;
    margin-bottom: 6px;
}
.tile .middle {
    font-size: 24px;
    margin-bottom: 6px;
}
.tile .middle-2 {
    font-size: 24px;
    margin-bottom: 6px;
    overflow-wrap: break-word;
    font-family: monospace;
}
.tile .bottom-middle {
    font-size: 24px;
    font-weight: bold;
}
.tile .bottom-left-logo {
    position: absolute;
    bottom: 10px;
    left: 10px;
    max-width: 40px;
    max-height: 40px;
}
.tile .bottom-right-hangers {
    position: absolute;
    font-size: 36px;
    bottom: 10px;
    right: 10px;
}
#stickyTableHeader {
    position: sticky;
    z-index: 1001;
}
/* Responsive design */
@media (max-width: 2880px) {
    .tile {
        width: calc(12%);
    }
}

@media (max-width: 2400px) {
    .tile {
        width: calc(14%);
    }
}

@media (max-width: 2048px) {
    .tile {
        width: calc(16%);
    }
}

@media (max-width: 1620px) {
    .tile {
        width: calc(19%);
    }
}

@media (max-width: 1280px) {
    .tile {
        width: calc(24%);
    }
    .logo-track {
        gap: 0;
    }
    .logo {
        margin: 0 20px;
    }
}

@media (max-width: 960px) {
    .tile {
        width: calc(32%);
    }
}

@media (max-width: 640px) {
    .tile {
        width: calc(48%);
    }
}

@media (max-width: 360px) {
    .tile {
        width: calc(99%);
    }
}