body {
    margin-top: 55px;
    margin-left: 0;
    margin-right: 8px;
}

.main-content {
    margin-top: 100px;
}

.dropdown-content {
    border-radius: 10px;
    display: none; /* Initially hide the dropdown */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    border-radius: 10px;
    display: block; /* Display links in a column */
    padding: 10px;
    text-decoration: none;
    color: #333;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

header {
    background-color: #ffffff;
    display: flex;
    border-bottom: 2px solid #00a29b;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
}

.logo-selector:hover {
    border-radius: 10px;
    background-color: #dddddd; /* Change background color on hover */
    transform: scale(1.1); /* Increase the scale (volume) on hover */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4); /* Increase the shadow on hover */
    cursor: pointer;
}

.logo-image {
    margin: 10px;
    max-width: 500px;
    max-height: 55px;
}

.drop-down-image { 
    width: 210px;
    height: 55px;
}

.logo-selector { 
    margin: 10px;
    width: 210px;
    height: 55px;
}
.drop-down-image-icon { 
    width: 55px;
    height: 55px;
}

.logo-icon  {
    margin: 10px;
    max-width: 55px;
    max-height: 55px;
}

.line-text:hover img {
    border-radius: 10px;
    background-color: #dddddd; /* Change background color on hover */
    transform: scale(1.1); /* Increase the scale (volume) on hover */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4); /* Increase the shadow on hover */
    cursor: pointer;
}

.line-text {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit the color from the parent */
    font-weight: normal; /* Set initial font weight */
}

.line-text:hover span {
    font-weight: bold; /* Change the font weight on hover */
}
@media (max-width: 1470px) {
    .logo-image {
      display: none; /* Hide the text inside the button */
    }
}