body {
    margin-top: 55px;
    margin-left: 0;
    margin-right: 8px;
}
.header-title {
    text-align: center; 
    font-weight: 1000;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}

.dropdown-content {
    border-radius: 10px;
    display: none; /* Initially hide the dropdown */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    border-radius: 10px;
    display: block; /* Display links in a column */
    padding: 10px;
    text-decoration: none;
    color: #333;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.canvas-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.titlt-container{
    display: flex;
    justify-content: center;
    text-align: center;
}

header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #00a29b;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
}

.logo-selector:hover {
    border-radius: 10px;
    background-color: #dddddd; /* Change background color on hover */
    transform: scale(1.1); /* Increase the scale (volume) on hover */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4); /* Increase the shadow on hover */
    cursor: pointer;
}

.logo-image  {
    margin-left: 20px;
    margin-right: 30px;
    max-width: 500px;
    max-height: 55px;
}
.drop-down-image { 
    width: 210px;
    height: 55px;
}

.header-txt {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.sidebar {
    width: 220px;
    background-color: #00a29b;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 85px;
    z-index: 1;
}

.sidebar a img {
    margin-right: 18px;
    margin-left: 10px;
    width: 64px;
    height: 64px;
}

.sidebar a {
    padding: 5px;
    text-decoration: none;
    text-align: left;
    font-size: 18px;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 900;
    color: white;
    display: flex;
    align-items: center;
}

.side-icon-black     {
    display: none;
}

.chart-button.active {
    color: #000000;
    background-color: #00dacf;
    border-radius: 20px;
}

.chart-button.active:hover {
    color: #000000;
    background-color: #00dacf;
    border-radius: 20px;
}

.sidebar a:hover {
    background-color: #00d4c9a8;
    border-radius: 20px;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
    z-index: 0;
}

.container {
    display: flex;
    flex-direction: column;
}
