{% extends "Bruss_header.html" %}
{% block content %}
{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!--Chart js-->
        <script src="
        https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js
        "></script>    <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <link rel="stylesheet" href="{% static 'analysis/style.css' %}">
        
        <script>
            // Function to set the active button in local storage
            document.addEventListener("DOMContentLoaded", function() {
                var chartButtons = document.querySelectorAll('.chart-button');
                var charts = document.querySelectorAll('.chart-holder');
                var iconsB = document.querySelectorAll('.side-icon-black');
                var iconsW = document.querySelectorAll('.side-icon-white');
            
                chartButtons.forEach(function(button) {
                    button.addEventListener("click", function(event) {
                        event.preventDefault();
                        // Remove the "active" class from all buttons
                        chartButtons.forEach(function(btn) {
                            btn.classList.remove("active");
                        });
    
                        // Hide black icons
                        iconsB.forEach(function(icon) {
                            icon.style.display = "none";
                        });
                        iconsW.forEach(function(icon) {
                            icon.style.display = "block";
                        });
    
                        // Hide all charts
                        charts.forEach(function(chart) {
                            chart.style.display = "none";
                        });
                        
                        // Add the "active" class to the clicked button
                        button.classList.add("active"); 
    
                        // Determine which chart to show based on the button clicked
                        var chartId = button.getAttribute('data-chart-id');
                        var chartToShow = document.getElementById(chartId);
                        var iconToShow = document.getElementById(chartId+'Black');
                        var iconToHide = document.getElementById(chartId+'White');
                        
                        // Show the selected chart
                        chartToShow.style.display = "block";
                        iconToShow.style.display = "block";
                        iconToHide.style.display = "none";
    
                        // Check if the chart container contains Chart.js charts
                        var chartsInContainer = chartToShow.querySelectorAll("canvas");
                        if (chartsInContainer.length > 0) {
                            chartsInContainer.forEach(function(canvas) {
                                // Get the Chart.js instance associated with the canvas
                                var chartInstance = Chart.getChart(canvas);
                                if (chartInstance) {
                                    // Update the Chart.js chart
                                    chartInstance.reset();
                                    chartInstance.update();
                                }
                            });
                        }
                    });
                });
            });
                
            // jquery function
            // charts
            $(document).ready(function(){
                var ctx = document.getElementById('demandStockShipment3Bars').getContext('2d');
                var demandStockShipment3Bars = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: [{% for data in all_id %}'{{data}}',{% endfor %}], 
                        datasets: [
                          {
                            label: 'Stock',
                            data: [{% for data in all_stock %}{{data}},{% endfor %}],
                            backgroundColor: 'rgba(245, 203, 66, 0.5)',
                            borderColor: 'rgb(245, 203, 66)',
                            borderWidth: 1
                          },
                          {
                            label: 'Shipped',
                            data: [{% for data in all_order %}{{data}},{% endfor %}],
                            backgroundColor: 'rgba(19, 209, 89, 0.5)',
                            borderColor: 'rgb(19, 209, 89)',
                            borderWidth: 1
                          },
                          {
                            label: 'Delay',
                            data: [{% for data in all_delay %}{{data}},{% endfor %}],
                            backgroundColor: 'rgba(54, 162, 235, 0.5)',
                            borderColor: 'rgb(54, 162, 235)',
                            borderWidth: 1
                          },
                        ]
                    },
                });   

                var ctx = document.getElementById('totalBar').getContext('2d');
                var backlogBar = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: [{% for data in weeks_list %}'{{data}}',{% endfor %}], 
                        datasets: [
                        {
                            label: 'Delay',
                            yAxisID: 'A',
                            animations: {
                                y: {
                                  duration: 4000,
                                  delay: 500
                                }
                              },   
                            data: [{% for data in total_delay_list %}'{{data}}',{% endfor %}],
                            tension: 0.5,
                            backgroundColor: 'rgba(245, 203, 66, 0.5)',
                            borderColor: 'rgb(245, 203, 66)',
                        },
                        {
                            label: 'Shipment',
                            yAxisID: 'B',
                            animations: {
                                y: {
                                  duration: 6000,
                                  delay: 0
                                }
                              },    
                            data: [{% for data in total_orders_list %}'{{data}}',{% endfor %}],
                            tension: 0.5,
                            backgroundColor: 'rgba(54, 162, 235, 0.5)',
                            borderColor: 'rgb(54, 162, 235)',
                        },
                        ]
                    },
                    options: {
                        scales: {
                            A: {
                                type: 'linear',
                                position: 'right',
                                ticks: {
                                    max: 400,
                                    min: -350
                                }
                            },
                            B: {
                                type: 'linear',
                                position: 'left',

                            }
                        },
                        responsive: true,
                        plugins: {
                            subtitle: {
                                display: true,
                                text: 'Total delay: {{total_delay}}',
                                color: 'black',
                                font: {
                                  size: 40,
                                  family: 'tahoma',
                                  weight: 'normal',
                                },
                                padding: {
                                  bottom: 10
                                }
                              }
                        }
                    },
                    animations: {
                        y: {
                          easing: 'easeInOutElastic',
                          from: (ctx) => {
                            if (ctx.type === 'data') {
                              if (ctx.mode === 'default' && !ctx.dropped) {
                                ctx.dropped = true;
                                return 0;
                              }
                            }
                          }
                        }
                      },
                }); 
            });
        </script>
        <title>Bruss</title>
    </head>
    <body>
        <div id="chartSS" class="chart-holder">
            <h2 class='header-title'>Order exit / Supply</h2>
            <div class="canvas-container">
                <canvas id="demandStockShipment3Bars" style="max-width:1500px;max-height:750px"></canvas>
            </div>
        </div>
        <div id="chartTotal" class="chart-holder">
            <h2 class='header-title' ></h2>
            <div class="canvas-container">
                <canvas id="totalBar" style="max-width:1500px;max-height:750px"></canvas>
            </div>
        </div>
      </body>
</html>

{% endblock content %}  