{% extends "Mubea_header.html" %}
{% block content %}
{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Chart js-->
    <script src="
    https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js
    "></script>
        <!-- Zoom-->
        <script src="
        https://cdn.jsdelivr.net/npm/hammerjs@2.0.8/hammer.min.js
        "></script>
        <script src="
        https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@2.0.1/dist/chartjs-plugin-zoom.min.js
        "></script>
    <!-- jQuery -->
    <script src="
    https://code.jquery.com/jquery-3.3.1.min.js
    "></script>
    
    <link rel="stylesheet" href="{% static 'analysis/style.css' %}">

    <script>
        // Function to set the active button in local storage
        document.addEventListener("DOMContentLoaded", function() {
            var chartButtons = document.querySelectorAll('.chart-button');
            var charts = document.querySelectorAll('.chart-holder');
            var iconsB = document.querySelectorAll('.side-icon-black');
            var iconsW = document.querySelectorAll('.side-icon-white');
        
            chartButtons.forEach(function(button) {
                button.addEventListener("click", function(event) {
                    event.preventDefault();
                    // Remove the "active" class from all buttons
                    chartButtons.forEach(function(btn) {
                        btn.classList.remove("active");
                    });

                    // Hide black icons
                    iconsB.forEach(function(icon) {
                        icon.style.display = "none";
                    });
                    iconsW.forEach(function(icon) {
                        icon.style.display = "block";
                    });

                    // Hide all charts
                    charts.forEach(function(chart) {
                        chart.style.display = "none";
                    });
                    
                    // Add the "active" class to the clicked button
                    button.classList.add("active"); 

                    // Determine which chart to show based on the button clicked
                    var chartId = button.getAttribute('data-chart-id');
                    var chartToShow = document.getElementById(chartId);
                    var iconToShow = document.getElementById(chartId+'Black');
                    var iconToHide = document.getElementById(chartId+'White');
                    
                    // Show the selected chart
                    chartToShow.style.display = "block";
                    iconToShow.style.display = "block";
                    iconToHide.style.display = "none";

                    // Check if the chart container contains Chart.js charts
                    var chartsInContainer = chartToShow.querySelectorAll("canvas");
                    if (chartsInContainer.length > 0) {
                        chartsInContainer.forEach(function(canvas) {
                            // Get the Chart.js instance associated with the canvas
                            var chartInstance = Chart.getChart(canvas);
                            if (chartInstance) {
                                // Update the Chart.js chart
                                chartInstance.reset();
                                chartInstance.update();
                            }
                        });
                    }
                });
            });
        });
        // charts
        $(document).ready(function(){
            var ctx = document.getElementById('demandStockShipment3Bars').getContext('2d');
            var demandStockShipment3Bars = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [{% for data in demand_ident %}'{{data}}',{% endfor %}], 
                    datasets: [
                      {
                        label: 'Stock',
                        data: [{% for data in stock_values %}{{data}},{% endfor %}],
                        backgroundColor: 'rgba(245, 203, 66, 0.5)',
                        borderColor: 'rgb(245, 203, 66)',
                        borderWidth: 1
                      },
                      {
                        label: 'Shipped',
                        data: [{% for data in shipment_values %}{{data}},{% endfor %}],
                        backgroundColor: 'rgba(54, 162, 235, 0.5)',
                        borderColor: 'rgb(54, 162, 235)',
                        borderWidth: 1
                      },
                      {
                        label: 'Production',
                        data: [{% for data in production_values %}{{data}},{% endfor %}],
                        backgroundColor: 'rgba(19, 209, 89, 0.5)',
                        borderColor: 'rgb(19, 209, 89)',
                        borderWidth: 1
                      },
                      {
                        label: 'Demand',
                        data: [{% for data in demand_values %}{{data}},{% endfor %}],
                        backgroundColor: 'rgba(255, 99, 132, 0.5)',
                        borderColor: 'rgb(255, 99, 132)',
                        borderWidth: 1
                      },
                    ]
                },
                options: {
                    scales: {
                      y: {
                        type: 'logarithmic',
                      }
                    },
                    plugins: {
                        zoom: {
                          limits: {
                            y: {min: 0,max: 300000, minRange: 5}
                          },
                          pan: {
                            enabled: true,
                            mode: 'xy',
                          },
                          zoom: {
                            wheel: {
                              enabled: true
                            },
                            pinch: {
                              enabled: true,
                            },
                            mode: 'xy',
                          },
                        }
                    },
                },
            });   
            var ctx = document.getElementById('totalPercentagePie').getContext('2d');
            var totalPercentagePie = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ['fulfiled', 'missing'],
                    datasets: [{
                        data: [{{total_percentage_plus}}, {{total_percentage_minus}}],
                        backgroundColor: ['rgba(54, 162, 235, 0.8)', 'rgb(255, 99, 132, 0.8)'],
                        borderColor: ['rgb(54, 162, 235)', 'rgb(255, 99, 132)'],
                        borderWidth: 1,
                    }]
                },
                options: {
                    tooltips: {
                        callbacks: {
                            label: function(tooltipItem, data) {
                                var dataset = data.datasets[tooltipItem.datasetIndex];
                                var currentValue = dataset.data[tooltipItem.index];
                                return currentValue + '%';
                            }
                        }
                    },
                }
            });
            var ctx = document.getElementById('totalPercentageBar').getContext('2d');
            var totalPercentageBar = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [{% for data in id_per_ident %}'{{data}}',{% endfor %}],
                    datasets: [{
                        label: '% of demant fulfilment',
                        data: [{% for data in id_per_values %}'{{data}}',{% endfor %}],
                        borderWidth: 1,
                        backgroundColor: function(context) {
                            var value = context.dataset.data[context.dataIndex];
                            // Check if the value is below 0, and set the color accordingly
                            return value < 0 ? 'rgb(225, 0, 0)' : 'rgba(0, 162, 155, 1)'; 
                        }
                    }]
                },
                options: {

                    tooltips: {
                        callbacks: {
                            label: function(tooltipItem, data) {
                                return data.datasets[tooltipItem.datasetIndex].label + ": " + tooltipItem.yLabel + "%";
                            }
                        }
                    },
                }
            });
            const zoomOptions = {
                pan: {
                enabled: true,
                mode: 'x',
                modifierKey: 'ctrl',
                },
                zoom: {
                drag: {
                    enabled: true
                },
                mode: 'x',
                },
            };
            const panStatus = () => zoomOptions.pan.enabled ? 'enabled' : 'disabled';
            const zoomStatus = () => zoomOptions.zoom.drag.enabled ? 'enabled' : 'disabled';
            var ctx = document.getElementById('backlogBar').getContext('2d');
            var backlogBar = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [{% for data in weeks_list %}'{{data}}',{% endfor %}], 
                    datasets: [
                    {
                        label: 'Backlog',
                        animations: {
                            y: {
                              duration: 4000,
                              delay: 500
                            }
                          },   
                        data: [{% for data in total_backlog_list %}'{{data}}',{% endfor %}],
                        type: 'bar',
                        backgroundColor: 'rgba(245, 203, 66, 0.5)',
                        borderColor: 'rgb(245, 203, 66)',
                    },
                    {
                        label: 'Shipment',
                        animations: {
                            y: {
                              duration: 6000,
                              delay: 0
                            }
                          },    
                        data: [{% for data in total_shipment_list %}'{{data}}',{% endfor %}],
                        tension: 0.5,
                        backgroundColor: 'rgba(54, 162, 235, 0.5)',
                        borderColor: 'rgb(54, 162, 235)',
                    },
                    {
                        label: 'Production',
                        animations: {
                            y: {
                              duration: 6000,
                              delay: 0
                            }
                          },   
                        data: [{% for data in total_production_list %}'{{data}}',{% endfor %}],
                        tension: 0.5,
                        backgroundColor: 'rgba(19, 209, 89, 0.5)',
                        borderColor: 'rgb(19, 209, 89)',
                    },
                    {
                        label: 'Demand',
                        animations: {
                            y: {
                              duration: 6000,
                              delay: 0
                            }
                          },   
                        data: [{% for data in total_demand_list %}'{{data}}',{% endfor %}],
                        tension: 0.5,
                        backgroundColor: 'rgba(255, 99, 132, 0.5)',
                        borderColor: 'rgb(255, 99, 132)',
                    },
                    ]
                },
                options: {
                    responsive: true,
                    plugins: {
                        zoom: zoomOptions,
                        title: {
                            display: true,
                            position: 'bottom',
                            text: (ctx) => 'Zoom: ' + zoomStatus() + ', Pan (Ctrl): ' + panStatus()
                          },
                        subtitle: {
                            display: true,
                            text: 'Total backlog: {{total_backlog}}',
                            color: 'black',
                            font: {
                              size: 40,
                              family: 'tahoma',
                              weight: 'normal',
                            },
                            padding: {
                              bottom: 10
                            }
                          }
                    }
                },
                animations: {
                    y: {
                      easing: 'easeInOutElastic',
                      from: (ctx) => {
                        if (ctx.type === 'data') {
                          if (ctx.mode === 'default' && !ctx.dropped) {
                            ctx.dropped = true;
                            return 0;
                          }
                        }
                      }
                    }
                  },
            });
            // Create a reset button and add a click event listener to it
            var resetZoomDSS = document.getElementById('reset-zoom-DSS');
            resetZoomDSS.addEventListener('click', function() {
                demandStockShipment3Bars.resetZoom();
            });
            var resetZoomBacklog = document.getElementById('reset-zoom-backlog');
            resetZoomBacklog.addEventListener('click', function() {
                backlogBar.resetZoom();
            });
        });
    </script>
    <title>Mubea</title>
  </head>
  <body>
    <div id="chartTotalPer" class="chart-holder">
        <h2 class='header-title' >Demand fulfilment </h2>
        <div class="canvas-container">
            <canvas id="totalPercentagePie"style="max-width:300px;max-height:300px;"></canvas>
        </div>
        <div class="canvas-container">
            <canvas id="totalPercentageBar" style="max-width:1500px;max-height:750px"></canvas>
        </div>
    </div>  
    <div id="chartDSS" class="chart-holder">
        <h2 class='header-title'>Demand / Shipment / Supply / Production</h2>
        <div class="canvas-container">
            <canvas id="demandStockShipment3Bars" style="max-width:1500px;max-height:750px"></canvas>
        </div>
        <div class="canvas-container">
            <button id="reset-zoom-DSS">Reset Zoom</button>
        </div>
    </div>
    <div id="chartBacklog" class="chart-holder">
        <h2 class='header-title' ></h2>
        <div class="canvas-container">
            <canvas id="backlogBar" style="max-width:1500px;max-height:750px"></canvas>
        </div>
        <div class="canvas-container">
            <button id="reset-zoom-backlog">Reset Zoom</button>
        </div>
    </div>
  </body>
</html>
{% endblock content %}