{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Chart js-->
    <script src="
    https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js
    "></script>
        <!-- Zoom-->
        <script src="
        https://cdn.jsdelivr.net/npm/hammerjs@2.0.8/hammer.min.js
        "></script>
        <script src="
        https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@2.0.1/dist/chartjs-plugin-zoom.min.js
        "></script>
    <!-- jQuery -->
    <script src="
    https://code.jquery.com/jquery-3.3.1.min.js
    "></script>

    <link rel="stylesheet" href="{% static 'analysis/style.css' %}">

    <script>
        // charts
        $(document).ready(function(){
            var ctx = document.getElementById('shapeBar').getContext('2d');
            var shapeBar = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [{% for data in shape_dict.keys %}'{{data}}',{% endfor %}], 
                    datasets: [
                    {
                        label: 'Shape',
                        animations: {
                            y: {
                              duration: 4000,
                              delay: 500
                            }
                          },   
                        data: [{% for data in shape_dict.values %}'{{data}}',{% endfor %}],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.5)',  // Color for the first bar
                            'rgba(54, 162, 235, 0.5)', // Color for the second bar
                            'rgba(255, 206, 86, 0.5)', // Color for the third bar
                            // Add more colors as needed
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            // Add more border colors as needed
                        ],
                        borderWidth: 1,
                        type: 'bar',
                    },
                    ]
                },
                options: {
                    responsive: true,
                    plugins: {

                        subtitle: {
                            display: true,
                            text: 'Production by shape ',
                            color: 'black',
                            font: {
                              size: 40,
                              family: 'tahoma',
                              weight: 'normal',
                            },
                            padding: {
                              bottom: 10
                            }
                          }
                    }
                },
                animations: {
                    y: {
                      easing: 'easeInOutElastic',
                      from: (ctx) => {
                        if (ctx.type === 'data') {
                          if (ctx.mode === 'default' && !ctx.dropped) {
                            ctx.dropped = true;
                            return 0;
                          }
                        }
                      }
                    }
                  },
            });
            var ctx = document.getElementById('monthBar').getContext('2d');
            var monthBar = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [{% for data in month_dict.keys %}'{{data}}',{% endfor %}], 
                    datasets: [
                    {
                        label: 'Months',
                        animations: {
                            y: {
                              duration: 4000,
                              delay: 500
                            }
                          },   
                        data: [{% for data in month_dict.values %}'{{data}}',{% endfor %}],
                        backgroundColor: [
                            'rgba(255, 0, 0, 0.5)',
                            'rgba(255, 165, 0, 0.5)',
                            'rgba(255, 255, 0, 0.5)',
                            'rgba(0, 128, 0, 0.5)',
                            'rgba(0, 0, 255, 0.5)',
                            'rgba(75, 0, 130, 0.5)',
                            'rgba(148, 0, 211, 0.5)',
                            'rgba(255, 192, 203, 0.5)',
                            'rgba(165, 42, 42, 0.5)',
                            'rgba(0, 255, 255, 0.5)',
                            'rgba(144, 238, 144, 0.5)',
                            'rgba(0, 0, 0, 0.5)',
                        ],
                        borderColor: [
                            'rgba(255, 0, 0, 1)',
                            'rgba(255, 165, 0, 1)',
                            'rgba(255, 255, 0, 1)',
                            'rgba(0, 128, 0, 1)',
                            'rgba(0, 0, 255, 1)',
                            'rgba(75, 0, 130, 1)',
                            'rgba(148, 0, 211, 1)',
                            'rgba(255, 192, 203, 1)',
                            'rgba(165, 42, 42, 1)',
                            'rgba(0, 255, 255, 1)',
                            'rgba(144, 238, 144, 1)',
                            'rgba(0, 0, 0, 1)',
                        ],
                        borderWidth: 1,
                        type: 'bar',
                    },
                    {
                      label: 'Linear Regression',
                      data: {{ chart_data.predictions|safe }},
                      borderColor: 'red',
                      fill: false,
                      type: 'line',
                    },
                    {
                      label: 'Seasonal',
                      data: [{% for data in seasonal_data.values %}'{{data}}',{% endfor %}],
                      borderColor: 'green',
                      fill: false,
                      type: 'line',
                  },
                  {
                      label: 'Trend',
                      data: [{% for data in trend_data.values %}'{{data}}',{% endfor %}],
                      borderColor: 'blue',
                      fill: false,
                      type: 'line',
                  }
                    ]
                },
                options: {
                    responsive: true,
                    plugins: {

                        subtitle: {
                            display: true,
                            text: 'Production by month ',
                            color: 'black',
                            font: {
                              size: 40,
                              family: 'tahoma',
                              weight: 'normal',
                            },
                            padding: {
                              bottom: 10
                            }
                          }
                    }
                },
                animations: {
                    y: {
                      easing: 'easeInOutElastic',
                      from: (ctx) => {
                        if (ctx.type === 'data') {
                          if (ctx.mode === 'default' && !ctx.dropped) {
                            ctx.dropped = true;
                            return 0;
                          }
                        }
                      }
                    }
                  },
            });
            var data = {
              labels: [{% for data in ident_val_dict.keys %}'{{data}}',{% endfor %}],
              datasets: [{
                label: 'Horizontal Bar Chart',
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1, 
                data: [{% for data in ident_val_dict.values %}'{{data}}',{% endfor %}], 
                barThickness: 20,
              }]
            };
        
            // Chart configuration
            var options = {
              indexAxis: 'y', 
              scales: {
                x: {
                  beginAtZero: true
                }
              },
              plugins: {
                  subtitle: {
                      display: true,
                      text: 'Production by ident ',
                      color: 'black',
                      font: {
                        size: 40,
                        family: 'tahoma',
                        weight: 'normal',
                      },
                      padding: {
                        bottom: 10
                      }
                    }
              }
            };
        
            // Get the canvas element
            var ctx = document.getElementById('horizontalBarChart').getContext('2d');
        
            // Create the horizontal bar chart
            var horizontalBarChart = new Chart(ctx, {
              type: 'bar', // Specify the chart type
              data: data,
              options: options
            });
        });
    </script>
    <title>Mubea Year</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <form class="container" method="post" action="{% url 'mubea_year' %}">
      {% csrf_token %}
      <div class="row">
        {{ year_form.date_from.label_tag }}
        {{ year_form.date_from }}
        {{ year_form.date_to.label_tag }}
        {{ year_form.date_to }}
      </div>
    <div class="row">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    </form>
    <div class="chart-holder">
        <div class="canvas-container">
            <canvas id="shapeBar" style="max-width:1500px;max-height:750px"></canvas>
        </div>

    </div>
    <div class="chart-holder">
      <div class="canvas-container">
          <canvas id="monthBar" style="max-width:1500px;max-height:750px"></canvas>
      </div>
    </div>

    <div class="chart-holder">
      <div class="canvas-container">
        <canvas id="horizontalBarChart" height="500"></canvas>
      </div>
    </div>
  </body>
</html>
