{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>MUBEA CW {{calendar_week}}</title>
    <link rel="icon" type="image/png" href="{% static 'img/GTM_logo_mini.png' %}">
    <link rel="stylesheet" href="{% static 'analysis/style.css' %}">

    <script>
        function toggleDropdown() {
            var dropdown = document.getElementById("imageDropdown");
            if (dropdown.style.display === "block") {
                dropdown.style.display = "none";
            } else {
                dropdown.style.display = "block";
            }
        }

        window.onclick = function(event) {
            if (!event.target.matches('.logo-image')) {
                var dropdown = document.getElementById("imageDropdown");
                if (dropdown.style.display === "block") {
                    dropdown.style.display = "none";
                }
            }
        }
    </script>
    
</head>
<body>
    <div class="container">
        <header>
            <img src="{% static 'img/GTM_logo.svg' %}" class="logo-image" alt="GTM Logo">
            <h1 class="header-txt">Analysis CW {{calendar_week}}</h1>
            <div class="CalendarWeek">
                <form method="post" id="update-form">
                    <label class="header-txt" for="cw">Select CW:</label>
                    <input type="text" name="cw" value="{{calendar_week}}">
                    {% csrf_token %}
                    <button type="submit">Select</button>
                </form>
            </div>
            <div>
                <img src="{% static 'img/MUBEA_logo.png' %}" class="logo-image logo-selector" onclick="toggleDropdown()" alt="MUBEA Logo">
                <div id="imageDropdown" class="dropdown-content">
                    <a href="{% url 'bruss_analysis' %}"><img src="{% static 'img/BRUSS_logo.png' %}" class="drop-down-image" alt="BRUSS Logo"></a>
                    <a href="{% url 'mubea_analysis' %}"><img src="{% static 'img/MUBEA_logo.png' %}" class="drop-down-image" alt="MUBEA Logo"></a>
                </div>
            </div>
        </header>
        <div class="sidebar">
            <a href="" data-chart-id="chartTotalPer" class="chart-button">
                <img src="{% static 'img/need-white.png' %}" id="chartTotalPerWhite" class="side-icon-white"></img>
                <img src="{% static 'img/need.png' %}" id="chartTotalPerBlack" class="side-icon-black"></img>
                Fulfilment
                Percentage
            </a>

            <a href="" data-chart-id="chartDSS" class="chart-button">
                <img src="{% static 'img/conveyor-white.png' %}" id="chartDSSWhite" class="side-icon-white"></img>
                <img src="{% static 'img/conveyor.png' %}" id="chartDSSBlack" class="side-icon-black"></img>
                Logistics
            </a>
            <a href="" data-chart-id="chartBacklog" class="chart-button">
                <img src="{% static 'img/backlog-white.png' %}" id="chartBacklogWhite" class="side-icon-white"></img>
                <img src="{% static 'img/backlog.png' %}" id="chartBacklogBlack" class="side-icon-black"></img>
                Backlog
             </a>

        </div>
        <div class="main-content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>
