{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Usage Mubea</title>
    <link rel="icon" type="image/png" href="{% static 'img/GTM_logo_mini.png' %}">
    <link rel="stylesheet" href="{% static 'usage/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>

    <script>
        function toggleDropdownClient() {
            var dropdown = document.getElementById("imageDropdownClient");
            if (dropdown.style.display === "block") {
                dropdown.style.display = "none";
            } else {
                dropdown.style.display = "block";
            }
        }
        function toggleDropdownLine() {
            var dropdown = document.getElementById("imageDropdownLine");
            if (dropdown.style.display === "block") {
                dropdown.style.display = "none";
            } else {
                dropdown.style.display = "block";
            }
        }

    </script>
    
</head>
<body>        
    <header>
        <img src="{% static 'img/GTM_logo.svg' %}" class="logo-image" alt="GTM Logo">
        <div class="container">
            <div class="row m-0">
                <div class="col-2">
                    <a onclick="toggleDropdownLine()" class="line-text">
                        <img src="{% static 'img/galvanizing.png' %}" class="logo-icon" alt="Select line">
                        <span>Select line</span>   
                    </a>
                    <div id="imageDropdownLine" class="dropdown-content">
                        <a href="{% url 'usage_siegenia' %}">
                            <img src="{% static 'img/zinc.png' %}" class="drop-down-image-icon" alt="Zinc Icon">,
                            Zinc coating
                        </a>
                        <a href="{% url 'usage_siegenia' %}">
                            <img src="{% static 'img/zinc.png' %}" class="drop-down-image-icon" alt="Zinc Icon">
                            Zinc coating    
                        </a>
                    </div>
                </div>
                <div class="col-3">
                    <img src="{% static 'img/PARTNER_logo.png' %}" class="logo-selector" onclick="toggleDropdownClient()" alt="PARTNER Logo">
                    <div id="imageDropdownClient" class="dropdown-content">
                        <a href="{% url 'usage_siegenia' %}"><img src="{% static 'img/SIEGENIA_logo.png' %}" class="drop-down-image" alt="SIEGENIA Logo"></a>
                        <a href="{% url 'usage_mubea' %}"><img src="{% static 'img/MUBEA_logo.png' %}" class="drop-down-image" alt="MUBEA Logo"></a>
                    </div>
                </div>
                <div class="col-2 text-center align-self-center">
                    <button id="exportExcelButton" type="button" class="btn btn-success">Export Excel</button>
                </div>
                <div class="col-2 text-center">
                    <div class="row">
                        <div class="col-12">Current date range</div>
                    </div>
                    <div class="row">
                        <div class="col-12">{{ date_from|date:"d M Y" }}</div>
                    </div>
                    <div class="row">
                        <div class="col-12">{{ date_to|date:"d M Y" }}</div>
                    </div>
                </div>
                <div class="col-2 align-self-center">
                    <form id="dateForm" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-3">
                                {{ date_form.date_from.label_tag }} 
                            </div>
                            <div class="col-3">
                                {{ date_form.date_from }}   
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                {{ date_form.date_to.label_tag }}
                            </div>
                            <div class="col-3">
                                {{ date_form.date_to }}     
                            </div>
                        </div>

                    </form>
                </div>
                <div class="col-1 align-self-center">
                    <input id="formSubmitButton" type="button" value="Submit">
                </div>     
            </div>
        </div>
    </header>
    <div class="main-content">
        {% block content %}
        {% endblock %}
    </div>
    <script>
    </script>
</body>
</html>
