{% extends "usage_header.html" %}
{% block content %}
{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="{% static 'img/GTM_logo_mini.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!--Chart js-->
    <script src="
    https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js
    "></script>
        <!-- Zoom-->
        <script src="
        https://cdn.jsdelivr.net/npm/hammerjs@2.0.8/hammer.min.js
        "></script>
        <script src="
        https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@2.0.1/dist/chartjs-plugin-zoom.min.js
        "></script>
    <!-- jQuery -->
    <script src="
    https://code.jquery.com/jquery-3.3.1.min.js
    "></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.full.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>

    <title>Usage Siegenia</title>
    </head>
<body>
    <div class="container">
        <h1 class="d-flex justify-content-center">UNFINISHED</h1>
    </div>
    <table class="table table-bordered table-striped" id="DataTable">
        <thead class="header">
            <tr>
                {% for head in header %}
                    <th>{{ head }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody id="tableBody">
            {% for row in table_data %}
                <tr>
                    {% for col in row %}
                        <td >
                            {{ col }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
        <tfoot class="footer">
            <tr id="tfoot">
                <th>Total</th>
                {% for head in header %}
                    {% if forloop.counter != 1%}
                    <th> </th>
                    {% endif %}
                {% endfor %}
            </tr>
        </tfoot>
    </table>
    <div class="container">
        <h1 class="d-flex justify-content-center">UNFINISHED</h1>
    </div>
</body>
<script>
    $(document).ready(function () {
        dataTable = $('#DataTable').DataTable({
            'order': [[2, 'desc']],
            'pageLength': 10000,
            "dom": "frt",
            "infoCallback": function(settings, start, end, max, total, pre) {
                var displayedEntries = end - start + 1;
                var totalColor = displayedEntries < total ? 'red' : '';
                var totalFont = displayedEntries < total ? '20px' : '';
                var infoHTML = '<div>Showing ' + start + ' to ' + end + ' of <span style="color: ' + totalColor + '; font-size: '+ totalFont +'">' + total + '</span> entries (filtered from ' + max + ' total entries)</div>';
                return infoHTML;
            },
        });
        $('#DataTable tfoot tr').appendTo('#DataTable thead');
        $('#DataTable').css('display', 'table');

        for(columnIndex = 2; columnIndex < 7; columnIndex++) {
            var table = document.getElementById("DataTable");
            var rows = table.getElementsByTagName('tr');
            var sum = 0;
        
            for (var i = 2; i < rows.length; i++) {
                var cells = rows[i].getElementsByTagName('td');
                sum += parseFloat(cells[columnIndex].innerHTML) || 0;
            }
        
            // Update the footer with the calculated sum
            var footerCell = document.getElementById("tfoot").getElementsByTagName('th')[columnIndex];
            if (columnIndex == 2){
                footerCell.innerHTML = sum.toFixed(0) + ' pcs.';
            } else if (columnIndex == 5) {
                footerCell.innerHTML = sum.toFixed(4);
            } else {
                footerCell.innerHTML = sum.toFixed(2);
            }
        }
    });
</script>
</html>
{% endblock content %}