{% extends "usage_header.html" %}
{% block content %}
{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!--Chart js-->
    <script src="
    https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js
    "></script>
        <!-- Zoom-->
        <script src="
        https://cdn.jsdelivr.net/npm/hammerjs@2.0.8/hammer.min.js
        "></script>
        <script src="
        https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@2.0.1/dist/chartjs-plugin-zoom.min.js
        "></script>
    <!-- jQuery -->
    <script src="
    https://code.jquery.com/jquery-3.3.1.min.js
    "></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.full.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.4/xlsx.full.min.js"></script>

    <title>Siegenia</title>
    </head>
<body>
    <div class="container">
        <h1 class="d-flex justify-content-center">UNFINISHED</h1>
    </div>
    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Total</th>
                <th scope="col">Mubea</th>
            </tr>
            </thead>
            <tbody>
                {% for row in total_table %}
                    <tr>
                        {% for col in row %}
                            <td >
                                {{ col }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            
            </tbody>
        </table>
    </div>
    <table class="table table-bordered table-striped" id="DataTable">
        <thead class="header">
            <tr>
                {% for head in header_main %}
                    <th>{{ head }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody id="tableBody">
            {% for row in table_data_main %}
                <tr>
                    {% for col in row %}
                        <td >
                            {{ col }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
        <tfoot class="footer">
            <tr id="tfoot">
                <th>Total</th>
                {% for head in header_main %}
                    {% if forloop.counter != 1%}
                    <th> </th>
                    {% endif %}
                {% endfor %}
            </tr>
        </tfoot>
    </table>
    <div class="container">
        <h1 class="d-flex justify-content-center">UNFINISHED</h1>
    </div>
</body>
<script>
    $(document).ready(function () {
        // Get all image elements with class "image-to-change"
        var images = document.getElementsByClassName('logo-selector');

        // Iterate over the collection of image elements
        for (var i = 0; i < images.length; i++) {
            var image = images[i];
            
            // Change src attribute
            image.src = "{% static 'img/MUBEA_logo.png' %}";
            
            // Change alt attribute
            image.alt = 'MUBEA Logo';
        }

        dataTable = $('#DataTable').DataTable({
            'order': [[3, 'desc']],
            'pageLength': 10000,
            "dom": "frt",
        });
        $('#DataTable tfoot tr').appendTo('#DataTable thead');
        $('#DataTable').css('display', 'table');

        for(columnIndex = 3; columnIndex < 13; columnIndex++) {
            var table = document.getElementById("DataTable");
            var rows = table.getElementsByTagName('tr');

            var sum = 0;
            if (rows.length >= 4) {
                for (var i = 2; i < rows.length; i++) {
                    var cells = rows[i].getElementsByTagName('td');
                    sum += parseFloat(cells[columnIndex].innerHTML) || 0;
                }
                // Update the footer with the calculated sum
                var footerCell = document.getElementById("tfoot").getElementsByTagName('th')[columnIndex];
                if (columnIndex == 3 || columnIndex == 4){
                    footerCell.innerHTML = Math.round(sum).toLocaleString('pl-PL') + ' pcs.';
                } else if (columnIndex == 5) {
                    footerCell.innerHTML =  parseFloat(sum.toFixed(4)).toLocaleString('pl-PL');
                } else {
                    footerCell.innerHTML = parseFloat(sum.toFixed(2)).toLocaleString('pl-PL');
                }
            }

        }

        var form = document.getElementById('dateForm');
        form.action = "{% url 'usage_mubea' %}";

        function checkDates() {
            console.log(form.elements);
            var date1 = new Date(form.elements.id_date_from.value);
            var date2 = new Date(form.elements.id_date_to.value);
    
            // Compare the dates
            if (date2 >= date1) {
                // Manually submit the form
                form.submit();
            }
        }
    
        var submitBtn = document.getElementById('formSubmitButton');

        // Add event listener to the button for click event
        submitBtn.addEventListener('click', function(event) {
            // Prevent the default form submission behavior
            event.preventDefault();
            console.log(event);
            // Check if the second date is greater than the first date
            checkDates();
        });

        var excelBtn = document.getElementById('exportExcelButton');

        excelBtn.addEventListener('click', function(event) {
            /* Fetch the tables */
            var tables = document.querySelectorAll('table');
            var wb = XLSX.utils.book_new();
        
            /* Process each table */
            tables.forEach(function(table, index) {
                var ws = XLSX.utils.table_to_sheet(table);
                XLSX.utils.book_append_sheet(wb, ws, 'Sheet ' + (index + 1));
            });
        
            /* Save the Excel file */
            XLSX.writeFile(wb, 'tables.xlsx');
        });
    });
</script>
</html>
{% endblock content %}