<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barcode Scanner</title>
    <link rel="icon" type="image/png" href="{% static 'img/GTM_logo_mini.png' %}">
</head>
<body>
    <h1>Barcode Scanner</h1>
    <input type="text" id="barcodeInput" oninput="handleBarcodeInput()" />
    <div id="result"></div>

    <script>
        function handleBarcodeInput() {
            const barcodeInput = document.getElementById('barcodeInput').value;


            // Make an HTTP request to your Django backend
            fetch('barcode_test/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ barcode: barcodeInput }),
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('result').innerHTML = `Scanned Barcode: ${data.barcode}`;
            })
            .catch(error => {
                console.error('Error setting barcode:', error);
            });
        }
    </script>
</body>
</html>
