{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bruss Menu</title>   
    <link rel="icon" type="image/png" href="{% static 'img/BRUSS_logo_mini.png' %}">
    <link rel="stylesheet" href="{% static 'css/bruss_menu.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://cdn.datatables.net/2.0.6/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.datatables.net/fixedheader/4.0.1/js/dataTables.fixedHeader.js" rel="stylesheet" type="text/css">
    <link href="https://cdn.datatables.net/fixedheader/4.0.1/js/fixedHeader.dataTables.js" rel="stylesheet" type="text/css">
    {% csrf_token %}
</head>

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>

    <script src="https://cdn.datatables.net/2.0.6/js/dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/4.0.1/js/fixedHeader.dataTables.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/4.0.1/js/dataTables.fixedHeader.js"></script>

<script>
    var dataTable = null;
    
    function redirectToURL(url) {
        window.location.href = url;
    }
    function queryTable(button, table) {
        var refreshIcon = button.querySelector('img');
        var img = button.querySelector('img');
        var originalSrc = img.src;

        // Change the image source to the loading/spinner image
        img.src = "{% static 'img/refresh.png' %}"; 

        // Add the spin-animation class to start spinning
        refreshIcon.classList.add('spin-animation');

        $.ajax({
            url: '',
            method: 'GET',
            dataType: 'json',
            data: {'table': table},
            success: function (data) {
                if (data.headers && data.data) {
                    if (dataTable !== null) {
                        dataTable.destroy();
                    }
                    populateTableHeaders(data.headers);
                    populateTableBody(data.data);
                    initializeDataTable();
                }
            },
            error: function (error) {
                console.log('Error:', error);
            },
            complete: function () {
                // Remove the spin-animation class after the AJAX request is complete
                refreshIcon.classList.remove('spin-animation');
                // Revert back to the original image source
                img.src = originalSrc;
            },
        });
    }
    function populateTableHeaders(headers) {
        var thead = $('#example thead');
        thead.empty(); // Clear existing table headers
        var headerRow = $('<tr></tr>');
        headers.forEach(function(header) {
            headerRow.append('<th>' + header + '</th>');
        });
        thead.append(headerRow);
    }
    function populateTableBody(data) {
        var tbody = $('#example tbody');
        tbody.empty(); // Clear existing table body
        data.forEach(function(row) {
            var tr = $('<tr></tr>');
            Object.values(row).forEach(function(cell) {
                tr.append('<td>' + cell + '</td>');
            });
            tbody.append(tr);
        });
    }
    function initializeDataTable() {
        // Initialize DataTable
        dataTable = $('#example').DataTable({
            layout: {
                topStart: 'info',
                topEnd: 'search',
                bottomStart: null,
                bottomEnd: 'paging'
            },
            fixedHeader: {
                header: true,
                footer: true
            },
            'order': [[0, 'desc']],
            'pageLength': 100,
        });
    }
    $(document).ready(function () {
        var header = document.getElementById("bHeader");
        var scrollTrigger = 400; // Change this value to the scroll amount where you want the header to stop being sticky
    
        window.onscroll = function() {scrollFunction()};
    
        function scrollFunction() {
        if (document.body.scrollTop > scrollTrigger || document.documentElement.scrollTop > scrollTrigger) {
            header.style.top = "-70px"; // Hide the header when scrolled a certain amount
        } else {
            header.style.top = "0"; // Keep the header sticky if not scrolled enough
        }
        }
    });
</script>
<body>
    <header id="bHeader">
        <button type="button" class="btn btn-outline-success" id="backButton" onclick="redirectToURL('{% url 'bruss_menu_v' %}')">
            <i class="fa-solid fa-chevron-left"></i>
        </button>
        <img src="{% static 'img/BRUSS_logo.png' %}" class="logo-image logo-selector" alt="BRUSS Logo">
    </header>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="btn-group-vertical" role="group">
                <div class="btn-group" role="group">
                    <button class="ui-btn btn btn-light btn-lg" onclick="queryTable(this, 'orders')">
                        <img src="{% static 'img/order.png' %}" class="scaled-image" />
                        <span class="button-text"> Zamówienia</span>
                    </button>
                    <button class="ui-btn btn btn-light btn-lg" onclick="queryTable(this, 'idents')">
                        <img src="{% static 'img/filter.png' %}" class="scaled-image" />
                        <span class="button-text"> Legenda</span>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button class="ui-btn btn btn-light btn-lg" onclick="queryTable(this, 'press')">
                        <img src="{% static 'img/press-machine.png' %}" class="scaled-image" />
                        <span class="button-text"> Kody prasy</span>
                    </button>
                    <button class="ui-btn btn btn-light btn-lg" onclick="queryTable(this, 'sic')">
                        <img src="{% static 'img/load.png' %}" class="scaled-image" />
                        <span class="button-text"> WZ Magazyn</span>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button class="ui-btn btn btn-light btn-lg" onclick="queryTable(this, 'plan_p')">
                        <img src="{% static 'img/phosphorus_bnw.png' %}" class="scaled-image" />
                        <span class="button-text"> Plany Fosfor</span>
                    </button>
                    <button class="ui-btn btn btn-light btn-lg" onclick="queryTable(this, 'plan_ktl')">
                        <img src="{% static 'img/metal.png' %}" class="scaled-image" />
                        <span class="button-text"> Plany KTL</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="table-container">
            <table id="example" class="table table-bordered table-striped">
                <thead>
                    <!-- Table headers will be added dynamically -->
                </thead>
                <tbody>
                    <!-- Table body will be added dynamically -->
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
