{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bruss Menu</title>   
    <link rel="icon" type="image/png" href="{% static 'img/BRUSS_logo_mini.png' %}">
    <link rel="stylesheet" href="{% static 'css/bruss_menu.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% csrf_token %}
</head>

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>

<script>
    function redirectToURL(url) {
        window.location.href = url;
    }
    $(document).ready(function () {
        $('.ui-btn').on('mousedown', function (e) {
            // Remove any existing ripple
            const existingRipple = this.querySelector('.ripple');
            if (existingRipple) existingRipple.remove();

            // Get the click position and button dimensions
            const rect = this.getBoundingClientRect();
            const ripple = document.createElement('span');
            const size = Math.max(rect.width, rect.height);
            const x = e.clientX ? e.clientX - rect.left - size / 2 : e.clientX || rect.width / 2 - size / 2;
            const y = e.clientY ? e.clientY - rect.top - size / 2 : e.clientY || rect.height / 2 - size / 2;

            // Set ripple properties
            ripple.style.width = ripple.style.height = `${size}px`;
            ripple.style.left = `${x}px`;
            ripple.style.top = `${y}px`;
            ripple.classList.add('ripple');

            // Append ripple to the button
            this.appendChild(ripple);

            // Remove ripple after animation
            ripple.addEventListener('animationend', () => ripple.remove());
        });
});
</script>
<body>
    <header id="bHeader">
        <img src="{% static 'img/BRUSS_logo.png' %}" class="logo-image logo-selector" alt="BRUSS Logo">
    </header>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="btn-group-vertical" role="group">
                <div class="btn-group" role="group">
                    <button class="ui-btn btn btn-light btn-lg" onclick="redirectToURL('{% url 'press_label' %}')">
                        <img src="{% static 'img/press-machine.png' %}" class="scaled-image"></img>
                        <span class="button-text"> Etykiety prasy</span>
                    </button>
                    <button class="ui-btn btn btn-light btn-lg" onclick="redirectToURL('{% url 'stock_issue_confirmation' %}')">
                        <img src="{% static 'img/load.png' %}" class="scaled-image"></img>
                        <span class="button-text"> WZ Magazyn</span>
                    </button>
                    <button class="ui-btn btn btn-light btn-lg" onclick="redirectToURL('{% url 'sic_display' %}')">
                        <img src="{% static 'img/cargo.png' %}" class="scaled-image"></img>
                        <span class="button-text"> WZ Logistyka</span>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button class="ui-btn btn btn-light btn-lg" onclick="redirectToURL('{% url 'view_barcodes' %}')">
                        <img src="{% static 'img/barcode-scanner.png' %}" class="scaled-image"></img>
                        <span class="button-text"> Kody lista</span>
                    </button>
                    <button class="ui-btn btn btn-light btn-lg" onclick="redirectToURL('{% url 'new_bruss_barcode' %}')">
                        <img src="{% static 'img/barcode.png' %}" class="scaled-image"></img>
                        <span class="button-text"> Kod karta</span>
                    </button>
                    <button class="ui-btn btn btn-light btn-lg" onclick="redirectToURL('{% url 'new_rework_barcode' %}')">
                        <img src="{% static 'img/barcode_2.png' %}" class="scaled-image"></img>
                        <span class="button-text"> Kod rework</span>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button class="ui-btn btn btn-light btn-lg" onclick="redirectToURL('{% url 'plan_menu' %}')">
                        <img src="{% static 'img/production.png' %}" class="scaled-image"></img>
                        <span class="button-text"> Planowanie</span>
                    </button>
                    <button class="ui-btn btn btn-light btn-lg" onclick="redirectToURL('{% url 'warehouse_menu' %}')">
                        <img src="{% static 'img/warehouse_menu.png' %}" class="scaled-image"></img>
                        <span class="button-text"> Magazyn</span>
                    </button>
                    <button class="ui-btn btn btn-light btn-lg" onclick="redirectToURL('{% url 'bruss_db' %}')">
                        <img src="{% static 'img/database.png' %}" class="scaled-image"></img>
                        <span class="button-text"> Baza danych</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
