{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{% static 'img/GTM_logo_mini.png' %}">
    <title>Labels</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.js"></script>
    <script src="{% static 'js/jquery-barcode.js' %}">
        
        /*!
            *  BarCode Coder Library (BCC Library)
            *  BCCL Version 2.0
            *    
            *  Porting : jQuery barcode plugin 
            *  Version : 2.0.3
            *   
            *  Date    : 2013-01-06
            *  Author  : DEMONTE Jean-Baptiste <jbdemonte@gmail.com>
            *            HOUREZ Jonathan
            *             
            *  Web site: http://barcode-coder.com/
            *  dual licence :  http://www.cecill.info/licences/Licence_CeCILL_V2-fr.html
            *                  http://www.gnu.org/licenses/gpl.html
        */
    </script>
    {% csrf_token %}
</head>
<style>
    .body {
        margin-top: 0px; 
        top: 0; 
    }
    .barcode-holder {
        display: flex;
        flex-direction: column;
        justify-content: flex-end; 
        align-items: center;
        font-size: 50px;
    }
    .barcode-code {
        border: 10px solid;
        border-radius: 20px;
        padding: 10px;
    }
    .HRI-holder {
        font-family: Arial, sans-serif;
        font-weight: bold;
    }
    .article-holder{
        padding:5px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end; 
        align-items: center;
        font-family: Arial, sans-serif;
        font-weight: bold;
        font-size: 80px;
    }
    .page-break {
        page-break-after: always;
    }
</style>
<script>
    function onSuccessBarcode(code, name) {
        jQuery(function(){
            function generateBarcode(value, bcType, container){
                
                var btype = bcType;
                var renderer = "css";
                var settings = {
                    output:renderer,
                    bgColor: "#FFFFFF",
                    color: "#000000",
                    barWidth: 3,
                    barHeight: 150,
                    addQuietZone: true,
                    fontSize: 60,
                    moduleSize: 13,
                };
                // width   7
                // height 200
                // margin-top: 350px
                jQuery(container).html("").show().barcode(value, btype, settings);
            }
        
            const extractedNumbers = code;
            const extractedNames = name;
            console.log(code);
            console.log(name);
            var prasyLabelContainer = document.body;
            for (let i = 1; i <= extractedNumbers.length; i++) {
                if (extractedNumbers && extractedNumbers.length > 0) {
                    // Create the elements to hold variables
                    var barcodeHolder = document.createElement("div");
                    barcodeHolder.className = "barcode-holder";
                    var articleHolder = document.createElement("div");
                    articleHolder.className = "article-holder";

                    //var timestamp = new Date().toLocaleString();
                    //var dateCreated = document.createElement("span");
                    //dateCreated.textContent = timestamp;

                    var articleSpan = document.createElement("span");
                    articleSpan.className = `article-${i}`;
    
                    var quantitySpan = document.createElement("span");
                    quantitySpan.className = `quantity-${i}`;
    
                    //var cardSpan = document.createElement("span");
                    //cardSpan.className = `card-${i}`;
    
                    var barcodeSpan = document.createElement("span");
                    barcodeSpan.className = `barcode-code barcode-${i}`;
                    var pageBreak = document.createElement("div");

                    if(i % 3 === 0 && i !== extractedNumbers.length){
                        pageBreak.className = `page-break`;
                    }

                    // Append the <span> elements to the "article-holder" <div>
                    articleHolder.appendChild(articleSpan);
                    articleHolder.appendChild(quantitySpan);
                    //articleHolder.appendChild(cardSpan);
    
                    barcodeHolder.appendChild(articleHolder);
                    barcodeHolder.appendChild(barcodeSpan);
                    //barcodeHolder.appendChild(dateCreated);

                    prasyLabelContainer.appendChild(barcodeHolder);

                    prasyLabelContainer.appendChild(pageBreak);
    
                    generateBarcode(extractedNumbers[i-1], "code128", `.barcode-${i}`);
                    barcodeSpan.style.padding = '10px'; 
                }
                else
                    console.log(`No 'order_number_${i}' parameter found in the URL.`);
                
                if (articleSpan && extractedNames && extractedNames.length > 0) {
                    articleSpan.textContent = extractedNames[i-1];
                }
                else
                    articleSpan.textContent = " ";
            }

            savePDFandSend();

        });
    }
    function savePDFandSend() {
        var htmlContent = document.body;
        // Generate PDF using html2pdf from the specified div
        // Options for html2pdf
        opt = {
            filename: 'generated.pdf',
            image: { type: 'jpeg', quality: 0.98 },
            jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait', compressPDF: false },
        };
        html2pdf().set(opt).from(htmlContent).toPdf().get('pdf').then(function (pdfObj) {
            const perBlob = pdfObj.output('blob');
        
            var formData = new FormData();
            formData.append('file', perBlob, opt.filename);
            sendPdfToServer(formData);
        });
    }
    function sendPdfToServer(formData) {
        fetch('handle_pdf/', {
            method: 'POST',
            body: formData,
        })
        .then(response => {
            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }
            return response.json();
        })
        .then(data => {
            alert('Server response: ' + data.message);
            console.log('Server response:', data);
            window.location.href = "{% url 'press_label' %}";
        })
        .catch(error => {
            alert('Error sending PDF to server:', error);
            console.error('Error sending PDF to server:', error);
        });
    }

    var nameBC = [{% for data in order_id %}'{{data}}',{% endfor %}];
    var codeBC = [{% for data in order_name %}'{{data}}',{% endfor %}];
    onSuccessBarcode(nameBC, codeBC); 
    //setTimeout(savePDFandSend, 2000);
</script>
<body>

</body>
</html>
