
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" lang="en-gb">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="icon" type="image/png" href="{% static 'img/GTM_logo_mini.png' %}">
    <title>Generator etykiet BRUSS</title>
    <link rel="stylesheet" href="{% static 'css/bruss_barcode.css' %}">
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.qrcode/1.0/jquery.qrcode.min.js" integrity="sha512-NFUcDlm4V+a2sjPX7gREIXgCSFja9cHtKPOL1zj6QhnE0vcY695MODehqkaGYTLyL2wxe/wtr4Z49SvqXq12UQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'js/jquery-barcode.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


<body id="bd">
	<script>
		function getBusinessDate(businessDays) {
			let currentDate = new Date(); // Start from today
			let addedDays = 0;
		
			while (addedDays < businessDays) {
				currentDate.setDate(currentDate.getDate() + 1); // Move to the next day
		
				// Check if the current day is a business day (Monday to Friday)
				const dayOfWeek = currentDate.getDay(); // 0 = Sunday, 6 = Saturday
				if (dayOfWeek !== 0 && dayOfWeek !== 6) {
					addedDays++; // Increment only for business days
				}
			}
		
			return formatDate(currentDate);
		}

		function formatDate(date) {
			const day = date.getDate().toString().padStart(2, '0'); // Add leading zero for single-digit days
			const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
			const month = monthNames[date.getMonth()]; // Get month name
			const year = date.getFullYear(); // Get full year
		
			return `${day} ${month} ${year}`;
		}
		
		function convertToDateFormat(input) {
			// Extract the date part (assuming the format "Days (18 Nov 2024)")
			const datePattern = /\((\d{1,2}) (\w+) (\d{4})\)/;
			const match = input.match(datePattern);
		
			if (match) {
				// Extract day, month, and year
				const day = match[1];
				const monthName = match[2];
				const year = match[3];
		
				// Convert month name to month number (0-indexed)
				const months = [
					"Jan", "Feb", "Mar", "Apr", "May", "Jun",
					"Jul", "Aug", "Sep", "Oct", "Nov", "Dec"
				];
				const month = months.indexOf(monthName);
		
				// Create a new Date object
				const date = new Date(year, month, day);
		
				// Format the date to dd.mm.yyyy
				const formattedDate = [
					String(date.getDate()).padStart(2, '0'),  // day
					String(date.getMonth() + 1).padStart(2, '0'),  // month (1-indexed)
					date.getFullYear()  // year
				].join('.');
		
				return formattedDate;
			} else {
				return 'Invalid Date Format';
			}
		}

		function generateQR(ele, value) {
			qrElement = ele.closest('.kanbanWrapper').find('.barcodeGTM');
			qrElement.empty();
			qrElement.qrcode({
				text: value,
				width: 100,
				height: 100
			});

			$('#latestCode').text(`Ostatni wykorzystany kod: ${value}`)
		}

		function getNextCode() {
			let highestValue = 0;

			// Iterate over all elements with the class barcodeGTMText
			$('.barcodeGTMText').each(function () {
				const text = $(this).text() || $(this).val(); // Get the text or value of the element
		
				// Extract the numeric part (assumes format like '000B00416')
				const numericPart = text.slice(4); // Extract everything after '000B'
				const numericValue = parseInt(numericPart, 10); // Convert to an integer
		
				// Update the highest value found
				if (numericValue > highestValue) {
					highestValue = numericValue;
				}
			});
		
			// Generate the next barcode
			const nextValue = (highestValue + 1).toString().padStart(5, '0'); // Pad to 5 digits
			const nextBarcode = `000B${nextValue}`;
		
			return nextBarcode;
		}

		function printingHandler() {
			// Function to replace Select2 with plain text for printing
			function handleBeforePrint() {
				$('.article-select-holder').each(function() {
					const selectedText = $(this).find(':selected').text();
					// Hide the Select2 container
					$(this).next('.select2-container').hide();
					// Insert plain text with the selected option before the Select2 container
					$(this).after(`<span class="articleWrapper print-only">${selectedText}</span>`);
				});

				$('.ls-text').each(function() {
					const lsText = $(this).text();

					if (!lsText.trim()) {
						$(this).closest('.LSTitle').hide();
					}
				})
			}
		
			// Function to revert back to Select2 after printing
			function handleAfterPrint() {
				// Remove the plain text
				$('.print-only').remove();
				// Show the Select2 container again
				$('.article-select-holder').next('.select2-container').show();

				$('.LSTitle').each(function() {
					$(this).show();
				})
			}
		
			// Attach the print events
			if (window.matchMedia) {
				const mediaQueryList = window.matchMedia('print');
				mediaQueryList.addListener((mql) => {
					if (mql.matches) {
						handleBeforePrint();
					} else {
						handleAfterPrint();
					}
				});
			} else {
				window.onbeforeprint = handleBeforePrint;
				window.onafterprint = handleAfterPrint;
			}

			$('#print-button').on('click', function() {
				window.print();
			});
		}

		function select2Handler() {
			$('.article-select-holder').select2({
				placeholder: 'Wybierz artykuł',
				allowClear: true
			});

			$('.article-select-holder').on('select2:select', function(e) {
				// Get the selected option element
				const selectedOption = $(e.target).find(':selected');
		  
				// Retrieve data attributes from the selected option
				const packaging = selectedOption.data('packaging');
				const days_deadline = selectedOption.data('days-deadline');
				const default_quantity = selectedOption.data('default-quantity');
				let day_str;
				// Populate HTML elements with the selected data
				quantityWrapper = $(this).closest('.barcodeInfoWrapper').find('.quantityWrapper');
				packagingWrappe = $(this).closest('.barcodeInfoWrapper').find('.packagingWrapper');
				deliveryWrapper = $(this).closest('.barcodeInfoWrapper').find('.deliveryWrapper');

				quantityWrapper.html(`${default_quantity}`);
				packagingWrappe.html(`${packaging}`);
				if (days_deadline != 1){
					day_str = 'Days'
				} else {
					day_str = 'Day'
				}
				deliveryWrapper.html(`Target Delivery Date
				<br>
				<span class="n-days" contenteditable="true">${days_deadline}</span>
				 <span class="n-days-date">${day_str} (${getBusinessDate(days_deadline)})</span>`);
				
			  });

			// Clear the fields when the selection is cleared
			$('.article-select-holder').on('select2:clear', function() {
				quantityWrapper.text('');
				packagingWrappe.text('');
				deliveryWrapper.text('');
			});
		}

		function inputHandler() {
			$(document).on('input', '.bcgtmtxt', function(e) {
				generateQR($(this), $(this).text());
			});

			$(document).on('input', '.n-days', function(e) {
				e.preventDefault(); // Prevent the default behavior (e.g., form submission)
				const daysDate = $(this).siblings('.n-days-date');
				const daysDeadline = $(this).text();
				let day_str;

				if (daysDeadline != 1) {
					day_str = 'Days'
				} else {
					day_str = 'Day'
				}

				daysDate.text(`${day_str} (${getBusinessDate(daysDeadline)})`);
			});

			$(document).on('change', '.kanbanDropdown', function(e) {
				let txtContainer = $(this).siblings('.kanbanCountWrapper');
				const selectedValue = $(this).val(); // Get selected value
                if (selectedValue.includes('-')) {
					txtContainer.html(`Kanban
					<input class="kanbanInput" type="number"></input><span class="print-input"></span>-<input class="kanbanInput" type="number"></input><span class="print-input"></span>/<input class="kanbanInput" type="number"></input><span class="print-input"></span>`);
				}
				else if (selectedValue.includes('/')) {
					txtContainer.html(`Kanban
					<input class="kanbanInput" type="number"></input><span class="print-input"></span>/<input class="kanbanInput" type="number"></input><span class="print-input"></span>`);
				}
				else if (selectedValue == 'custom') {
					txtContainer.html(`<span contenteditable=true>custom<span>`)
				}
				else {
					txtContainer.text(selectedValue); // Update the editable div
				}
			});

			$(document).on('input', '.kanbanInput', function(e) {
				let $span = $(this).next('.print-input'); // Find the next sibling with class "input-value"
				if ($span.length) {
					$span.text($(this).val()); // Update the span's text with the input's value
				}
			});
		}

		function copyHandler() {
			$(document).on('click', '.copy-button', function() {
				let thisCardElement = $(this).closest('.card')
				let kanbanString = thisCardElement.find('.kanbanCountWrapper').html();

				// Regex to match <input> tags
				let inputSpanRegex = /<input[^>]*class="kanbanInput"[^>]*>(<span[^>]*class="print-input"[^>]*>.*?<\/span>)/g;

				// Replace inputs with their associated span values
				kanbanString = kanbanString.replace(inputSpanRegex, function(match, spanMatch) {
					// Extract the value inside the span
					let span = $(spanMatch); // spanMatch is the full span element
					let value = span.text() || 0; // Get the value inside the span (default to 0 if empty)
					
					// Find and remove the corresponding input and span elements from the DOM
					let input = $(match).find('input.kanbanInput');
					input.remove(); // Remove the input element
					span.remove();  // Remove the span element
					
					// Return just the value from the span
					return value; // Replace the input+span with just the value from the span
				});

				// Regex to match the pattern "number-number/number"
				let regex = /\d+-\d+\/\d+/;
			
				// Default values for the range
				let start = 0;
				let end = 1;
				let afterSlash = null;

				// Find the match in the string
				let kanbanMatch = kanbanString.match(regex);
			
				if (kanbanMatch) {
					// Extract the numbers before and after '-'
					let rangeMatch = kanbanMatch[0].match(/(\d+)-(\d+)/); // Captures the range
					if (rangeMatch) {
						start = parseInt(rangeMatch[1], 10); // Number before '-'
						end = parseInt(rangeMatch[2], 10);   // Number after '-'
					}
					let slashMatch = kanbanMatch[0].match(/\/(\d+)/); // Captures the number after '/'
					if (slashMatch) {
						afterSlash = parseInt(slashMatch[1], 10);
					}
					thisCardElement.find('.kanbanCountWrapper').text(`Kanban ${start}/${afterSlash}`);

				} else {
					start = 0;
					end = 1; // Ensures the loop runs exactly once
				}

				for (let i = start + 1; i <= end; i++) {
					var copiedElement = thisCardElement.clone();

					var selectedOptionValue = thisCardElement.find('.article-select-holder').val();
					
					copiedElement.find('.article-holder').replaceWith(`
						<div class="article-holder">
							<select class="article-select-holder">
								<option></option> <!-- Placeholder option -->
								{% for article in articleIDs %}
									<option 
										value="{{ article.id }}"
										data-packaging="{{ article.packaging }}"
										data-days-deadline="{{ article.days_deadline }}"
										data-default-quantity="{{ article.default_quantity }}"
									>
										{{ article.number }} - {{ article.description }}
									</option>
								{% endfor %}
							</select>
						</div>
					`);
					if (kanbanMatch) {
						copiedElement.find('.kanbanCountWrapper').text(`Kanban ${i}/${afterSlash}`);
					}
					copiedElement.find('.article-select-holder').val(selectedOptionValue);

					if (i == start + 1) {
						thisCardElement.after(copiedElement);
					} else {
						oldCopiedElement.after(copiedElement);
					}

					nextQRvalue = getNextCode();
					copiedElement.find('.barcodeGTMText').text(nextQRvalue);
					generateQR(copiedElement.find('.bcgtmtxt'), nextQRvalue);
					
					oldCopiedElement = copiedElement;

					copiedElement.fadeOut(1000, function() {
						$(this).fadeIn(1000);
					});
				}
				select2Handler();
            });
		}

		function deleteHandler() {
			$(document).on('click', '.delete-single-card', function() {
				let confirm = window.confirm(`Usunąń kartę ${$(this).closest('.card').find('.bcgtmtxt').text()}?`);
				if (confirm) {
					$(this).closest('.card').remove();
				}
			});
		}

		function newTabHandler() {
			$(document).on('click', '.print-single-button', function(e) {
				const elementContent = $(this).closest(".card").prop("outerHTML");
				let titleText = $(this).closest(".card").find('.select2-selection__rendered').text();
				titleText = titleText.replace(/\b\d{5} - /g, '');
				titleText = titleText.replace(/ph/gi, '');
				titleText = titleText.replace(/[\/:*?"<>|]/g, '');

				const kanbanContent = $(this).closest(".card").find(".kanbanCountWrapper").html();

				const inputCount = (kanbanContent.match(/<input[^>]*>/g) || []).length;
				if (inputCount > 1) {
					titleText += ` K${kanbanContent.match(/<span[^>]*>(.*?)<\/span>/)[1]}`;
				} else if (kanbanContent.includes("Single order")) {
					titleText += ` SO`;
				} else if (kanbanContent.includes("Kanban")) {
					titleText += ` K${kanbanContent.replace("Kanban ", '').split('/')[0]}`;
				} 
				titleText += ` ${convertToDateFormat($(this).closest(".card").find(".n-days-date").text())}`
				// Open a blank tab
				const newTab = window.open("", "_blank");

				// Send the HTML content to Django
				$.ajax({
					url: "{% url 'single_card_view' %}",
					method: "POST",
					data: {
						html_content: elementContent,
						title: titleText
					},
					success: function(response) {
						newTab.document.open();
						newTab.document.write(response); // Write the fetched HTML
						newTab.document.close();
					},
					error: function(error) {
						console.error("Error:", error);
					}
				});
			});
		}

		function rippleButtonHandler() {
			$('#print-button').on('mousedown', function (e) {
				// Remove any existing ripple
				const existingRipple = this.querySelector('.ripple');
				if (existingRipple) existingRipple.remove();

				// Get the click position and button dimensions
				const rect = this.getBoundingClientRect();
				const ripple = document.createElement('span');
				const size = Math.max(rect.width, rect.height);
				const x = e.clientX ? e.clientX - rect.left - size / 2 : e.clientX || rect.width / 2 - size / 2;
				const y = e.clientY ? e.clientY - rect.top - size / 2 : e.clientY || rect.height / 2 - size / 2;

				// Set ripple properties
				ripple.style.width = ripple.style.height = `${size}px`;
				ripple.style.left = `${x}px`;
				ripple.style.top = `${y}px`;
				ripple.classList.add('ripple');

				// Append ripple to the button
				this.appendChild(ripple);

				// Remove ripple after animation
				ripple.addEventListener('animationend', () => ripple.remove());
			});
		}
		$(document).ready(function() {
			const dateNow = new Date();

			const dateFormatted = dateNow.toLocaleDateString('en-GB', { day: '2-digit', month: 'short', year: 'numeric' });
			const timeFormatted = dateNow.toLocaleTimeString('en-GB', { hour: '2-digit', minute: '2-digit', hour12: false });

			$('.date-time-container').text(`${dateFormatted} ${timeFormatted}`);

			printingHandler();
			select2Handler();
			inputHandler();
			copyHandler();
			deleteHandler();
			newTabHandler();
			rippleButtonHandler();
			
			generateQR($('.bcgtmtxt'), $('.bcgtmtxt').text());
		});
	</script>

	<div class="no-print" id="sticky-header">
		<h2>
			Ostatni zapisany kod: {{ savedBarcodeGTM }}
		</h2>
		<button id="print-button">
			Drukuj
		</button>
		<h2 id="latestCode"></h2>
		
	</div>

	<div class="cards-containter">
		<div class="card pagebreak" style="margin: 10px;">			
			<div class="kanbanWrapper">
					
				<div style="float: left;">
					<button class="no-print copy-button">
						Copy
					</button>
					<button class="no-print print-single-button">
						Print
					</button>
					<button class="no-print delete-single-card">
						Delete
					</button>
				</div>

				<div style="float: right;" contenteditable="true" class="date-time-container"></div>
			
				<div class="kanbanTitle">
					GALWANOTECHNIKA MRĄGOWO
				</div>
				
				<div class="confirmBarcodeWrapper">
				</div>
				
				<div class="barcodeInfoWrapper">
				
					<div class="articleWrapper">
						Article
					</div>
					<div class="article-holder">
						<select class="article-select-holder">
							<option></option>  <!-- Placeholder option -->
							{% for article in articleIDs %}
								<option 
									value="{{ article.id }}"
									data-packaging="{{ article.packaging }}"
									data-days-deadline="{{ article.days_deadline }}"
									data-default-quantity="{{ article.default_quantity }}"
								>
									{{ article.number }} - {{ article.description }}
								</option>
							{% endfor %}
						</select>
					</div>
					<div class="articleWrapper">
						<select class="no-print kanbanDropdown">
							<option value="" disabled selected>-- Select an option --</option>
							<option value="Single order">Single order</option>
							<option value="Kanban /">Kanban /</option>
							<option value="Kanban -/">Kanban -/</option>
							<option value="custom">custom</option>
						</select>
						<br class="no-print">
						<span class="kanbanCountWrapper"></span>
					</div>
					
					<div class="infoKbDiv">
						Quantity
						<br>
						<span class="quantityWrapper" contenteditable="true"></span>
					</div>
					
					<div class="infoKbDiv">
						Packaging
						<br>
						<span class="packagingWrapper" contenteditable="true"></span>
					</div>
					
					<div class="infoKbDiv deliveryWrapper">
						Target Delivery Date
						<br>
						<span class="n-days" contenteditable="true"> </span>
						<span class="n-days-date">Days ()</span>				
					</div>
					
				</div>
				
				<div class="kanbanCommentWrapper">
					Galwanotechnika Mrągowo contact:
					<span>logistyka2@galwanotechnika.eu</span>
				</div>
				<div class="LSTitle">
					<span contenteditable="true">Delivery note: </span>
					<span contenteditable="true" class="ls-text"></span>
				</div>
				<div class="kanbanTitle">
					<span class="barcodeGTM"></span>
				</div>
				<div class="kanbanTitle">
					<span contenteditable="true" class="barcodeGTMText bcgtmtxt">{{ barcodeGTM }}</span>
				</div>
			</div>
		</div>
	</div>
</body>

</html>