<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Barcode Generator</title>
    <link rel="icon" type="image/png" href="{% static 'img/GTM_logo_mini.png' %}">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="{% static 'js/jquery-barcode.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <script>
        /*!
            *  BarCode Coder Library (BCC Library)
            *  BCCL Version 2.0
            *    
            *  Porting : jQuery barcode plugin 
            *  Version : 2.0.3
            *   
            *  Date    : 2013-01-06
            *  Author  : DEMONTE Jean-Baptiste <jbdemonte@gmail.com>
            *            HOUREZ Jonathan
            *             
            *  Web site: http://barcode-coder.com/
            *  dual licence :  http://www.cecill.info/licences/Licence_CeCILL_V2-fr.html
            *                  http://www.gnu.org/licenses/gpl.html
        */
    </script>
</head>
<style>
    body {
        top: 0; 
    }
    .barcode-holder {
        font-size: 31px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end; 
        align-items: center;
        border: 4px solid #000;
        padding: 12px;
        border-radius: 20px;
        margin-top: 4px;
    }
    .HRI-holder {
        font-family: Arial, sans-serif;
        font-weight: bold;
    }
    .article-holder{
        display: flex;
        flex-direction: column;
        justify-content: flex-end; 
        align-items: center;
        font-family: Arial, sans-serif;
        font-weight: bold;
    }
    .page-break {
        page-break-after: always;
    }
    .printer-status {
        display: flex;
        align-items: center;
        font-size: 24px; /* Adjust the font size as needed */
    }
    .printer-status::before {
        padding-top: 30px;
        font-size: 80px; /* Adjust the font size for the icon only */
    }
    .printer-online::before {
        content: "\2022"; /* Bullet point character */
        color: green; /* Green color for online state */
        animation: pulsate 1.5s infinite; /* Pulsating effect animation */
    }

    .printer-offline::before {
        content: "\2022"; /* Bullet point character */
        color: gray; /* Gray color for offline state */
    }

    @keyframes pulsate {
        0% { opacity: 0.5; }
        50% { opacity: 1; }
        100% { opacity: 0.5; }
    }
    .printer-text {
        padding-top: 32px;
    }
    #info {
        display: none;
        margin-left: 100px;
        margin-right: 100px;
    }
</style>
<script>
    jQuery(function(){  
        function generateBarcode(value, bcType, container){
            
            var btype = bcType;
            var renderer = "css";
            var settings = {
                output:renderer,
                bgColor: "#FFFFFF",
                color: "#000000",
                barWidth: 4,
                barHeight: 112,
                fontSize: 20,
                addQuietZone: true
            };

            jQuery(container).html("").show().barcode(value, btype, settings);
        }
        const extractedNumbers = {{codes_to_print|safe }};
        for (let i = 1; i <= extractedNumbers.length; i++) {
            if (extractedNumbers && extractedNumbers.length > 0) {
                // Create the elements to hold variables
                var barcodeHolder = document.createElement("div");
                barcodeHolder.className = "barcode-holder";
                var articleHolder = document.createElement("div");
                articleHolder.className = "article-holder";

                var articleSpan = document.createElement("span");
                articleSpan.className = `article-${i}`;

                var quantitySpan = document.createElement("span");
                quantitySpan.className = `quantity-${i}`;

                var cardSpan = document.createElement("span");
                cardSpan.className = `card-${i}`;

                var barcodeSpan = document.createElement("span");
                barcodeSpan.className = `barcode${i}`;
                
                var pageBreak = document.createElement("div");
                if (i % 4 === 0)
                    pageBreak.className = `page-break`;

                // Append the <span> elements to the "article-holder" <div>
                articleHolder.appendChild(articleSpan);
                articleHolder.appendChild(quantitySpan);
                articleHolder.appendChild(cardSpan);

                barcodeHolder.appendChild(articleHolder);
                barcodeHolder.appendChild(barcodeSpan);

                document.querySelector('.printing-area').appendChild(barcodeHolder);
                document.querySelector('.printing-area').appendChild(pageBreak);

                generateBarcode(extractedNumbers[i-1][0], "code128", `.barcode${i}`);

            }
            
            articleSpan.textContent = extractedNumbers[i-1][1];
        
            quantitySpan.textContent = extractedNumbers[i-1][2];

            cardSpan.textContent = extractedNumbers[i-1][3];
        }
    });
    function savePDFandSend() {
        var htmlContent = document.querySelector('.printing-area');

        // Generate PDF using html2pdf from the specified div
        // Options for html2pdf
        opt = {
            filename: 'generatedRework.pdf',
            image: { type: 'jpeg', quality: 0.98 },
            jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait', compressPDF: false },
        };
        html2pdf().set(opt).from(htmlContent).toPdf().get('pdf').then(function (pdfObj) {
            const perBlob = pdfObj.output('blob');
        
            var formData = new FormData();
            formData.append('file', perBlob, opt.filename);
            formData.append('source', 'rework');
            sendPdfToServer(formData);
        });
    }
    function sendPdfToServer(formData) {
        fetch("{% url 'handle_pdf' %}", {
            method: 'POST',
            body: formData,
        })
        .then(response => {
            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }
            return response.json();
        })
        .then(data => {
            alert('Server response: ' + data.message);
            console.log('Server response:', data);
            window.location.href = "{% url 'new_rework_barcode' %}";
        })
        .catch(error => {
            alert('Error sending PDF to server:', error);
            console.error('Error sending PDF to server:', error);
        });
    }

    $(document).ready(function() {
        $('#infoButton').click(function() {
            $('#info').toggle();
        });
    });
    function fetchDataFromServer() {
        $.ajax({
            url: '/tools/press_label/check_printer/',
            method: 'GET',
            success: function(response) {
                if (response.printerStatus === 'online') {
                    var printerStatusContainer = document.getElementById("printerStatusContainer");
                    printerStatusContainer.classList.remove("printer-online", "printer-offline");
                    printerStatusContainer.classList.add("printer-" + response.printerStatus);

                    var printerStatusContainerSpan = document.getElementById("printerStatusContainerSpan");
                    printerStatusContainerSpan.innerHTML = "Drukarka " + response.printerStatus;
                
                } else if (response.printerStatus === 'offline') {
                    var printerStatusContainer = document.getElementById("printerStatusContainer");
                    printerStatusContainer.classList.remove("printer-online");
                    printerStatusContainer.classList.add("printer-offline");

                    var printerStatusContainerSpan = document.getElementById("printerStatusContainerSpan");
                    printerStatusContainerSpan.innerHTML = "Drukarka " + response.printerStatus;
                }
            },
            error: function(error) {
                console.error('Error fetching data from the server:', error);
            }
        });
    }
    setInterval(fetchDataFromServer, 5000);

</script>
<body>
    <button class="btn btn-primary" onclick="savePDFandSend()">
        Drukuj
    </button>
    <br>
    <button class="btn btn-info" id="infoButton">
        Info
    </button>
    <br>
    <div id="info">
        Zapisać plik `Bruss zamówienia`
        <br>
        W kolumnie `order number` powinny być unikalne id zawierające literę `p` np. `p1`, `p2` itp.
        <br>
        W kolumnie `card…` wpisać `poprawkowe`
        <br>
        Zastąpić id z `p` wygenerowanymi numerami bez 3 pierszych znaków np. 000B00001 => B00001
        <br>
        Po kliknięciu drukuj wszystkie id zawierające `p` zostaną ununięte z bazy danych
        <br>
        <br>
        <img src="{% static 'img/rework.png' %}"></img>
    </div>

    <div class="printer-status printer-{{ printerStatus }}" id="printerStatusContainer">
        <span id="printerStatusContainerSpan" class="printer-text">Drukarka {{ printerStatus }}</span>
    </div>

    <div class="page-break"></div>
    <div class="printing-area">
    </div>
</body>
</html>