{% load static %}
<html lang="en">
    <head>
        <title>NiCr</title>
        <meta charset="UTF-8">
        <link rel="icon" type="image/png" href="{% static 'img/GTM_logo_mini.png' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
        <link href="https://cdn.datatables.net/buttons/2.0.0/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css">
    </head>
    <!-- Add Bootstrap JS and others -->
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.full.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>

    
  <body>
    <style>
        .highlight {
            background-color: red !important;
        }
        .btn {
            margin: auto;
            width: 25%;
        }
        .wider-border {
            border-right: 5px solid !important;
        }
        .truncate {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 20ch; /* Adjust as needed */
          }
        .container {
            margin-left: 30px !important;
            margin-bottom: 50px;
        }


    
    </style>
    <form class="container" method="post" action="{% url 'plan_ni_cr' %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    {{ plan_form.start_date.label_tag }}
                    {{ plan_form.start_date }}
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    {{ plan_form.end_date.label_tag }}
                    {{ plan_form.end_date }}
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    {{ plan_form.deliveries.label_tag }}
                    {{ plan_form.deliveries }}
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    {{ plan_form.production.label_tag }}
                    {{ plan_form.production }}
                </div>
            </div>
            <div class="col-md-2">
                <button id="hangers" type="button" onclick="toggleVisibility(this.id)">Lines Capacity</button>
                <div id="hangers-div" style="display:none;">
                    <div class="form-group">
                        {{ plan_form.line1.label_tag }}
                        {{ plan_form.line1 }}
                    </div>
                    <div class="form-group">
                        {{ plan_form.line2.label_tag }}
                        {{ plan_form.line2 }}
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <button id="prio" type="button" onclick="toggleVisibility(this.id)">Prio</button>
                <div id="prio-div" style="display:none;">
                    <div class="form-group">
                        {{ plan_form.prio_id.label_tag }}
                        {{ plan_form.prio_id }}
                    </div>
                    <div class="form-group">
                        {{ plan_form.excl_id.label_tag }}
                        {{ plan_form.excl_id }}
                    </div>
                </div>
            </div>            
        </div>
        <div class="row">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    <div class="row justify-content-center">
        <div class="col-6 header2">
            <h2>Plan - {{ time_now|date:"l j N Y - H:i:s" }}</h2>
        </div>
    </div>
    <table class="table table-bordered table-striped" id="MyTable">
        <thead>
            <tr>
                <th>Ident</th>
                {% for day in days %}
                    <th>{{ day }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for ident, qtis in i_dict.items %}
                <tr>
                    <td class="truncate" title="{{ ident }}">{{ ident }}</td>
                    {% for qty in qtis %}
                        <td class="{% if forloop.counter == n_days|add:"1" %}wider-border{% endif %}"
                            contenteditable="{% if forloop.counter < n_days|add:"1" %}true{% else %}false{% endif %}"
                            {% if forloop.counter < n_days|add:"1" %}
                                {% if forloop.counter > 2 %}
                                    oninput="updateRowSum(this); checkHighlight(this);"
                                {% endif %}
                            {% endif %}>
                            {{ qty }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr id="tfoot">
                <th>Total</th>  
                {% for day in days %}
                    <th></th>
                {% endfor %}
            </tr>
        </tfoot>
    </table>

    <div class="container">
        <div class="row">
            <form class="col-8" method="post" action="{% url 'plan_ni_cr' %}">
                {% csrf_token %}
                <div class="col-3">
                    {{ saved_plan_form.selected_timestamp }}
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
            <div class="col-4 text-end">
                <button type="button" id="extractButton" class="btn btn-primary">Save plan</button>
            </div>
        </div>
    </div>
    <script>
        var select2_data = {% if select2_data %}{{ select2_data|safe }}{% else %}[{'id': '0', 'text': ''}]{% endif %};
        $(document).ready(function() {
            $('#id_prio_id').select2({
                data: select2_data,
                width: '100%',
                multiple: true,
                templateResult: function(data) {
                    return data.text;
                },
                templateSelection: function(data) {
                    return data.text;
                }
            });
        });
        $(document).ready(function() {
            $('#id_excl_id').select2({
                data: select2_data,
                width: '100%',
                multiple: true,
                templateResult: function(data) {
                    return data.text;
                },
                templateSelection: function(data) {
                    return data.text;
                }
            });
        });
        document.addEventListener('DOMContentLoaded', function () {
            var table = document.getElementById('MyTable');
            var rows = table.getElementsByTagName('tbody')[0].getElementsByTagName('tr');
        
            for (var i = 0; i < rows.length; i++) {
                calculateRowSum(rows[i]);
            }
            for (var j = 3; j < {{ n_days }} + 1; j++) {
                console
                calculateColumnSum(j);
            }
        });
        function calculateRowSum(row) {
            var cells = row.getElementsByTagName('td');
            var sum = 0;
            for (var i = 3; i < {{ n_days }} + 1; i++) {
                sum += parseFloat(cells[i].innerHTML) || 0;
            }
        
            cells[{{ n_days }} + 1].innerHTML = sum;
            addHighlight(cells);
        }
        function calculateColumnSum(columnIndex) {
            var table = document.getElementById("MyTable"); // Replace with the actual ID of your table
            var rows = table.getElementsByTagName('tr');
            var sum = 0;
        
            for (var i = 2; i < rows.length; i++) {
                var cells = rows[i].getElementsByTagName('td');
                sum += parseFloat(cells[columnIndex].innerHTML) || 0;
            }
        
            // Update the footer with the calculated sum
            var footerCell = document.getElementById("tfoot").getElementsByTagName('th')[columnIndex];
            footerCell.innerHTML = sum;
        }
        function updateRowSum(cell) {
            var row = cell.parentNode;
            calculateRowSum(row);

            var columnIndex = cell.cellIndex;
            calculateColumnSum(columnIndex);
        }
        function checkHighlight(cell) {
            var row = cell.parentNode;
            var cells = row.getElementsByTagName('td');
            addHighlight(cells);
        }
        function addHighlight(cells) {
            var currentValue = parseFloat(cells[{{ n_days }} + 1].innerText) || 0;
            var compareValue = parseFloat(cells[{{ n_days }} + 2].innerText) || 0;
            if (compareValue < currentValue) {
                cells[{{ n_days }} + 2].classList.add('highlight');
            } else {
                cells[{{ n_days }} + 2].classList.remove('highlight');
            }
        }
        function toggleVisibility(button_id) {
            var element = document.getElementById(button_id + '-div');
            if (element.style.display === "none") {
                element.style.display = "block";
            } else {
                element.style.display = "none";
            }
        }
        // Attach the function to the button click event
        document.addEventListener("DOMContentLoaded", function() {
            // Function to extract table headers
            function extractData() {
              // Get the table element
              var table = document.getElementById("MyTable");
              var headerRow = table.getElementsByTagName("thead")[0].getElementsByTagName("tr")[0];
              var headers = [];

              var tbody = table.getElementsByTagName("tbody")[0];
              var rows = tbody.getElementsByTagName("tr");
              var extractedData = [];
              // Loop through the th elements in the header row and extract text content
              for (var i = 1; i < headerRow.cells.length; i++) {
                headers.push(headerRow.cells[i].textContent.trim());
              }
              for (var i = 0; i < rows.length; i++) {
                var row = rows[i];
                var columns = row.getElementsByTagName("td");
                var rowData = {};
            
                // Extract data from the first column (with title attribute)
                var firstColumnName = columns[0].getAttribute("title");
                var firstColumnValue = columns[0].textContent.trim();

                // Extract data from the other columns
                var valuesList = [];
                for (var j = 1; j < columns.length; j++) {
                    valuesList.push(columns[j].textContent.trim());
                }
                rowData[firstColumnName] = valuesList;
                // Add the row data to the result array
                extractedData.push(rowData);
              }
              // Convert the array to a JSON string
        
              // Log the JSON string to the console (you can send it to the server or use it as needed)
              console.log(headers);
              console.log(extractedData);
              sendPlanToServer(headers, extractedData);
            }
            // Attach the function to the button click event
            document.getElementById("extractButton").addEventListener("click", extractData);
        });
        function sendPlanToServer(data_1, data_2) {
            fetch('save_plan/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCSRFToken()  // Add the CSRF token if your project uses it
                  },
                body: JSON.stringify({ 
                    header: data_1,
                    dict: data_2,
                    number_days: {{ n_days }}
                 })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                alert('Server response: ' + data.message);
                console.log('Server response:', data);
                window.location.reload();
            })
            .catch(error => {
                alert('Error:', error);
                console.error('Error:', error);
            });
        }
        function getCSRFToken() {
            // This function retrieves the CSRF token from the cookies
            var csrfToken = null;
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
              var cookie = cookies[i].trim();
              if (cookie.startsWith('csrftoken=')) {
                csrfToken = cookie.substring('csrftoken='.length, cookie.length);
                break;
              }
            }
            return csrfToken;
        }
        var dataTable = new DataTable('#MyTable', {
            pageLength: -1,
            dom: "Blifrt",
            buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
            initComplete: function () {
                var dataTable = this;

                dataTable.api()
                    .columns()
                    .every(function (index) {
                        if (index <= {{ n_days }} + 5 && index != 1&& index != 2) {
                            return;
                        }
                        let column = this;
            
                        // Create select element
                        let select = document.createElement('select');
                        select.add(new Option(''));
                        column.footer().replaceChildren(select);
            
                        // Apply listener for user change in value
                        select.addEventListener('change', function () {
                            var val = DataTable.util.escapeRegex(select.value);
            
                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });
            
                        // Add list of options
                        column
                            .data()
                            .unique()
                            .sort()
                            .each(function (d, j) {
                                select.add(new Option(d));
                            });
                    });
                        
                // Event listener for sorting
                dataTable.on('order.dt', function () {
                    // Execute your function when sorting occurs
                    var table = document.getElementById('MyTable');
                    var rows = table.getElementsByTagName('tbody')[0].getElementsByTagName('tr');
                
                    for (var i = 0; i < rows.length; i++) {
                        calculateRowSum(rows[i]);
                    }

                }); 
            },

        }); 
        $('#MyTable tfoot tr').appendTo('#MyTable thead');

        </script>
    </body>
</html>