{% load static %}
<html lang="en">
    <head>
        <title>KTL</title>
        <meta charset="UTF-8">
        <link rel="icon" type="image/png" href="{% static 'img/GTM_logo_mini.png' %}">
    </head>
    <!-- Add Bootstrap JS and othe  rs -->
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="{% static 'js/plan_p_ktl.js' %}"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/plan.css' %}">
    <body>
        <div id="pageTitle">
            <span> Plan produkcyjny Linia VI (KTL)</span>
            <input type="text" id="searchDays" placeholder="Szukaj...">
        </div>
        
        <div id="editTilePrompt" title="Edytuj kafelek" style="display:none;">
            <div id="tileEdit">
                <input type="date" class="top-right"></input>
                <input type="date" class="top-left"></input>
                <div contenteditable="true" class="top-middle-hour">OPIS</div>
                <div contenteditable="true" class="top-middle">TOP-MIDDLE</div>
                <div contenteditable="true" class="middle-2">MIDDLE2</div>
                <div contenteditable="true" class="middle">MIDDLE</div>
                <div contenteditable="true" class="bottom-middle">BOTTOM-MIDDLE</div>
                <div contenteditable="true" class="bottom-right-hangers">BOTTOM-RIGHT</div>
            </div>
            <br>
    
            <label for="choiceInput">Priorytet:</label><br>
            <input type="radio" name="choice" value="prio1"> I<br>
            <input type="radio" name="choice" value="prio2"> II<br>
            <input type="radio" name="choice" value="none" id="noneOption"> O<br>
        </div>

        <div class="orders-container" id="ordersPlan">
            {% for day, prios in orders_by_day_and_prios.items %}
                <div class="day-data" id="data-{{ day|date:"d-m-Y" }}">
                    {% comment %} <div id="dayHeader" class="button-container">
                        <button class="prev-day">Poprzedni dzień</button>
                        <span>{{ day|date:"d.m.Y" }}</span>
                        <button class="next-day">Następny dzień</button>
                    </div> {% endcomment %}
                    <div class="column-container">
                        <div class="column" id="column-1">
                            <div class="column-header">
                                <h2 class="prio">Priorytet I</h2>
                                <h3 class="total-exits">0</h3>
                            </div>
                            {% for order in prios.Prio1 %}
                            <div class="tile" data-prio= "{{ order.priority }}">
                                <div class="top">{{ order.hanger }}</div>
                                <div class="top-right">{{ order.dateDeadline|date:"d.m.Y" }}</div>
                                <div class="top-left">{{ order.dateDelivered|date:"d.m.Y" }}</div>
                                {% if order.deadlineHour and order.deadlineHour != 'nan' %}<div class="top-middle-hour">{{ order.deadlineHour }}</div>{% endif %}
                                <div class="top-middle">{{ order.description }}</div>
                                <div class="middle">{{ order.quantity }} szt.</div>
                                <div class="bottom-middle">{{ order.orderId }}</div>
                                <img src="" alt="Logo" class="bottom-left-logo">
                                <div class="bottom-right-hangers">{{ order.n_exits_ktl }}</div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="column" id="column-2">
                            <div class="column-header">
                                <h2 class="prio">Priorytet II</h2>
                                <h3 class="total-exits">0</h3>
                            </div>
                            {% for order in prios.Prio2 %}
                            <div class="tile" data-prio= "{{ order.priority }}">
                                <div class="top">{{ order.hanger }}</div>
                                <div class="top-right">{{ order.dateDeadline|date:"d.m.Y" }}</div>
                                <div class="top-left">{{ order.dateDelivered|date:"d.m.Y" }}</div>
                                {% if order.deadlineHour and order.deadlineHour != 'nan' %}<div class="top-middle-hour">{{ order.deadlineHour }}</div>{% endif %}
                                <div class="top-middle">{{ order.description }}</div>
                                <div class="middle">{{ order.quantity }} szt.</div>
                                <div class="bottom-middle">{{ order.orderId }}</div>
                                <img src="" alt="Logo" class="bottom-left-logo">
                                <div class="bottom-right-hangers">{{ order.n_exits_ktl }}</div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="column" id="column-3">
                            <div class="column-header">
                                <h2 class="prio">Priorytet III</h2>
                                <h3 class="total-exits">0</h3>
                            </div>
                            {% for order in prios.Prio3 %}
                            <div class="tile" data-prio= "{{ order.priority }}">
                                <div class="top">{{ order.hanger }}</div>
                                <div class="top-right">{{ order.dateDeadline|date:"d.m.Y" }}</div>
                                <div class="top-left">{{ order.dateDelivered|date:"d.m.Y" }}</div>
                                {% if order.deadlineHour and order.deadlineHour != 'nan' %}<div class="top-middle-hour">{{ order.deadlineHour }}</div>{% endif %}
                                <div class="top-middle">{{ order.description }}</div>
                                <div class="middle">{{ order.quantity }} szt.</div>
                                <div class="bottom-middle">{{ order.orderId }}</div>
                                <img src="" alt="Logo" class="bottom-left-logo">
                                <div class="bottom-right-hangers">{{ order.n_exits_ktl }}</div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>


        <i id="hideSideBarButton" class="fa-solid fa-angle-up"></i>
        <div class="sticky-buttons-top">
            <span>Plan z:</span>
            <span> {{ plan_obj.timestamp|date:"d.m.Y H:i:s"|default:"--.--.---- --:--:--" }} </span>
            <form id="get-plan-form" method="post" action="{% url 'plan_ktl' %}">
                {% csrf_token %}
                <div id="get-plan">{{ saved_plan_form.selected_timestamp }}</div>
            </form>
            <button id="create-plan">Stwórz nowy plan</button>
            <button id="save-plan">Zapisz plan</button>
            <button id="delete-plan">Usuń plan</button>
            <button id="create-tile-form">Dodaj kafelek</button>
            <form id="newTileForm" style="display: none">
                <div class="form-group">
                    <label for="deliverydate">Data dostawy:</label>
                    <input type="date" id="deliverydate" name="deliverydate" required>
                </div>
                <div class="form-group">
                    <label for="deadlinedate">Termin:</label>
                    <input type="date" id="deadlinedate" name="deadlinedate" required>
                </div>
                <div class="form-group">
                    <label for="article">Artykuł:</label>
                    <div class="newTileFormInput" contenteditable="true" type="text" id="article" name="article" required></div>
                </div>
                <div class="form-group">
                    <label for="ls">LS:</label>
                    <div class="newTileFormInput" contenteditable="true" type="text" id="ls" name="ls"></div>
                </div>
                <div class="form-group">
                    <label for="quantity">Ilość:</label>
                    <div class="newTileFormInput" contenteditable="true" type="number" id="quantity" name="quantity" required></div>
                </div>
                <div class="form-group">
                    <label for="code">Kod:</label>
                    <div class="newTileFormInput" contenteditable="true" type="text" id="code" name="code" required></div>
                </div>
                <div class="form-group">
                    <label for="hangers">Il. na zawieszkę:</label>
                    <div class="newTileFormInput" contenteditable="true" type="number" id="hangers" name="hangers"></div>
                </div>
                <div class="form-group">
                    <div style="display: none; visibility: hidden" id="client" name="client"></div>
                </div>
                <button type="submit">Zatwierdź</button>
            </form>
            <input type="text" id="searchInputToAdd" placeholder="Szukaj...">
            <button id="auto-assign">Przydziel automatycznie</button>
            <div class="column" id="column-4">
                <div class="column-header">
                    <h2 class="prio">Do dodania</h2>
                    <h3 class="total-exits">0</h3>
                </div>
                <div class="tilesToAdd">
                    {% for order in not_added_orders %}
                        <div class="tile" data-prio= "{{ order.priority }}">
                            <div class="top">{{ order.hanger }}</div>
                            <div class="top-right">{{ order.dateDeadline|date:"d.m.Y" }}</div>
                            <div class="top-left">{{ order.dateDelivered|date:"d.m.Y" }}</div>
                            {% if order.deadlineHour and order.deadlineHour != 'nan' %}<div class="top-middle-hour">{{ order.deadlineHour }}</div>{% endif %}
                            <div class="top-middle">{{ order.description }}</div>
                            <div class="middle">{{ order.quantity }} szt.</div>
                            <div class="bottom-middle">{{ order.orderId }}</div>
                            <img src="" alt="Logo" class="bottom-left-logo">
                            <div class="bottom-right-hangers">{{ order.n_exits_ktl }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>


        <div class="context-menu" id="context-menu">
            <ul id="context-menu-list">
                <!-- Menu items will be dynamically generated here -->
            </ul>
        </div>


        <div id="toast-container"></div>

        <ul id="client-list"></ul>
    </body>
    <script>
        $(document).ready(function() {
            UIHandler();
            tileHandler('{{ csrf_token }}');

            $('#create-plan').on('click', function() {
                if (confirm("Czy chcesz stworzyć nowy plan?") == true) {
                    $.ajax({
                        url: "{% url 'plan_ktl_api' %}",
                        method: 'POST',
                        data: {
                            'action': 'create',
                            'csrfmiddlewaretoken': '{{ csrf_token }}'
                        },
                        success: function(response) {
                            var newOption = new Option(response.plan_timestamp, response.plan_id);
                            $('#id_selected_timestamp').append(newOption);
                            
                            $('#id_selected_timestamp').val(response.plan_id);

                            $('#get-plan-form').submit();
                        },
                        error: function(response) {
                            alert('Błąd tworzenia planu: ' + response);
                        }
                    });
                }
            });

            $('#save-plan').on('click', function() {
                let planData = {};

                $('.day-data').each(function() {
                    let dayId = $(this).attr('id').replace('data-', '');
                    planData[dayId] = {
                        'Prio1': [],
                        'Prio2': [],
                        'Prio3': []
                    };

                    $(this).find('.column').each(function() {
                        let prioName;
                        switch ($(this).attr('id')) {
                            case 'column-1':
                                prioName = 'Prio1';
                                break;
                            case 'column-2':
                                prioName = 'Prio2';
                                break;
                            case 'column-3':
                                prioName = 'Prio3';
                                break;
                        }

                        $(this).find('.tile').each(function() {
                            let order = {
                                orderId: $(this).find('.bottom-middle').text(),
                                dateDeadline: $(this).find('.top-right').text(),
                                dateDelivered: $(this).find('.top-left').text(),
                                deadlineHour: $(this).find('.top-middle-hour').text(),
                                description: $(this).find('.top-middle').text(),
                                quantity: $(this).find('.middle').text().replace(' szt.', ''),
                                n_exits_ktl: $(this).find('.bottom-right-hangers').text(),
                                priority: $(this).data('prio')
                            };
                            planData[dayId][prioName].push(order);
                        });
                    });
                });

                $.ajax({
                    url: "{% url 'plan_ktl_api' %}",
                    method: 'POST',
                    data: {
                        'action': 'save',
                        'plan': JSON.stringify(planData),
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function(response) {
                        alert('Plan saved successfully');
                        window.location.href = "{% url 'plan_ktl' %}";
                    },
                    error: function(response) {
                        alert('Failed to save plan');
                    }
                });
            });
            
            $('#delete-plan').on('click', function() {
                let planId = '{{ plan_obj.id }}';
                if (planId.length === 0) {
                    alert("Nie wybrano planu!");
                } else {
                    if (confirm("Czy chcesz usunąć plan z: " + '{{ plan_obj.timestamp }}' + '?') == true) {
                        $.ajax({
                            url: "{% url 'plan_ktl_api' %}",
                            method: 'POST',
                            data: {
                                'action': 'delete',
                                'plan_obj_id': planId,
                                'csrfmiddlewaretoken': '{{ csrf_token }}'
                            },
                            success: function(response) {
                                alert('Usunięto plan!');
                                window.location.href = "{% url 'plan_ktl' %}";
                            },
                            error: function(response) {
                                alert('Błąd usuwania planu: ' + response);
                            }
                        });
                    }
                }
            });

            updateTileLogos();
            getAndSendCodes();

            const optionNameList = {{ ident_list|safe }};
            const listBorderIdnex = {{ bruss_list_len }};
            newTileHandler(optionNameList, listBorderIdnex);

            clientSocketHandler()
        });

        function getLogoBasedOnValues(top, bottom) {
            var logoSrc = "{% static 'img/GTM_logo_mini.png' %}"; // Default logo
        
            if (bottom.includes("KES") || bottom.includes("00B") || bottom.includes("GTM")) {
                logoSrc = "{% static 'img/BRUSS_logo_mini.png' %}";
            } else if (bottom.includes("MET")) {
                logoSrc = "{% static 'img/METALMARTIN_logo_mini.png' %}";
            } else if (top.includes("00T")) {
                logoSrc = "{% static 'img/HUTCHINSON_logo_mini.png' %}";
            } else if (bottom.includes("MUB")) {
                logoSrc = "{% static 'img/MUBEA_logo_mini.png' %}";
            }
        
            return logoSrc;
        }
        
        function getAndSendCodes() {
            var codes = [];  // Array to store extracted codes
        
            $('.bottom-middle').each(function() {
                var text = $(this).text();  // Get the text content of each element
                
                if (text.startsWith('MET')) {
                    codes.push(text);  // Push the text directly if it starts with 'M'
                } else {
                    // Otherwise, skip the first 3 characters and then push
                    codes.push(text.substring(3));
                }
            });
            $.ajax({
                url: "{% url 'plan_ktl_get_codes' %}",
                method: 'POST',
                data: {
                    'codes': JSON.stringify(codes),
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
                    if (response.codesPhReady.length > 0) {
                        let tilesToAnimate = $('.bottom-middle').filter(function() {
							return response.codesPhReady.includes($(this).text());
						}).closest('.tile');

						let tilesCount = tilesToAnimate.length;

						tilesToAnimate.each(function() {
							var tile = $(this);
                            tile.css("background-color","#aef5bd");
                        });
                    }
                    if (response.codesToRemove.length > 1) {
                        $('.bottom-middle').each(function() {
                            var text = $(this).text();
                            var tile = $(this).closest('.tile');
                            if (response.codesToRemove.includes(text) && text.length > 0 ) {
                                tile.css("display", "none");
                            }
                        });

                        updateTotalExits();
                    }
                },
                error: function(xhr, errmsg, err) {
                }
            });
        }
    </script>
</html>