{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plan Menu</title>   
    <link rel="icon" type="image/png" href="{% static 'img/GTM_logo_mini.png' %}">
    <link rel="stylesheet" href="{% static 'css/bruss_menu.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% csrf_token %}
</head>

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>

<script>
    function redirectToURL(url) {
        window.location.href = url;
    }
</script>
<body>
    <header id="gtmHeader">
        <img src="{% static 'img/GTM_logo.svg' %}" class="logo-image logo-selector" alt="GTM Logo">
    </header>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="btn-group-vertical" role="group">
                <div class="btn-group" role="group">
                    <div class="ui-btn">
                        <div style="display: flex; justify-content: center; align-items: center;">
                            <img src="{% static 'img/nickel.png' %}" class="scaled-image">
                            <img src="{% static 'img/chromium.png' %}" class="scaled-image">
                        </div>
                    </div>
                    <div class="ui-btn">
                        <img src="{% static 'img/electrolysis.png' %}" class="scaled-image">
                    </div>
                    <div class="ui-btn">
                        <img src="{% static 'img/phosphorus.png' %}" class="scaled-image">
                    </div>
                </div>

                <div class="btn-group" role="group">
                    <button class="ui-btn btn btn-light btn-lg" onclick="redirectToURL('{% url 'plan_ni_cr' %}')">
                        <span class="button-text-only"> Planowanie</span>
                    </button>
                    <button class="ui-btn btn btn-light btn-lg" onclick="redirectToURL('{% url 'plan_ktl' %}')">
                        <span class="button-text-only"> Planowanie</span>
                    </button>
                    <button class="ui-btn btn btn-light btn-lg" onclick="redirectToURL('{% url 'plan_p' %}')">
                        <span class="button-text-only"> Planowanie</span>
                    </button>
                </div>


                <div class="btn-group" role="group">
                    <button class="ui-btn btn btn-light btn-lg" onclick="redirectToURL('{% url 'plan_ni_cr_production' %}')">
                        <span class="button-text-only"> Produkcja</span>
                    </button>
                    <button class="ui-btn btn btn-light btn-lg" onclick="redirectToURL('{% url 'plan_ktl_production' %}')">
                        <span class="button-text-only"> Produkcja</span>
                    </button>
                    <button class="ui-btn btn btn-light btn-lg" onclick="redirectToURL('{% url 'plan_p_production' %}')">
                        <span class="button-text-only"> Produkcja</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>
