{% load static %}
<html lang="en">
    <head>
        <title>NiCr Produkcja</title>
        <meta charset="UTF-8">
        <link rel="icon" type="image/png" href="{% static 'img/GTM_logo_mini.png' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link href="https://cdn.datatables.net/2.0.6/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
        <link href="https://cdn.datatables.net/buttons/2.0.0/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css">
        <link href="https://cdn.datatables.net/fixedheader/4.0.1/js/dataTables.fixedHeader.js" rel="stylesheet" type="text/css">
        <link href="https://cdn.datatables.net/fixedheader/4.0.1/js/fixedHeader.dataTables.js" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <!-- Add Bootstrap JS and others -->
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.full.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.6/js/dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/4.0.1/js/fixedHeader.dataTables.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/4.0.1/js/dataTables.fixedHeader.js"></script>
  <body>
    <style>
        #pageTitle {
            display: flex;
            font-size: 2em;
            font-family: "Lucida Console";
            justify-content: center; /* Center horizontally */
            align-items: center; /* Center vertically */
        }
        .container {
            margin-top: 2%;
            margin-bottom: 5%;
            margin-left: 5%;
        }
        .highlight {
            background-color: red !important;
        }

        .wider-border {
            border-right: 5px solid !important;
        }
        .truncate {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 20ch; /* Adjust as needed */
        }
        .sticky-buttons-top {
            position: fixed;
            top: 20px;
            right: 20px;
            z-index: 999;
        }
        
        .toggle-btn {
            display: none;
        }

        .menu {
            display: flex;
            flex-direction: column;
            gap: 10px;
            background-color: #f0f0f0; /* Background color */
            padding: 10px; /* Padding around menu items */
            border-radius: 5px; /* Optional: Add rounded corners */
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional: Add box shadow for depth */
            justify-content: center; /* Center horizontally */
            align-items: center; /* Center vertically */
        }
        
        .menu.collapsed {
            display: none;
        }
        
        #MyTable #tfoot th select {
            border: 0px;
        }
        #MyTable #tfoot th {
            border: 1px solid #dee2e6;
            margin-right: 5px !important;
        }

        @media (max-width: 1600px) {
            .sticky-buttons-top {
                flex-direction: column;
                top: 5px;
                right: 5px;
            }
            
            .menu {
                display: none;
            }
            
            .menu.collapsed {
                display: flex;
            }

            .toggle-btn {
                display: flex;
            }

            .container {
                margin-top: 0%;
                margin-bottom: 0%;
                margin-left: 0%;
            }
        }
        @keyframes spin {
            from { transform: rotate(0deg); }
            to { transform: rotate(360deg); }
        }
        .spin-animation {
            animation: spin 1s infinite linear;
        }
    </style>
    <span id="pageTitle">
        Plan produkcyjny Linia I/II
    </span>
    <div class="container">
        <table class="table table-bordered table-striped" id="MyTable">
            <thead>
                <tr>
                    <th>Ident</th>
                    {% for day in days %}
                        <th>{{ day }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for ident, qtis in i_dict.items %}
                    <tr>
                        <td class="truncate" title="{{ ident }}">{{ ident }}</td>
                        {% for qty in qtis %}
                            <td class="{% if forloop.counter == n_days %}wider-border{% endif %}">
                                {{ qty }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr id="tfoot">
                    <th>Suma</th>  
                    {% for day in days %}
                        <th></th>
                    {% endfor %}
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="sticky-buttons-top">
        <button class="toggle-btn btn btn-outline-primary">Status</button>
        <div class="menu">
            <span>Plan z {{ time_now }}</span>
            <br>
            <span>Ostatnia aktualizacja:</span>
            <span>{{ last_update }}</span>
            <br>
            <button class="btn btn-primary" onclick="refreshPage()">
                <i id="refreshIcon" class="fa-solid fa-rotate"></i> <span>Aktualizuj</span>
            </button>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var table = document.getElementById('MyTable');
            var rows = table.getElementsByTagName('tbody')[0].getElementsByTagName('tr');
        
            for (var i = 0; i < rows.length; i++) {
                calculateRowSum(rows[i]);
            }
            for (var j = 2; j < {{ n_days }} + 4; j++) {
                calculateColumnSum(j);
            }
        });
        document.addEventListener('DOMContentLoaded', function() {
            const toggleBtn = document.querySelector('.toggle-btn');
            const menu = document.querySelector('.menu');
            
            toggleBtn.addEventListener('click', function() {
                menu.classList.toggle('collapsed');
            });
        });
        function refreshPage() {
            var currentFilter = dataTable.search();

            var refreshIcon = document.getElementById('refreshIcon');
            refreshIcon.classList.add('spin-animation');

            // Store the current scroll position
            var scrollPosition = window.scrollY;

            // Store filter options in sessionStorage
            sessionStorage.setItem('dataTableFilter', JSON.stringify(currentFilter));
            sessionStorage.setItem('scrollPosition', scrollPosition);

            // Refresh the page
            window.location.reload();
        };
        function calculateRowSum(row) {
            var cells = row.getElementsByTagName('td');

            addHighlight(cells);
        }
        function calculateColumnSum(columnIndex) {
            var table = document.getElementById("MyTable"); // Replace with the actual ID of your table
            var rows = table.getElementsByTagName('tr');
            var sum = 0;
        
            for (var i = 2; i < rows.length; i++) {
                var cells = rows[i].getElementsByTagName('td');
                sum += parseFloat(cells[columnIndex].innerHTML) || 0;
            }
        
            // Update the footer with the calculated sum
            var footerCell = document.getElementById("tfoot").getElementsByTagName('th')[columnIndex];
            footerCell.innerHTML = sum;
        }
        function checkHighlight(cell) {
            var row = cell.parentNode;
            var cells = row.getElementsByTagName('td');
            addHighlight(cells);
        }
        function addHighlight(cells) {
            var currentValue = parseFloat(cells[{{ n_days }}].innerText) || 0;
            var compareValue = parseFloat(cells[{{ n_days }} + 1].innerText) || 0;
            if (compareValue < currentValue) {
                cells[{{ n_days }} + 1].classList.add('highlight');
            } else {
                cells[{{ n_days }} + 1].classList.remove('highlight');
            }
        }
        var dataTable = new DataTable('#MyTable', {
            pageLength: -1,
            dom: "f",
            fixedHeader: {
                header: true,
            },
            "oLanguage": {
                "sSearch": "Szukaj:"
            },
            order: [[{{ n_days }}, 'desc']],
            initComplete: function () {
                var dataTable = this;

                dataTable.api()
                    .columns()
                    .every(function (index) {
                        if (index == 1 || index == {{ n_days }} + 4) {
                            let column = this;
                
                            // Create select element
                            let select = document.createElement('select');
                            select.add(new Option(''));
                            column.footer().replaceChildren(select);
                
                            // Apply listener for user change in value
                            select.addEventListener('change', function () {
                                var val = DataTable.util.escapeRegex(select.value);
                
                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                                for (var j = 2; j < {{ n_days }} + 4; j++) {
                                    calculateColumnSum(j);
                                }
                            });
                
                            // Add list of options
                            column
                                .data()
                                .unique()
                                .sort()
                                .each(function (d, j) {
                                    select.add(new Option(d));
                                });
                        }
                    });
                        
                // Event listener for sorting
                dataTable.on('order.dt', function () {
                    // Execute your function when sorting occurs
                    var table = document.getElementById('MyTable');
                    var rows = table.getElementsByTagName('tbody')[0].getElementsByTagName('tr');
                
                    for (var j = 2; j < {{ n_days }} + 4; j++) {
                        calculateColumnSum(j);
                    }
                }); 
            },

        }); 
        $('#MyTable tfoot tr').insertAfter('#MyTable thead');
        $(document).ready(function() {
            // Retrieve stored filter options from sessionStorage
            var storedFilter = sessionStorage.getItem('dataTableFilter');
            var storedScrollPosition = sessionStorage.getItem('scrollPosition');

            if (storedFilter) {
                var filterOptions = JSON.parse(storedFilter);
        
                // Reapply filter options
                dataTable.search(filterOptions).draw();
            }
        
            // Restore scroll position
            if (storedScrollPosition) {
                window.scrollTo(0, storedScrollPosition);
            }
        });
        setInterval(refreshPage, 600000);
        
    </script>
  </body>
</html>