{% load static %}
<html lang="en">
    <head>
        <title>P Produkcja</title>
        <meta charset="UTF-8">
        <link rel="icon" type="image/png" href="{% static 'img/GTM_logo_mini.png' %}">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="{% static 'css/plan.css' %}">
    </head>
    <!-- Add Bootstrap JS and others -->
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js" integrity="sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'js/plan_p_ktl.js' %}"></script>
    <style>
        .tile {
            cursor: auto;
        }
    </style>
    <body>
       <div id="pageTitle">
            <span> Plan produkcyjny Linia IV </span>
            <span class="sticky-buttons-top-mobile"> z: {{ timestamp|date:"d.m.Y H:i:s" }} </span>
        </div>
        
        <div class="orders-container">
            {% for day, prios in orders_by_day_and_prios.items %}
                <div class="day-data" id="data-{{ day|date:"d-m-Y" }}">
                    {% comment %} <div id="dayHeader" class="button-container">
                        <button class="prev-day">Poprzedni dzień</button>
                        <span>{{ day|date:"d.m.Y" }}</span>
                        <button class="next-day">Następny dzień</button>
                    </div> {% endcomment %}
                    <div class="column-container">
                        <div class="column" id="column-1">
                            <div class="column-header">
                                <h2 class="prio">zawieszka</h2>
                                <h3 class="total-exits">0</h3>
                            </div>
                            {% for order in prios.zawieszka %}
                            <div class="tile" data-prio= "{{ order.priority }}">
                                <div class="top-right">{{ order.dateDeadline|date:"d.m.Y" }}</div>
                                <div class="top-left">{{ order.dateDelivered|date:"d.m.Y" }}</div>
                                {% if order.deadlineHour and order.deadlineHour != 'nan' %}<div class="top-middle-hour">{{ order.deadlineHour }}</div>{% endif %}
                                <div class="top-middle">{{ order.description }}</div>
                                {% if order.delivery_note and order.delivery_note != 'nan' %}<div class="middle-2">{{ order.delivery_note }}</div>{% endif %}
                                <div class="middle">{{ order.quantity }} szt.</div>
                                <div class="bottom-middle">{{ order.orderId }}</div>
                                <img src="" alt="Logo" class="bottom-left-logo">
                                <div class="bottom-right-hangers">{{ order.n_exits_ph }}</div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="column" id="column-2">
                            <div class="column-header">
                                <h2 class="prio">tromel</h2>
                                <h3 class="total-exits">0</h3>
                            </div>
                            {% for order in prios.tromel %}
                            <div class="tile" data-prio= "{{ order.priority }}">
                                <div class="top-right">{{ order.dateDeadline|date:"d.m.Y" }}</div>
                                <div class="top-left">{{ order.dateDelivered|date:"d.m.Y" }}</div>
                                {% if order.deadlineHour and order.deadlineHour != 'nan' %}<div class="top-middle-hour">{{ order.deadlineHour }}</div>{% endif %}
                                <div class="top-middle">{{ order.description }}</div>
                                {% if order.delivery_note and order.delivery_note != 'nan' %}<div class="middle-2">{{ order.delivery_note }}</div>{% endif %}
                                <div class="middle">{{ order.quantity }} szt.</div>
                                <div class="bottom-middle">{{ order.orderId }}</div>
                                <img src="" alt="Logo" class="bottom-left-logo">
                                <div class="bottom-right-hangers">{{ order.n_exits_ph }}</div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="column" id="column-3">
                            <div class="column-header">
                                <h2 class="prio">aluminium</h2>
                                <h3 class="total-exits">0</h3>
                            </div>
                            {% for order in prios.aluminium %}
                            <div class="tile" data-prio= "{{ order.priority }}">
                                <div class="top-right">{{ order.dateDeadline|date:"d.m.Y" }}</div>
                                <div class="top-left">{{ order.dateDelivered|date:"d.m.Y" }}</div>
                                {% if order.deadlineHour and order.deadlineHour != 'nan' %}<div class="top-middle-hour">{{ order.deadlineHour }}</div>{% endif %}
                                <div class="top-middle">{{ order.description }}</div>
                                {% if order.delivery_note and order.delivery_note != 'nan' %}<div class="middle-2">{{ order.delivery_note }}</div>{% endif %}
                                <div class="middle">{{ order.quantity }} szt.</div>
                                <div class="bottom-middle">{{ order.orderId }}</div>
                                <img src="" alt="Logo" class="bottom-left-logo">
                                <div class="bottom-right-hangers">{{ order.n_exits_ph }}</div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="sticky-buttons-top">
            <span>Plan z:</span>
            <span> {{ timestamp|date:"d.m.Y H:i:s" }} </span>
        </div>
        
        <div id="toast-container"></div>

        <div id="emailForm">
            <h2>Wyślij wiadomość do logistyki.</h2>
            <div id="emailElementContainer">
                <p class="emailFormElement" data-type="ERROR">Zatrzymanie produkcji.</p>
                <p class="emailFormElement" data-type="ERROR">Konserwacja linii.</p>
                <p class="emailFormElement" data-type="INFO">Wznowienie produkcji.</p>
            </div>
            <button id="sendEmail">Wyślij</button>
        </div>
    </body>
    <script>
        $(document).ready(function() {
            UIHandler();
            updateTileLogos();
            getAndSendCodes();
            barcodesSocketHandler(getCodes(), "Ph");
            planPSocketHandler();
            clientHSocketHandler();
        });

        function getLogoBasedOnValues(top, bottom) {
            var logoSrc = "{% static 'img/GTM_logo_mini.png' %}"; // Default logo
        
            if (bottom.includes("KES") || bottom.includes("00B") || bottom.includes("GTM")) {
                logoSrc = "{% static 'img/BRUSS_logo_mini.png' %}";
            } else if (bottom.includes("MET")) {
                logoSrc = "{% static 'img/METALMARTIN_logo_mini.png' %}";
            } else if (top.includes("00T")) {
                logoSrc = "{% static 'img/HUTCHINSON_logo_mini.png' %}";
            } else if (bottom.includes("MUB")) {
                logoSrc = "{% static 'img/MUBEA_logo_mini.png' %}";
            }
        
            return logoSrc;
        }
        
        function getAndSendCodes() {
            var codes = [];  // Array to store extracted codes
        
            $('.bottom-middle').each(function() {
                var text = $(this).text();  // Get the text content of each element
                
                if (text.startsWith('MET')) {
                    codes.push(text);  // Push the text directly if it starts with 'MET'
                } else {
                    // Otherwise, skip the first 3 characters and then push
                    codes.push(text.substring(3));
                }
            });
            $.ajax({
                url: "{% url 'plan_p_get_codes' %}",
                method: 'POST',
                data: {
                    'oldPlanTS': '{{ timestamp|date:"Y-m-d H:i:s" }}',
                    'codes': JSON.stringify(codes),
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
				success: function(response) {
					if (response.newPlan == 1) {
						window.location.reload();
					}
					if (response.codesToRemove.length > 0) {
						let tilesToRemove = $('.bottom-middle').filter(function() {
                            var text = $(this).text();

                            if (text.length == 0 ) {
                                return false
                            }
                            
							return response.codesToRemove.includes(text);
						}).closest('.tile');

						tilesToRemove.each(function() {
							var tile = $(this);
                            tile.css("display", "none");
						});

                        updateTotalExits();

                        $('html, body').animate({
                            scrollTop: 0
                        }, 1000);
					}
                    
				},
                error: function(xhr, errmsg, err) {
                }
            });
        }
        
        function getCodes() {
            var codes = [];  // Array to store extracted codes
        
            $('.bottom-middle').each(function() {
                var text = $(this).text();  // Get the text content of each element
                codes.push(text);  // Push the text directly if it starts with 'MET'
            });

            return codes;
        }
    </script>
</html>