<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{% static 'img/GTM_logo_mini.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Press labels</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="{% static 'js/jquery-barcode.js' %}">
        
        /*!
            *  BarCode Coder Library (BCC Library)
            *  BCCL Version 2.0
            *    
            *  Porting : jQuery barcode plugin 
            *  Version : 2.0.3
            *   
            *  Date    : 2013-01-06
            *  Author  : DEMONTE Jean-Baptiste <jbdemonte@gmail.com>
            *            HOUREZ Jonathan
            *             
            *  Web site: http://barcode-coder.com/
            *  dual licence :  http://www.cecill.info/licences/Licence_CeCILL_V2-fr.html
            *                  http://www.gnu.org/licenses/gpl.html
        */
    </script>
    {% csrf_token %}
</head>
<style>
    .prasy {
        margin-top: 0px; 
        top: 0; 
    }
    .barcode-holder {
        display: flex;
        flex-direction: column;
        justify-content: flex-end; 
        align-items: center;
        font-size: 50px;
    }
    .barcode-code {
        border: 10px solid;
        border-radius: 20px;
        padding: 10px;
    }
    .HRI-holder {
        font-family: Arial, sans-serif;
        font-weight: bold;
    }
    .article-holder{
        padding:5px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end; 
        align-items: center;
        font-family: Arial, sans-serif;
        font-weight: bold;
        font-size: 80px;
    }
    .page-break {
        page-break-after: always;
    }
    .formRow {
        margin-bottom: 5px;
    }
    .submit {
        margin-bottom: 60px;
    }
    .ident_name {
        font-size: 30px;
    }
    hr {
        border: 3px solid #000000; /* Set the border style, color, and width */
    }
    .printer-status {
        display: flex;
        align-items: center;
        font-size: 36px; /* Adjust the font size as needed */
    }
    .printer-status::before {
        font-size: 240px; /* Adjust the font size for the icon only */
    }
    .printer-online::before {
        content: "\2022"; /* Bullet point character */
        color: green; /* Green color for online state */
        animation: pulsate 1.5s infinite; /* Pulsating effect animation */
    }
    .printer-offline::before {
        content: "\2022"; /* Bullet point character */
        color: gray; /* Gray color for offline state */
    }
    @keyframes pulsate {
        0% { opacity: 0.5; }
        50% { opacity: 1; }
        100% { opacity: 0.5; }
    }
    .printer-text {
        padding-top: 32px;
    }
</style>
<body>
    <form id="orderForm" method="post" action="{% url 'press_label' %}">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                {% for field in form %}
                    <div class="row formRow">
                        <div class="col">
                            <label class="ident_name">{{ field.label }}</label>
                        </div>
                        <div class="col ident_name">
                            {{ field }}
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            </div>
            <div class="col">
                <div class="col submit">
                    <input type="submit" value="Zatwierdź">
                </div>

                <div class="col submit">
                    <button type="button" onclick="clearForm()">Wyczyść</button>  
                </div>
                
                <div class="col printer-status printer-{{ printerStatus }}" id="printerStatusContainer">
                    <span id="printerStatusContainerSpan" class="printer-text">Drukarka {{ printerStatus }}</span>
                </div>
                
            </div>

        </div>
    </form>
    
    </div>
    <script>
        function fetchDataFromServer() {
            $.ajax({
                url: '/tools/press_label/check_printer/',
                method: 'GET',
                success: function(response) {
                    if (response.printerStatus === 'online') {
                        var printerStatusContainer = document.getElementById("printerStatusContainer");
                        printerStatusContainer.classList.remove("printer-online", "printer-offline");
                        printerStatusContainer.classList.add("printer-" + response.printerStatus);

                        var printerStatusContainerSpan = document.getElementById("printerStatusContainerSpan");
                        printerStatusContainerSpan.innerHTML = "Drukarka " + response.printerStatus;
                    
                    } else if (response.printerStatus === 'offline') {
                        var printerStatusContainer = document.getElementById("printerStatusContainer");
                        printerStatusContainer.classList.remove("printer-online");
                        printerStatusContainer.classList.add("printer-offline");

                        var printerStatusContainerSpan = document.getElementById("printerStatusContainerSpan");
                        printerStatusContainerSpan.innerHTML = "Drukarka " + response.printerStatus;
                    }
                },
                error: function(error) {
                    console.error('Error fetching data from the server:', error);
                }
            });
        }
        //setInterval(fetchDataFromServer, 3600000);
        setInterval(fetchDataFromServer, 5000);
        function onSuccessBarcode(code, name) {
            jQuery(function(){
                function generateBarcode(value, bcType, container){
                    var btype = bcType;
                    var renderer = "css";
                    var settings = {
                        output:renderer,
                        bgColor: "#FFFFFF",
                        color: "#000000",
                        barWidth: 3,
                        barHeight: 150,
                        addQuietZone: true,
                        fontSize: 60,
                        moduleSize: 13,
                    };
                    // width   7
                    // height 200
                    // margin-top: 350px
                    jQuery(container).html("").show().barcode(value, btype, settings);
                }
            
                const extractedNumbers = code;
                const extractedNames = name;
                console.log(code);
                console.log(name);
                var prasyLabelContainer = document.getElementById("prasyLabelContainer");
                for (let i = 1; i <= extractedNumbers.length; i++) {
                    if (extractedNumbers && extractedNumbers.length > 0) {
                        // Create the elements to hold variables
                        var barcodeHolder = document.createElement("div");
                        barcodeHolder.className = "barcode-holder";
                        var articleHolder = document.createElement("div");
                        articleHolder.className = "article-holder";

                        //var timestamp = new Date().toLocaleString();
                        //var dateCreated = document.createElement("span");
                        //dateCreated.textContent = timestamp;

                        var articleSpan = document.createElement("span");
                        articleSpan.className = `article-${i}`;
        
                        var quantitySpan = document.createElement("span");
                        quantitySpan.className = `quantity-${i}`;
        
                        //var cardSpan = document.createElement("span");
                        //cardSpan.className = `card-${i}`;
        
                        var barcodeSpan = document.createElement("span");
                        barcodeSpan.className = `barcode-code barcode-${i}`;
                        var pageBreak = document.createElement("div");

                        if(i % 3 === 0){
                            pageBreak.className = `page-break`;
                        }

                        // Append the <span> elements to the "article-holder" <div>
                        articleHolder.appendChild(articleSpan);
                        articleHolder.appendChild(quantitySpan);
                        //articleHolder.appendChild(cardSpan);
        
                        barcodeHolder.appendChild(articleHolder);
                        barcodeHolder.appendChild(barcodeSpan);
                        //barcodeHolder.appendChild(dateCreated);

                        prasyLabelContainer.appendChild(barcodeHolder);

                        prasyLabelContainer.appendChild(pageBreak);
        
                        generateBarcode(extractedNumbers[i-1], "code128", `.barcode-${i}`);
                        barcodeSpan.style.padding = '10px'; 
                    }
                    else
                        console.log(`No 'order_number_${i}' parameter found in the URL.`);
                    
                    if (articleSpan && extractedNames && extractedNames.length > 0) {
                        articleSpan.textContent = extractedNames[i-1];
                    }
                    else
                        articleSpan.textContent = " ";
                    

                    //if (cardSpan && extractedCards && extractedCards.length > 0) {
                    //    cardSpan.textContent = "Kanban " + extractedCards[i-1];
                    //barcode}
                    //else
                    //    cardSpan.textContent = " ";
                }
                // var bodyElement = document.body;
        
                // var options = {
                //    filename: 'label_to_print.pdf'
                //}
                //html2pdf().from(element).outputPdf().then(function (pdfBlob) {
                    // Here, pdfBlob contains the binary data of the PDF file
                    // You can use it to send to the server or perform other actions
                //    savePdfToServer(pdfBlob);
                //});
            });
        }
        function submitForm() {
            // Get values from the input fields
            var dateValue = document.getElementById("dateInput").value;
            var textValue = document.getElementById("textInput").value;
    
            // Create a data object with the form values
            var formData = {
                'dateInput': dateValue,
                'textInput': textValue,
                'csrfmiddlewaretoken': document.getElementsByName('csrfmiddlewaretoken')[0].value,
            };
    
            // Make an AJAX request to the Django backend
            var xhr = new XMLHttpRequest();
            xhr.open('POST', 'print/', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var responseData = JSON.parse(xhr.responseText);
                    var message = responseData.message;
                    if (message === 'Success') {
                        var code = responseData.codes;
                        var name = responseData.names;
                        var qty = responseData.qtys;
                        var ls = responseData.lss;
                        onSuccessBarcode(code, name, qty, ls);
                    }
                }
            };
            xhr.send(JSON.stringify(formData));
        }
        function clearForm() {
            document.getElementById('orderForm').reset();
            var container = document.getElementById('prasyLabelContainer');
            container.innerHTML = '';  // This line clears all the content inside the container
        }
        if ({{form_success}} == 1){
            var nameBC = [{% for data in order_id %}'{{data}}',{% endfor %}];
            var codeBC = [{% for data in order_name %}'{{data}}',{% endfor %}];
            console.log(nameBC);
            console.log(codeBC);
            onSuccessBarcode(nameBC, codeBC); 
        }
    </script>

</body>
</html>
