{% load static %}
<html lang="en">
<head>
    <title> {{ timestamp }} </title>
    <link rel="icon" type="image/png" href="{% static 'img/GTM_logo_mini.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<!-- Add Bootstrap JS and others -->
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.full.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<style>
    body {
        text-align: center;
    }
    .sticky-buttons-top {
        position: fixed;
        top: 20px;
        right: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        z-index: 999;
    }
    .sticky-buttons-bottom {
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        z-index: 999;
    }
    @keyframes spin {
        from { transform: rotate(0deg); }
        to { transform: rotate(360deg); }
    }
    .spin-animation {
        animation: spin 1s infinite linear;
    }
    .btn-danger {
        white-space: nowrap;
    }
    .button-side i {
        margin-right: 5px;
    }
    @media (max-width: 1870px) {
        .button-side span {
          display: none; /* Hide the text inside the button */
        }
      }
    #brussExportFormAll {
        font-size: 17px;
    }
    h2 { 
        margin-top: 20px;
        margin-bottom: 20px;
    }
</style>
<body> 
 

    <h1 class="mb-2 text-center">
        {{ timestamp|date:"d.m.Y" }}
    </h1>
    <div class="mb-2 text-center">
        <div class="d-flex justify-content-center">
            <form class="p-2" id="dateInputForm" method="post" action="{% url 'sic_display_day' %}">
                {% csrf_token %}
                {{ date_form.selected_date }}
            </form>
        </div>
    </div>
    <div class="container">
        <h2>Fosfor</h2>
        <table class="table table-bordered table-striped" id="SICTable">
            <thead class="header">
                <tr>
                    <th>Lp.</th>
                    <th>Kod towaru</th>
                    <th>Nazwa towaru</th>
                    <th>Ilość</th>
                    <th>Dodatkowe</th>
                </tr>
            </thead>
            <tbody id="tableBody">
                {% for row in sic_day_list %}
                    <tr>
                        <td >{{ forloop.counter }}</td>
                        <td >{{ row.0 }}</td>
                        <td >{{ row.1 }}</td>
                        <td >{{ row.2 }}</td>
                        <td >{{ row.3|linebreaks }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot class="footer">
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
    <h2>Prasy</h2>
    <div class="container">
        <table class="table table-bordered table-striped" id="SICTablePress">
            <thead class="header">
                <tr>
                    <th>Lp.</th>
                    <th>Kod towaru</th>
                    <th>Nazwa towaru</th>
                    <th>Ilość</th>
                    <th>Dodatkowe</th>
                </tr>
            </thead>
            <tbody id="tableBody">
                {% for row in sic_day_list_press %}
                    <tr>
                        <td >{{ forloop.counter }}</td>
                        <td >{{ row.0 }}</td>
                        <td >{{ row.1 }}</td>
                        <td >{{ row.2 }}</td>
                        <td >{{ row.3|linebreaks }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot class="footer">
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
    <h2>KTL</h2>
    <div class="container">
        <table class="table table-bordered table-striped" id="SICTableKTL">
            <thead class="header">
                <tr>
                    <th>Lp.</th>
                    <th>Kod towaru</th>
                    <th>Nazwa towaru</th>
                    <th>Ilość</th>
                    <th>Dodatkowe</th>
                </tr>
            </thead>
            <tbody id="tableBody">
                {% for row in sic_day_list_ktl %}
                    <tr>
                        <td >{{ forloop.counter }}</td>
                        <td >{{ row.0 }}</td>
                        <td >{{ row.1 }}</td>
                        <td >{{ row.2 }}</td>
                        <td >{{ row.3|linebreaks }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot class="footer">
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
    <h2>Surowe dane</h2>
    <div class="container">
        <table class="table table-bordered table-striped" id="SICTableRaw">
            <thead class="header">
                <tr>
                    <th>Lp.</th>
                    <th>Kod towaru</th>
                    <th>Nazwa towaru</th>
                    <th>Ilość</th>
                    <th>Dodatkowe</th>
                </tr>
            </thead>
            <tbody id="tableBody">
                {% for row in sic_day_list_raw %}
                    <tr>
                        <td >{{ forloop.counter }}</td>
                        <td >{{ row.0 }}</td>
                        <td >{{ row.1 }}</td>
                        <td >{{ row.2 }}</td>
                        <td >{{ row.3|linebreaks }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot class="footer">
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="sticky-buttons-top">
        <button id="copyButton" class="btn btn-danger btn-lg button-side" onclick="redirectToURL('{% url 'sic_display' %}')">
            <i class="fa-solid fa-calculator"></i><span>Pojedyncze WZ</span>
        </button>
        <button id="copyButton" class="btn btn-primary btn-lg button-side" onclick="copyOrdersToClipboard()">
            <i class="fa-solid fa-table-columns"></i> <span>Kopiuj kody</span>
        </button>
        <button id="copyButton" class="btn btn-primary btn-lg button-side" onclick="copyPhosphToClipboard()">
            <i class="fa-solid fa-f"></i> <span>Kopiuj fosfor do WZ</span>
        </button>
        <button id="copyButton" class="btn btn-primary btn-lg button-side" onclick="copyPressToClipboard()">
            <i class="fa-solid fa-p"></i> <span>Kopiuj prasy do FV</span>
        </button>
        <button id="copyButton" class="btn btn-primary btn-lg button-side" onclick="copyKTLToClipboard()">
            <i class="fa-solid fa-k"></i> <span>Kopiuj KTL do WZ</span>
        </button>
    </div>
    
    <div class="sticky-buttons-bottom">
        <button type="button" class="btn btn-success btn-lg button-side" onclick="scrollToTop()">
            <i class="fas fa-arrow-up"></i> <span>Scroll to Top</span>
        </button>
        <button type="button" class="btn btn-success btn-lg button-side" onclick="scrollToBottom()">
            <i class="fas fa-arrow-down"></i> <span>Scroll to Bottom</span>
        </button>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('id_selected_date').addEventListener('change', function() {
                document.getElementById('dateInputForm').submit();
            });
        });
        // Function to copy all table data to clipboard        
        function copyPressToClipboard() {
            var tableBody = document.getElementById("SICTablePress").getElementsByTagName('tbody')[0];
            var rows = tableBody.getElementsByTagName('tr');
            var clipboardData = [];
            
            var rowData = [];
            rowData.push('Towar:Kod');
            rowData.push('Ilosc');
            clipboardData.push(rowData.join('\t'));

            for (var i = 0; i < rows.length; i++) {
                var cells = rows[i].getElementsByTagName('td');
                if (!cells[4].innerText.includes("Wady GTM")) {
                    var rowData = [];
            
                    rowData.push(cells[1].innerText);
                    rowData.push(cells[3].innerText);
            
                    clipboardData.push(rowData.join('\t')); // Tab-separated values
                }
            }
        
            var clipboardText = clipboardData.join('\n'); // Newline-separated rows
        
            var textarea = document.createElement('textarea');
            textarea.value = clipboardText;
            document.body.appendChild(textarea);
            textarea.select();
            
            try {
                document.execCommand("copy");
                document.body.removeChild(textarea);
                alert("Table body copied to clipboard!");
            } catch (error) {
                console.error("Copy to clipboard failed:", error);
                document.body.removeChild(textarea);
                alert("Copy to clipboard failed. Please copy manually.");
            }
        }

        function copyPhosphToClipboard() {
            var tableBody = document.getElementById("SICTable").getElementsByTagName('tbody')[0];
            var rows = tableBody.getElementsByTagName('tr');
            var clipboardData = [];
            var rowData = [];

            rowData.push('Towar:Kod');
            rowData.push('Ilosc');
            clipboardData.push(rowData.join('\t'));

            for (var i = 0; i < rows.length; i++) {
                var cells = rows[i].getElementsByTagName('td');
                if (!cells[4].innerText.includes("Wady GTM")) {
                    var rowData = [];
        
                    rowData.push(cells[1].innerText);
                    rowData.push(cells[3].innerText);
            
                    clipboardData.push(rowData.join('\t')); // Tab-separated values
                }
            }
        
            var clipboardText = clipboardData.join('\n'); // Newline-separated rows
        
            var textarea = document.createElement('textarea');
            textarea.value = clipboardText;
            document.body.appendChild(textarea);
            textarea.select();
            
            try {
                document.execCommand("copy");
                document.body.removeChild(textarea);
                alert("Table body copied to clipboard!");
            } catch (error) {
                console.error("Copy to clipboard failed:", error);
                document.body.removeChild(textarea);
                alert("Copy to clipboard failed. Please copy manually.");
            }
        }

        function copyKTLToClipboard() {
            var tableBody = document.getElementById("SICTableKTL").getElementsByTagName('tbody')[0];
            var rows = tableBody.getElementsByTagName('tr');
            var clipboardData = [];
            
            var rowData = [];
            rowData.push('Towar:Kod');
            rowData.push('Ilosc');
            clipboardData.push(rowData.join('\t'));

            for (var i = 0; i < rows.length; i++) {
                var cells = rows[i].getElementsByTagName('td');
                if (!cells[4].innerText.includes("Wady GTM")) {
                    var rowData = [];
            
                    rowData.push(cells[1].innerText);
                    rowData.push(cells[3].innerText);
            
                    clipboardData.push(rowData.join('\t')); // Tab-separated values
                }
            }
        
            var clipboardText = clipboardData.join('\n'); // Newline-separated rows
        
            var textarea = document.createElement('textarea');
            textarea.value = clipboardText;
            document.body.appendChild(textarea);
            textarea.select();
            
            try {
                document.execCommand("copy");
                document.body.removeChild(textarea);
                alert("Table body copied to clipboard!");
            } catch (error) {
                console.error("Copy to clipboard failed:", error);
                document.body.removeChild(textarea);
                alert("Copy to clipboard failed. Please copy manually.");
            }
        }

        function copyOrdersToClipboard() {
            var jsonString = {{ data_to_copy|safe }};
            
            var clipboardText = "";
            for (var key in jsonString) {
                clipboardText += key + "\t" + jsonString[key][0] + "\t" + jsonString[key][1] + "\n";
            }

            var textarea = document.createElement('textarea');
            textarea.value = clipboardText;
            document.body.appendChild(textarea);
            textarea.select();

            // Copy the JSON string to clipboard
            try {
                document.execCommand("copy");
                document.body.removeChild(textarea);
                alert("Table body copied to clipboard!");
            } catch (error) {
                console.error("Copy to clipboard failed:", error);
                document.body.removeChild(textarea);
                alert("Copy to clipboard failed. Please copy manually.");
            }
        }

        // Function to scroll to the top of the page
        function scrollToTop() {
            window.scrollTo({ top: 0, behavior: 'smooth' });
        }
        
        // Function to scroll to the bottom of the page
        function scrollToBottom() {
            window.scrollTo({ top: document.body.scrollHeight, behavior: 'smooth' });
        }

        $(document).ready(function () {
            dataTable = $('#SICTable').DataTable({
                'order': [[0, 'asc']],
                'pageLength': 100,
                "dom": "Bt",
                "buttons": [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
                "initComplete": function () {
                    // Add an empty row for the input form at the beginning

                    var totalColumns = this.api().columns()[0].length;

                    this.api().columns().every(function (index) {
                        let column = this;
                        let title = column.footer().textContent;
        
                        // Create input element
                        let input = document.createElement('input');
                        input.placeholder = title;
                        column.footer().replaceChildren(input);
        
                        // Event listener for user input
                        input.addEventListener('keyup', () => {
                            if (column.search() !== input.value) {
                                column.search(input.value).draw();
                            }
                        });
                    });
                },
                "columnDefs": [
                    {
                        "width": "20%",
                        "targets": 0
                    },
                    {
                        "width": "20%", 
                        "targets": 1
                    },
                    {
                        "width": "20%", 
                        "targets": 2
                    },
                    {
                        "width": "20%", 
                        "targets": 3
                    },
                    {
                        "width": "20%", 
                        "targets": 4
                    },
                ],
            });

            $('#SICTable tfoot tr').appendTo('#SICTable thead');
            $('#SICTable').css('display', 'table');

            dataTable = $('#SICTablePress').DataTable({
                'order': [[0, 'asc']],
                'pageLength': 100,
                "dom": "Bt",
                "initComplete": function () {
                    // Add an empty row for the input form at the beginning

                    var totalColumns = this.api().columns()[0].length;

                    this.api().columns().every(function (index) {
                        let column = this;
                        let title = column.footer().textContent;
        
                        // Create input element
                        let input = document.createElement('input');
                        input.placeholder = title;
                        column.footer().replaceChildren(input);
        
                        // Event listener for user input
                        input.addEventListener('keyup', () => {
                            if (column.search() !== input.value) {
                                column.search(input.value).draw();
                            }
                        });
                    });
                },
                "columnDefs": [
                    {
                        "width": "20%",
                        "targets": 0
                    },
                    {
                        "width": "20%", 
                        "targets": 1
                    },
                    {
                        "width": "20%", 
                        "targets": 2
                    },
                    {
                        "width": "20%", 
                        "targets": 3
                    },
                    {
                        "width": "20%", 
                        "targets": 4
                    },
                ],
            });

            $('#SICTablePress tfoot tr').appendTo('#SICTablePress thead');
            $('#SICTablePress').css('display', 'table');

            dataTable = $('#SICTableKTL').DataTable({
                'order': [[0, 'asc']],
                'pageLength': 100,
                "dom": "Bt",
                "initComplete": function () {
                    // Add an empty row for the input form at the beginning

                    var totalColumns = this.api().columns()[0].length;

                    this.api().columns().every(function (index) {
                        let column = this;
                        let title = column.footer().textContent;
        
                        // Create input element
                        let input = document.createElement('input');
                        input.placeholder = title;
                        column.footer().replaceChildren(input);
        
                        // Event listener for user input
                        input.addEventListener('keyup', () => {
                            if (column.search() !== input.value) {
                                column.search(input.value).draw();
                            }
                        });
                    });
                },
                "columnDefs": [
                    {
                        "width": "20%",
                        "targets": 0
                    },
                    {
                        "width": "20%", 
                        "targets": 1
                    },
                    {
                        "width": "20%", 
                        "targets": 2
                    },
                    {
                        "width": "20%", 
                        "targets": 3
                    },
                    {
                        "width": "20%", 
                        "targets": 4
                    },
                ],
            });

            $('#SICTableKTL tfoot tr').appendTo('#SICTableKTL thead');
            $('#SICTableKTL').css('display', 'table');

            dataTable = $('#SICTableRaw').DataTable({
                'order': [[0, 'asc']],
                'pageLength': 100,
                "dom": "Bt",
                "initComplete": function () {
                    // Add an empty row for the input form at the beginning

                    var totalColumns = this.api().columns()[0].length;

                    this.api().columns().every(function (index) {
                        let column = this;
                        let title = column.footer().textContent;
        
                        // Create input element
                        let input = document.createElement('input');
                        input.placeholder = title;
                        column.footer().replaceChildren(input);
        
                        // Event listener for user input
                        input.addEventListener('keyup', () => {
                            if (column.search() !== input.value) {
                                column.search(input.value).draw();
                            }
                        });
                    });
                },
                "columnDefs": [
                    {
                        "width": "20%",
                        "targets": 0
                    },
                    {
                        "width": "20%", 
                        "targets": 1
                    },
                    {
                        "width": "20%", 
                        "targets": 2
                    },
                    {
                        "width": "20%", 
                        "targets": 3
                    },
                    {
                        "width": "20%", 
                        "targets": 4
                    },
                ],
            });

            $('#SICTableRaw tfoot tr').appendTo('#SICTableRaw thead');
            $('#SICTableRaw').css('display', 'table');

            // Get all td elements
            const tdElements = document.querySelectorAll("td");

            // Loop through each td element
            tdElements.forEach(td => {
                console.log(td.textContent);
                if (td.textContent.includes("Wady GTM")) {
                    td.style.backgroundColor = "#ff0000";
                    td.style.fontWeight = "bold";
                } else if (td.textContent.includes("Troger")) {
                    td.style.backgroundColor = "#00b050";
                    td.style.fontWeight = "bold";
                } else if (td.textContent.includes("Fuerte")) {
                    td.style.backgroundColor = "#5de3ac";
                    td.style.fontWeight = "bold";
                } else if (td.textContent.includes("Werner")) {
                    td.style.backgroundColor = "#ffd966";
                    td.style.fontWeight = "bold";
                } else if (td.textContent.includes("Spill")) {
                    td.style.backgroundColor = "#7030a0";
                    td.style.fontWeight = "bold";
                } else if (td.textContent.includes("Kölle")) {
                    td.style.backgroundColor = "#fce4d6";
                    td.style.fontWeight = "bold";
                } else if (td.textContent.includes("Cie")) {
                    td.style.backgroundColor = "#ededed";
                    td.style.fontWeight = "bold";
                }
            });
        });

        function redirectToURL(url) {
            window.location.href = url;
        }
    </script>
</body>
</html>