{% load static %}
<html lang="en">
<head>
    <title>{{ sic_str }}</title>
    <link rel="icon" type="image/png" href="{% static 'img/GTM_logo_mini.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<!-- Add Bootstrap JS and others -->
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.full.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<style>
    .sticky-buttons-top {
        position: fixed;
        top: 20px;
        right: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        z-index: 999;
    }
    .sticky-buttons-bottom {
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        z-index: 999;
    }
    @keyframes spin {
        from { transform: rotate(0deg); }
        to { transform: rotate(360deg); }
    }
    .spin-animation {
        animation: spin 1s infinite linear;
    }
    .btn-danger {
        white-space: nowrap;
    }
    .button-side i {
        margin-right: 5px;
    }
    @media (max-width: 1870px) {
        .button-side span {
          display: none; /* Hide the text inside the button */
        }
      }
    #brussExportFormAll {
        font-size: 17px;
    }
</style>
<body> 
 

    <div class="mb-2 text-center">
        <h1>
            {{ sic_str }}
        </h1>   
        {{ timestamp|date:"d.m.Y H:i:s" }}
    </div>
    <div class="mb-2 text-center">
        <div class="d-flex justify-content-center">
            <form class="p-2" id="dateInputForm" method="post" action="{% url 'sic_display' %}">
                {% csrf_token %}
                {{ date_form.selected_date }}
            </form>
            <form class="p-2" id="brussExportFormAll" method="post" action="{% url 'sic_display' %}">
                {% csrf_token %}
                {{ form.sic_id }}
            </form>
        </div>
    </div>

    <table class="table table-bordered table-striped" id="SICTable">
        <thead class="header">
            <tr>
                <th>Lp.</th>
                <th>ID</th>
                <th>Kod towaru</th>
                <th>Nazwa towaru</th>
                <th>Ilość</th>
                <th>Jednostka</th>
                <th>Dodatkowe</th> 
            </tr>
        </thead>
        <tbody id="tableBody">
            {% for row in json_data %}
                <tr>
                    <td >{{ forloop.counter }}</td>
                    <td >{{ row.0 }}</td>
                    <td >{{ row.3 }}</td>
                    <td >{{ row.4 }}</td>
                    <td >{{ row.5 }}</td>
                    <td >{{ row.6 }}</td>
                    <td >{{ row.7 }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot class="footer">
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
        
    <div class="sticky-buttons-top">
        <button id="copyButton" class="btn btn-danger btn-lg button-side" onclick="redirectToURL('{% url 'sic_display_day' %}')">
            <i class="fa-solid fa-calculator"></i><span>Suma z całego dnia</span>
        </button>
        <button id="copyButton" class="btn btn-primary btn-lg button-side" onclick="copyToClipboard()">
            <i class="fa-solid fa-table-columns"></i> <span>Kopiuj kody</span>
        </button>
        <button id="copyButton" class="btn btn-primary btn-lg button-side" onclick="copyTableToClipboard()">
            <i class="fa-solid fa-file-invoice-dollar"></i> <span>Kopiuj do FV</span>
        </button>
        
    </div>
    
    <div class="sticky-buttons-bottom">
        <button type="button" class="btn btn-success btn-lg button-side" onclick="scrollToTop()">
            <i class="fas fa-arrow-up"></i> <span>Scroll to Top</span>
        </button>
        <button type="button" class="btn btn-success btn-lg button-side" onclick="scrollToBottom()">
            <i class="fas fa-arrow-down"></i> <span>Scroll to Bottom</span>
        </button>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('id_selected_date').addEventListener('change', function() {
                document.getElementById('dateInputForm').submit();
            });
    
            document.getElementById('id_sic_id').addEventListener('change', function() {
                document.getElementById('brussExportFormAll').submit();
            });
        });
        // Function to copy first 2 columns of the table to clipboard
        function copyToClipboard() {
            var tableBody = document.getElementById("SICTable").getElementsByTagName('tbody')[0];
            var rows = tableBody.getElementsByTagName('tr');
            var clipboardData = [];
            var skipRows = 0;

            for (var i = skipRows; i < rows.length; i++) {
                var cells = rows[i].getElementsByTagName('td');
                var rowData = [];
                
                let cellText = cells[1].innerText;
                let modifiedText = cellText.substring(3);

                if (modifiedText.substring(0, 2) === '30' || modifiedText === '') {
                    continue;
                }
                rowData.push(modifiedText);

                rowData.push('{{ timestamp|date:"d.m.Y" }}');

                rowData.push('{{ sic_str }}');
        
                clipboardData.push(rowData.join('\t')); // Tab-separated values
            }
        
            var clipboardText = clipboardData.join('\n'); // Newline-separated rows
        
            var textarea = document.createElement('textarea');
            textarea.value = clipboardText;
            document.body.appendChild(textarea);
            textarea.select();
            
            try {
                document.execCommand("copy");
                document.body.removeChild(textarea);
                alert("Table body copied to clipboard!");
            } catch (error) {
                console.error("Copy to clipboard failed:", error);
                document.body.removeChild(textarea);
                alert("Copy to clipboard failed. Please copy manually.");
            }
        }

        // Function to copy all table data to clipboard
        function copyTableToClipboard() {
            var tableBody = document.getElementById("SICTable").getElementsByTagName('tbody')[0];
            var rows = tableBody.getElementsByTagName('tr');
            var clipboardData = [];
            var skipCols = 1;
            var skipRows = 0;

            for (var i = skipRows; i < rows.length; i++) {
                var cells = rows[i].getElementsByTagName('td');
                var rowData = [];
        
                for (var j = 0; j < cells.length - skipCols; j++) {
                    rowData.push(cells[j].innerText);
                }
        
                clipboardData.push(rowData.join('\t')); // Tab-separated values
            }
        
            var clipboardText = clipboardData.join('\n'); // Newline-separated rows
        
            var textarea = document.createElement('textarea');
            textarea.value = clipboardText;
            document.body.appendChild(textarea);
            textarea.select();
            
            try {
                document.execCommand("copy");
                document.body.removeChild(textarea);
                alert("Table body copied to clipboard!");
            } catch (error) {
                console.error("Copy to clipboard failed:", error);
                document.body.removeChild(textarea);
                alert("Copy to clipboard failed. Please copy manually.");
            }
        }

        // Function to scroll to the top of the page
        function scrollToTop() {
            window.scrollTo({ top: 0, behavior: 'smooth' });
        }
        
        // Function to scroll to the bottom of the page
        function scrollToBottom() {
            window.scrollTo({ top: document.body.scrollHeight, behavior: 'smooth' });
        }

        $(document).ready(function () {
            dataTable = $('#SICTable').DataTable({
                'order': [[0, 'asc']],
                'pageLength': 100,
                "dom": "lifrtp",
                "initComplete": function () {
                    // Add an empty row for the input form at the beginning

                    var totalColumns = this.api().columns()[0].length;

                    this.api().columns().every(function (index) {
                        let column = this;
                        let title = column.footer().textContent;
        
                        // Create input element
                        let input = document.createElement('input');
                        input.placeholder = title;
                        column.footer().replaceChildren(input);
        
                        // Event listener for user input
                        input.addEventListener('keyup', () => {
                            if (column.search() !== input.value) {
                                column.search(input.value).draw();
                            }
                        });
                    });
                }
            });

            $('#SICTable tfoot tr').appendTo('#SICTable thead');
            $('#SICTable').css('display', 'table');
        });

        function redirectToURL(url) {
            window.location.href = url;
        }
    </script>
</body>
</html>