<!-- templates/element_source.html -->
{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/bruss_barcode.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.qrcode/1.0/jquery.qrcode.min.js" integrity="sha512-NFUcDlm4V+a2sjPX7gREIXgCSFja9cHtKPOL1zj6QhnE0vcY695MODehqkaGYTLyL2wxe/wtr4Z49SvqXq12UQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'js/jquery-barcode.js' %}"></script>

<script>
    function printingHandler() {
        // Function to replace Select2 with plain text for printing
        function handleBeforePrint() {
            $('.article-select-holder').each(function() {
                const selectedText = $('.select2-selection__rendered').text().trim();
                // Hide the Select2 container
                $(this).next('.select2-container').hide();
                // Insert plain text with the selected option before the Select2 container
                $(this).after(`<span class="articleWrapper print-only">${selectedText}</span>`);
            });

            $('.ls-text').each(function() {
                const lsText = $(this).text();

                if (!lsText.trim()) {
                    $(this).closest('.LSTitle').hide();
                }
            })
        }
        
        // Function to revert back to Select2 after printing
        function handleAfterPrint() {
            // Remove the plain text
            $('.print-only').remove();
            // Show the Select2 container again
            $('.article-select-holder').next('.select2-container').show();

            $('.LSTitle').each(function() {
                $(this).show();
            })
        }
    
        // Attach the print events
        if (window.matchMedia) {
            const mediaQueryList = window.matchMedia('print');
            mediaQueryList.addListener((mql) => {
                if (mql.matches) {
                    handleBeforePrint();
                } else {
                    handleAfterPrint();
                }
            });
        } else {
            window.onbeforeprint = handleBeforePrint;
            window.onafterprint = handleAfterPrint;
        }

        $('.print-single-button').on('click', function() {
            window.print();
        });

        window.print();
    }

    function generateQR(ele, value) {
        qrElement = ele.closest('.kanbanWrapper').find('.barcodeGTM');
        qrElement.empty();
        qrElement.qrcode({
            text: value,
            width: 100,
            height: 100
        });

        $('#latestCode').text(`Ostatni wykorzystany kod: ${value}`)
    }

    $(document).ready(function() {
        generateQR($('.bcgtmtxt'), $('.bcgtmtxt').text());
        printingHandler();
    });
</script>
<body id="bd">
    {{ element_content|safe }}
</body>
</html>
