<!doctype html>
{% load static %}
<html>
<head>
	<title>WZ Instrukcja</title>
    <link rel="icon" type="image/png" href="{% static 'img/GTM_logo_mini.png' %}">
	<meta HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8"/>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<style>
    .sticky-top {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1000;
    }
    .hide {
      display: none;
    }
    .bold {
        font-weight: bold;
    }
    a {
        margin-left: 10px;
    }
    .arrow-right {
        color: green;
        font-size: 40px;
    }
    .cs693C1E03 {color:#000000;background-color:#FFFFFF;border-left-style: none;border-top-style: none;border-right-style: none;border-bottom-style: none;font-family:Calibri; font-size:13px; font-weight:normal; font-style:normal; padding-left:2px;padding-right:2px;}
	.cs6B9BA0F4 {color:#000000;background-color:transparent;border-left:#C0C0C0 1px solid;border-top:#C0C0C0 1px solid;border-right:#C0C0C0 1px solid;border-bottom:#C0C0C0 1px solid;font-family:Calibri; font-size:11px; font-weight:bold; font-style:normal; padding-left:2px;padding-right:2px;}
	.csCAB71748 {color:#000000;background-color:transparent;border-left-style: none;border-top:#C0C0C0 1px solid;border-right:#C0C0C0 1px solid;border-bottom:#C0C0C0 1px solid;font-family:Calibri; font-size:11px; font-weight:bold; font-style:normal; padding-left:2px;padding-right:2px;}
	.csB5ABA507 {color:#000000;background-color:transparent;border-left-style: none;border-right:#D3D3D3 1px solid;border-bottom:#D3D3D3 1px solid;font-family:Calibri; font-size:11px; font-weight:normal; font-style:normal; padding-left:2px;}
	.cs5DC853FC {color:#000000;background-color:transparent;border-left-style: none;border-top-style: none;border-right:#D3D3D3 1px solid;border-bottom:#D3D3D3 1px solid;font-family:Calibri; font-size:11px; font-weight:normal; font-style:normal; padding-left:2px;padding-right:2px;}
	.cs96FF6D07 {color:#000000;background-color:transparent;border-left-style: none;border-top-style: none;border-right-style: none;border-bottom-style: none;font-family:Calibri; font-size:11px; font-weight:normal; font-style:normal; }
	.cs681EBA2D {color:#000000;background-color:transparent;border-left-style: none;border-top-style: none;border-right-style: none;border-bottom-style: none;font-family:Calibri; font-size:12px; font-weight:bold; font-style:normal; padding-left:1px;}
	.cs7642D58C {color:#000000;background-color:transparent;border-left-style: none;border-top-style: none;border-right-style: none;border-bottom-style: none;font-family:Calibri; font-size:12px; font-weight:normal; font-style:normal; }
	.cs84D22FF3 {color:#000000;background-color:transparent;border-left-style: none;border-top-style: none;border-right-style: none;border-bottom-style: none;font-family:Calibri; font-size:12px; font-weight:normal; font-style:normal; padding-left:1px;}
	.cs84D23096 {color:#000000;background-color:transparent;border-left-style: none;border-top-style: none;border-right-style: none;border-bottom-style: none;font-family:Calibri; font-size:12px; font-weight:normal; font-style:normal; padding-left:2px;}
	.csBD623EE0 {color:#000000;background-color:transparent;border-left-style: none;border-top-style: none;border-right-style: none;border-bottom-style: none;font-family:Calibri; font-size:16px; font-weight:bold; font-style:normal; }
	.cs590C8185 {color:#000000;background-color:transparent;border-left-style: none;border-top-style: none;border-right-style: none;border-bottom-style: none;font-family:Calibri; font-size:19px; font-weight:bold; font-style:normal; }
	.cs5669B984 {color:#000000;background-color:transparent;border-left-style: none;border-top-style: none;border-right-style: none;border-bottom-style: none;font-family:'Times New Roman'; font-size:13px; font-weight:normal; font-style:normal; padding-left:2px;}
	.csAC6A4475 {height:0px;width:0px;overflow:hidden;font-size:0px;line-height:0px;}
	.list-header-element{
		color:#000000;
		background-color:transparent;
		border-left:#C0C0C0 1px solid;
		border-top:#C0C0C0 1px solid;
		border-right:#C0C0C0 1px solid;
		border-bottom:#C0C0C0 1px solid;
		font-family:Calibri;
		font-size:11px;
		font-weight:bold;
		font-style:normal;
		padding-left:2px;
		padding-right:2px;
	}
	.list-element {
		color:#000000;
		background-color:transparent;
		border-left:#D3D3D3 1px solid;
		border-top:#D3D3D3 1px solid;
		border-right:#D3D3D3 1px solid;
		border-bottom:#D3D3D3 1px solid;
		font-family:Calibri;
		font-size:11px;
		font-weight:normal;
		font-style:normal;
		padding-left:2px;
		padding-right:2px;
	}
	@media print {
		/* Set specific elements to display: none when printing */
		.no-print {
		display: none;
		}
		body {
			padding-top: 50;
			padding-left: 62;
		}
		.sic-selector select {
			display: none;
		}
		.sic-selector span {
			display: block !important;
		}
	}
	@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
	}
	.spin-animation {
		animation: spin 1s infinite linear;
	}

	@keyframes moveAlongMiddle {
		from { transform: rotateX(0deg); }
		to { transform: rotateX(360deg); } /* Adjust the percentage based on your needs */
	}

	.move-along-middle-animation {
	animation: moveAlongMiddle 1s infinite linear;
	}
	.options-container {
	position: absolute;
	background-color: #f9f9f9;
	border: 1px solid #ccc;
	max-height: 150px;
	overflow-y: auto;
	z-index: 1;
	}
	.option {
		padding: 8px 12px;
		cursor: pointer;
	}
	.option:hover {
		background-color: #ddd;
	}
</style>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <a class="navbar-brand">WZ Instrukcja</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" id="navScannerDiv" href="#" onclick="showDiv('scannerDiv', 'navScannerDiv')">Skaner</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bold" id="navSicDiv" href="#" onclick="showDiv('sicDiv', 'navSicDiv')">Dokument WZ</a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="scannerDiv" class="menu-element hide">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="{% static 'img/android/desktop.png' %}" height="400" width="240"></img>
                </div>


                <div class="col-sm arrow-right">
                    <i class="fa-solid fa-arrow-right-long"></i>
                </div>


                <div class="col">
                    <img src="{% static 'img/android/nav_1.png' %}" height="400" width="240"></img>
                </div>


                <div class="col-sm arrow-right">
                    <i class="fa-solid fa-arrow-right-long"></i>
                </div>


                <div class="col">
                    <img src="{% static 'img/android/nav_2.png' %}" height="400" width="240"></img>
                </div>


                <div class="col-sm arrow-right">
                    <i class="fa-solid fa-arrow-right-long"></i>
                </div>


                <div class="col">
                    <img src="{% static 'img/android/nav_3.png' %}" height="400" width="240"></img>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="{% static 'img/android/main.png' %}"></img>
                </div>
               

                <div class="col">
                    Ekran główny aplikacji.<br><br>
                    W celu zeskanowania kodu należy mieć zaznaczone pole "Skanuj kod" (kreska powinna być koloru <span style="color: #03dac5;">morskiego</span>) i naciśnięcie jednego z trzech pomarańczowych przycisków na urządzeniu.<br><br>
                    Po zeskanowaniu kodu wyświetli się on pod polem "Skanuj kod" wraz z informacją zwrotną co do jego poprwaności.<br><br>
                    Jeśli został wprowadzony poprawny kod zostanie on zapisany do tabelki pod przyciskami.<br><br>
                    <img src="{% static 'img/android/delete_last.png' %}"></img> - usuwa z tabelki zeskanowanych kodów ten, który został wprowadzony jako ostatni.<br><br>
                    <img src="{% static 'img/android/send.png' %}"></img> - wysyła zeskanowanie kody z tabelki poniżej do serwera, w odpowiedzi wyświetli się komunikat z nowym numerem WZ.
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img src="{% static 'img/android/side.png' %}"></img>
                </div>
               

                <div class="col">
                    Menu boczne wywoływane poprzez przeciągnięcie ekranu <i class="fa-solid fa-hand-pointer"></i> z lewej do prawej.<br><br>
                    <img src="{% static 'img/android/auto_send.png' %}"></img> - gdy nie zaznaczone zeskanowanie kodu nie wyśle go automatycznie do serwera, trzeba to zrobić zaznaczając pole z zeskanowanym kodem i kliknąć "Enter".<br><br>
                    <img src="{% static 'img/android/clear_table.png' %}"></img> - nie używane na tym widoku, kliknięcie powoduje wyczyszczenie histrori z pozostałych widoków.<br><br>
                    <img src="{% static 'img/android/saved_data.png' %}"></img> - w przypładku błędu serwera lub problemu z internetem
                </div>
            </div>
        </div>

    </div>
    <div id="sicDiv" class="menu-element">
        <div class="container">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">
                            Przycisk
                        </th>
                        <th scope="col">
                            Opis
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">
                            <button class="deleteRowButton btn btn-sm btn-success">
                                <i class="fas fa-plus"></i>
                            </button>
                        </th>
                        <td>
                            Dodaje nowy pusty wiersz do dokumentu.<br>
                            Kolumna "Jednostka" uzupełniana jest o wartość "szt.".
                        </td>
                    </tr>
    
    
                    <tr>
                        <th scope="row">
                            <button class="deleteRowButton btn btn-sm btn-danger">
                                <i class="fas fa-minus"></i>
                            </button>
                        </th>
                        <td>
                            Usuwa wiersz związany z przyciskiem.<br>
                            Przed usunięciem wyświetla się komunikat z numerem wiersza i pytaniem o potwierdzenie.<br>
                            Brak możliwości usunięcia pierwszego wiersza w dokumencie.
                        </td>
                    </tr>
    
    
                    <tr>
                        <th scope="row">
                            <button class="btn btn-lg btn-warning">
                                <i class="fa-regular fa-square-plus"></i> Nowy pusty <br> dokument
                            </button>
                        </th>
                        <td>
                            Tworzy nowy dokument z kolejnym numerem.<br>
                        </td>
                    </tr>
    
    
                    <tr>
                        <th scope="row">
                            <button class="btn btn-lg btn-success">
                                <i class="fa-solid fa-refresh"></i> Odśwież
                            </button>
                        </th>
                        <td>
                            Ładuje ponownie stronę.<br>
                            Identyczny efekt do wpisania adresu strony w przeglądarkę.
                        </td>
                    </tr>
    
    
                    <tr>
                        <th scope="row">
                            <button class="btn btn-lg btn-primary">
                                <i class="fa-solid fa-print"></i> Drukuj
                            </button>
                        </th>
                        <td>
                            Zapisuje i wysyła dane z WZ do serwera.<br>
                            Po zatwierdzeniu komunikatu z odpowiedzią, otwiera okno drukowania. 
                        </td>
                    </tr>
    
    
                    <tr>
                        <th scope="row">
                            <button class="btn btn-lg btn-danger">
                                <i class="fa-solid fa-square-minus"></i> Usuń WZ
                            </button>
                        </th>
                        <td>
                            Usuwa dokument WZ, który jest obecnie załadowany.<br>
                            Wpierw wyświetlany jest komunikat z potiwerdzeniem.<br>
                            W przypadku nieumyślnego usunięcia, można odzyskać dane z poziomu serwera.
                        </td>
                    </tr>
    
    
                </tbody>
            </table>
        </div>
        <br><br><br>

        <div class="container" style="height: 100%; padding-bottom: 15px;">
            <div class="col">
            <table cellpadding="0" cellspacing="0" border="0" style="border-width:0px;empty-cells:show;width:643px;height:565px;position:relative;">
                <tr>
                    <td style="height:0px;width:0px;"></td>
                    <td style="height:0px;width:1px;"></td>
                    <td style="height:0px;width:3px;"></td>
                    <td style="height:0px;width:15px;"></td>
                    <td style="height:0px;width:11px;"></td>
                    <td style="height:0px;width:96px;"></td>
                    <td style="height:0px;width:35px;"></td>
                    <td style="height:0px;width:151px;"></td>
                    <td style="height:0px;width:7px;"></td>
                    <td style="height:0px;width:4px;"></td>
                    <td style="height:0px;width:1px;"></td>
                    <td style="height:0px;width:4px;"></td>
                    <td style="height:0px;width:2px;"></td>
                    <td style="height:0px;width:43px;"></td>
                    <td style="height:0px;width:23px;"></td>
                    <td style="height:0px;width:101px;"></td>
                    <td style="height:0px;width:13px;"></td>
                    <td style="height:0px;width:62px;"></td>
                    <td style="height:0px;width:3px;"></td>
                    <td style="height:0px;width:64px;"></td>
                    <td style="height:0px;width:3px;"></td>
                    <td style="height:0px;width:1px;"></td>
        
                </tr>
                <tr style="vertical-align:top;">
                    <td style="width:0px;height:19px;"></td>
                    <td class="csBD623EE0" colspan="15" rowspan="2" style="width:396px;height:22px;line-height:20px;text-align:left;vertical-align:middle;"><nobr>Wydanie&nbsp;magazynowe</nobr></td>
                    <td class="cs7642D58C" colspan="4" style="width:179px;height:19px;line-height:15px;text-align:right;vertical-align:middle;"><nobr>Data&nbsp;wystawienia</nobr></td>
                    <td class="cs7642D58C" colspan="2" style="width:67px;height:19px;line-height:15px;text-align:right;vertical-align:middle;"><nobr class="date_today" contenteditable="true" id="dateDisplay">Data </nobr></td> 
                    <td class="cs7642D58C" colspan="2" style="width:67px;height:19px;line-height:15px;text-align:right;vertical-align:middle;"><nobr style="color: red;">- edytowalne  </nobr></td> 
                    <td></td>
                </tr>
                <tr style="vertical-align:top;">
                    <td style="width:0px;height:3px;"></td>
                    <td class="cs7642D58C" colspan="4" rowspan="2" style="width:179px;height:19px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
                    <td class="cs7642D58C" colspan="2" rowspan="2" style="width:67px;height:19px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
                    <td></td>
                </tr>
                <tr style="vertical-align:top;">
                    <td style="width:0px;height:16px;"></td>
                    <td class="cs590C8185 sic-selector" colspan="14" rowspan="2" style="width:396px;height:25px;line-height:24px;text-align:left;vertical-align:middle;">
                        <span id="selectedId" contenteditable="true">WZ 3 </span>
                        <span style="color: red;">- edytowalne </span>
                    </td>
                    <td></td>
                </tr>
                <tr style="vertical-align:top;">
                    <td style="width:0px;height:9px;"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr style="vertical-align:top;">
                    <td style="width:0px;height:19px;"></td>
                    <td class="cs7642D58C" colspan="14" style="width:396px;height:19px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr style="vertical-align:top;">
                    <td style="width:0px;height:19px;"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr style="vertical-align:top;">
                    <td style="width:0px;height:16px;"></td>
                </tr>
                <tr style="vertical-align:top;">
                    <td style="width:0px;height:8px;"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr style="vertical-align:top;">
                    <td style="width:0px;height:16px;"></td>
                    <td class="cs681EBA2D" colspan="9" style="width:311px;height:16px;line-height:15px;text-align:left;vertical-align:top;"><nobr>Wystawca</nobr></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="cs681EBA2D" colspan="8" style="width:311px;height:16px;line-height:15px;text-align:left;vertical-align:top;"><nobr>Odbiorca</nobr></td>
                    <td></td>
                </tr>
                <tr style="vertical-align:top;">
                    <td style="width:0px;height:32px;"></td>
                    <td class="cs84D22FF3" colspan="9" style="width:311px;height:32px;line-height:15px;text-align:left;vertical-align:top;"><nobr>GALWANOTECHNIKA&nbsp;MRĄGOWO&nbsp;SP&#211;ŁKA&nbsp;Z&nbsp;OGRANICZONĄ</nobr><br/><nobr>ODPOWIEDZIALNOŚCIĄ</nobr></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="cs84D22FF3" colspan="8" style="width:311px;height:32px;line-height:15px;text-align:left;vertical-align:top;"><nobr>&quot;BRUSS&nbsp;POLSKA&quot;&nbsp;SP&#211;ŁKA&nbsp;Z&nbsp;OGRANICZONĄ</nobr><br/><nobr>ODPOWIEDZIALNOŚCIĄ</nobr></td>
                    <td></td>
                </tr>
                <tr style="vertical-align:top;">
                    <td style="width:0px;height:31px;"></td>
                    <td class="cs84D22FF3" colspan="9" style="width:311px;height:31px;line-height:15px;text-align:left;vertical-align:top;"><nobr>ul.&nbsp;Kolejowa&nbsp;6</nobr><br/><nobr>11-700&nbsp;Mrągowo,&nbsp;Polska</nobr></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="cs84D22FF3" colspan="8" style="width:311px;height:31px;line-height:15px;text-align:left;vertical-align:top;"><nobr>ul.&nbsp;Giżycka&nbsp;9</nobr><br/><nobr>11-700&nbsp;Mrągowo,&nbsp;Polska</nobr></td>
                    <td></td>
                </tr>
                <tr style="vertical-align:top;">
                    <td style="width:0px;height:17px;"></td>
                    <td class="cs84D22FF3" colspan="9" style="width:311px;height:17px;line-height:15px;text-align:left;vertical-align:top;"><nobr>NIP:&nbsp;7422080829</nobr></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="cs84D22FF3" colspan="8" style="width:311px;height:17px;line-height:15px;text-align:left;vertical-align:top;"><nobr>NIP:&nbsp;5992594808</nobr></td>
                    <td></td>
                </tr>
                <tr style="vertical-align:top;">
                    <td style="width:0px;height:19px;"></td>
                    <td class="cs84D23096" colspan="9" style="width:310px;height:19px;line-height:15px;text-align:left;vertical-align:top;"><nobr>BDO:&nbsp;000037650</nobr></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="cs84D23096" colspan="8" style="width:310px;height:19px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
                    <td></td>
                </tr>
                <tr style="vertical-align:top;">
                    <td style="width:100px;height:19px;"></td>
                    <td class="cs84D23096" colspan="8" style="width:310px;height:19px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="list-header">
                    <td style="width:200px;height:10px;">Wpisanie wartości kodu kreskowego (wystarczy 6 ostanich znaków) do kolumny "ID" i zatwierdzeniu enterem uzupełni cały wiersz warościami z bazy</td>
                    <td style="width:100px;height:190px;"> </td>
                    <td style="width:100px;height:190px;"> </td>
                    <td style="width:100px;height:190px;"> </td>
                    <td style="width:100px;height:190px;"> </td>
                    <td style="width:100px;height:190px;">Wybranie podpowidzi automatycznie uzupełni "Kod towaru" oraz "Nazwę towaru"</td>
                    <td style="width:100px;height:190px;"> </td>
                    <td style="width:100px;height:190px;"> </td>
                    <td style="width:100px;height:190px;">Po rozpoczęciu wpisywania do kolumny "Nazwa towaru" wyświtlą się podpowiedzi</td>

                </tr>
                <tr class="list-header">
                    
                    <td style="width:0px;height:18px;"></td>
                    <td class="list-header-element"colspan="2" style="width:24px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"><nobr>Lp.</nobr></td>
                    <td class="list-header-element" colspan="3" style="width:63px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"><nobr>ID</nobr></td>
                    <td class="list-header-element" colspan="1" style="width:43px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"><nobr>Kod towaru</nobr></td>
                    <td class="list-header-element" colspan="9" style="width:331px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"><nobr>Nazwa towaru</nobr></td>
                    <td class="list-header-element" colspan="2" style="width:70px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"><nobr>Ilość</nobr></td>
                    <td class="list-header-element" colspan="2" style="width:33px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"><nobr>Jednostka</nobr></td>
                    <td class="list-header-element" colspan="2" style="width:33px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"><nobr>Dodatkowe</nobr></td>
                    <td class="list-header-element no-print"colspan="1" style="width:10px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"><button class="addRowButton btn btn-sm btn-success" onclick="addNewRow()"><i class="fas fa-plus"></i></button></td>
        
                </tr>
                <tr class="list-body">
                    <td style="width:0px;height:18px;"></td>
                    <td class="list-element listNumber" colspan="2" style="width:24px;height:16px;line-height:13px;text-align:right;vertical-align:middle;"
                        contenteditable="true">1 </td>
                    <td class="list-element orderId" colspan="3" style="width:63px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"
                        contenteditable="true">  </td>
                    <td class="list-element identId" colspan="1" style="width:43px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"
                        id="identId" contenteditable="true">  </td>
                    <td class="list-element identName" colspan="9" style="width:333px;height:16px;line-height:13px;text-align:left;vertical-align:middle;"
                        id="identName" contenteditable="true"> 
                        <div id="options-name" class="options-container no-print"></div>
                    </td>
                    <td class="list-element identQuantity" colspan="2" style="width:70px;height:16px;line-height:13px;text-align:right;vertical-align:middle;"
                        contenteditable="true" oninput="updateSum()"> </td>
                    <td class="list-element identUnit" colspan="2" style="width:33px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"
                        contenteditable="true">szt.</td>
                    <td class="list-element identAdditional" colspan="2" style="width:33px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"
                        id="identAdditional" contenteditable="true"> 
                        <div id="options-additional" class="options-container no-print"></div>
                    </td>
                    <td class="list-element no-print" colspan="1" style="width:10px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"><button class="deleteRowButton btn btn-sm btn-danger" onclick="deleteLastRow(this)"><i class="fas fa-minus"></i></button></td>
                </tr>
        
                <tr class="list-body-placeholder">
                    <td style="width:0px;height:18px;"></td>
                    <td colspan="2" style="width:24px;height:16px;line-height:13px;text-align:right;vertical-align:middle;"></td>
                    <td colspan="3" style="width:63px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"></td>
                    <td colspan="1" style="width:43px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"></td>
                    <td colspan="9" style="width:333px;height:16px;line-height:13px;text-align:left;vertical-align:middle;"></td>
                    <td colspan="2" style="width:70px;height:16px;line-height:13px;text-align:right;vertical-align:middle;"></td>
                    <td colspan="2" style="width:33px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"></td>
                    <td colspan="2" style="width:33px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"></td>
                    <td colspan="1" style="width:10px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"></td>
                </tr>
                
                <tr class="list-body-placeholder">
                    <td style="width:0px;height:18px;"></td>
                    <td colspan="2" style="width:24px;height:16px;line-height:13px;text-align:right;vertical-align:middle;"></td>
                    <td colspan="3" style="width:63px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"></td>
                    <td colspan="1" style="width:43px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"></td>
                    <td colspan="9" style="width:333px;height:16px;line-height:13px;text-align:left;vertical-align:middle;"></td>
                    <td colspan="2" style="width:70px;height:16px;line-height:13px;text-align:right;vertical-align:middle;"></td>
                    <td colspan="2" style="width:33px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"></td>
                    <td colspan="2" style="width:33px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"></td>
                    <td colspan="1" style="width:10px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"></td>
                </tr>
                
                <tr class="list-body-placeholder">
                    <td style="width:0px;height:18px;"></td>
                    <td colspan="2" style="width:24px;height:16px;line-height:13px;text-align:right;vertical-align:middle;"></td>
                    <td colspan="3" style="width:63px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"></td>
                    <td colspan="1" style="width:43px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"></td>
                    <td colspan="9" style="width:333px;height:16px;line-height:13px;text-align:left;vertical-align:middle;"></td>
                    <td colspan="2" style="width:70px;height:16px;line-height:13px;text-align:right;vertical-align:middle;"></td>
                    <td colspan="2" style="width:33px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"></td>
                    <td colspan="2" style="width:33px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"></td>
                    <td colspan="1" style="width:10px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"></td>
                </tr>
                
                <tr class="list-body-placeholder">
                    <td style="width:0px;height:18px;"></td>
                    <td colspan="2" style="width:24px;height:16px;line-height:13px;text-align:right;vertical-align:middle;"></td>
                    <td colspan="3" style="width:63px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"></td>
                    <td colspan="1" style="width:43px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"></td>
                    <td colspan="9" style="width:333px;height:16px;line-height:13px;text-align:left;vertical-align:middle;"></td>
                    <td colspan="2" style="width:70px;height:16px;line-height:13px;text-align:right;vertical-align:middle;"></td>
                    <td colspan="2" style="width:33px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"></td>
                    <td colspan="2" style="width:33px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"></td>
                    <td colspan="1" style="width:10px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"></td>
                </tr>
                
                <tr class="list-body-placeholder">
                    <td style="width:0px;height:18px;"></td>
                    <td colspan="2" style="width:24px;height:16px;line-height:13px;text-align:right;vertical-align:middle;"></td>
                    <td colspan="3" style="width:63px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"></td>
                    <td colspan="1" style="width:43px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"></td>
                    <td colspan="9" style="width:333px;height:16px;line-height:13px;text-align:left;vertical-align:middle;"></td>
                    <td colspan="2" style="width:70px;height:16px;line-height:13px;text-align:right;vertical-align:middle;"></td>
                    <td colspan="2" style="width:33px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"></td>
                    <td colspan="2" style="width:33px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"></td>
                    <td colspan="1" style="width:10px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"></td>
                </tr>
                
                <tr style="vertical-align:top;">
                    <td style="width:0px;height:10px;"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr style="vertical-align:top;">
                    <td style="width:0px;height:16px;"></td>
                    <td class="cs7642D58C" colspan="5" style="width:126px;height:16px;line-height:15px;text-align:left;vertical-align:middle;"><nobr >Podsumowanie ilości</nobr></td>
                    <td class="cs7642D58C" colspan="16" style="width:517px;height:16px;line-height:15px;text-align:left;vertical-align:middle;"><nobr id="quantity_sum">  </nobr> szt.</td>
                </tr>
        
                <tr style="vertical-align:top;">
                    <td style="width:0px;height:17px;"></td>
        
                </tr>
                <tr style="vertical-align:top;">
                    <td style="width:0px;height:16px;"></td>
                    <td class="cs7642D58C" colspan="21" style="width:126px;height:16px;line-height:15px;text-align:left;vertical-align:middle;"><nobr >Stan opakowania zgodny, bez uszkodzeń&nbsp;&nbsp;&nbsp; TAK/NIE</nobr></td>
                </tr>
                
        
                <tr style="vertical-align:top;">
                    <td style="width:0px;height:17px;"></td>
        
                </tr>
                <tr style="vertical-align:top;">
                    <td style="width:0px;height:3px;"></td>
                    <td class="cs7642D58C" colspan="2" style="width:4px;height:3px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
                    <td class="cs7642D58C" colspan="6" style="width:315px;height:3px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
                    <td class="cs7642D58C" style="width:4px;height:3px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
                    <td></td>
                    <td class="cs7642D58C" style="width:4px;height:3px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
                    <td class="cs7642D58C" colspan="8" style="width:311px;height:3px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
                    <td class="cs7642D58C" colspan="2" style="width:4px;height:3px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
                </tr>
        
                <tr style="vertical-align:top;">
                    <td style="width:0px;height:16px;"></td>
                    <td class="cs7642D58C" colspan="2" style="width:4px;height:16px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
                    <td class="cs96FF6D07" colspan="6" style="width:315px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"><nobr>Dokument&nbsp;wystawił:</nobr></td>
                    <td class="cs7642D58C" style="width:4px;height:16px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
                    <td></td>
                    <td class="cs7642D58C" style="width:4px;height:16px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
                    <td class="cs96FF6D07" colspan="8" style="width:311px;height:16px;line-height:13px;text-align:center;vertical-align:top;"><nobr>Dokument&nbsp;otrzymał:</nobr></td>
                    <td class="cs7642D58C" colspan="2" style="width:4px;height:16px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
                </tr>
                <tr style="vertical-align:top;">
                    <td style="width:0px;height:45px;"></td>
                    <td class="cs7642D58C" colspan="2" style="width:4px;height:45px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
                    <td class="cs7642D58C" style="width:4px;height:45px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
                    <td></td>
                    <td class="cs7642D58C" style="width:4px;height:45px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
                    <td class="cs96FF6D07" colspan="8" style="width:311px;height:45px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
                    <td class="cs7642D58C" colspan="2" style="width:4px;height:45px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
                </tr>
                <tr style="vertical-align:top;">
                    <td style="width:0px;height:16px;"></td>
                    <td class="cs7642D58C" colspan="2" style="width:4px;height:16px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
                    <td class="cs96FF6D07" colspan="6" style="width:315px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"><nobr>.............................................</nobr></td>
                    <td class="cs7642D58C" style="width:4px;height:16px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
                    <td></td>
                    <td class="cs7642D58C" style="width:4px;height:16px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
                    <td class="cs96FF6D07" colspan="8" style="width:311px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"><nobr>.............................................</nobr></td>
                    <td class="cs7642D58C" colspan="2" style="width:4px;height:16px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
                </tr>
                <tr style="vertical-align:top;">
                    <td style="width:0px;height:19px;"></td>
                    <td class="cs7642D58C" colspan="2" style="width:4px;height:19px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
                    <td class="cs96FF6D07" colspan="6" style="width:315px;height:19px;line-height:13px;text-align:center;vertical-align:middle;"><nobr>Podpis</nobr></td>
                    <td class="cs7642D58C" style="width:4px;height:19px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
                    <td></td>
                    <td class="cs7642D58C" style="width:4px;height:19px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
                    <td class="cs96FF6D07" colspan="8" style="width:311px;height:19px;line-height:13px;text-align:center;vertical-align:middle;"><nobr>Podpis</nobr></td>
                    <td class="cs7642D58C" colspan="2" style="width:4px;height:19px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
                </tr>
                <tr style="vertical-align:top;">
                    <td style="width:0px;height:3px;"></td>
                    <td class="cs7642D58C" colspan="2" style="width:4px;height:3px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
                    <td class="cs7642D58C" colspan="6" style="width:315px;height:3px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
                    <td class="cs7642D58C" style="width:4px;height:3px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
                    <td></td>
                    <td class="cs7642D58C" style="width:4px;height:3px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
                    <td class="cs7642D58C" colspan="8" style="width:311px;height:3px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
                    <td class="cs7642D58C" colspan="2" style="width:4px;height:3px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
                </tr>
                <tr style="vertical-align:top;">
                    <td style="width:0px;height:2px;"></td>
                    <td class="cs5669B984" colspan="3" style="width:17px;height:2px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr style="vertical-align:top;">
                    <td style="width:0px;height:19px;"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            </div>
        </div>
    </div>
    <script>
        function showDiv(id, navId) {
            var divs = document.querySelectorAll('.menu-element');
            var navs = document.querySelectorAll('.nav-link');

            for (var i = 0; i < divs.length; i++) {
                divs[i].classList.add('hide');
            }

            for (var i = 0; i < navs.length; i++) {
                navs[i].classList.remove('bold');
            }
            document.getElementById(id).classList.remove('hide');
            document.getElementById(navId).classList.add('bold');
        }
        function addNewRow() {  
            var listBodies = document.querySelectorAll('.list-body');
        
            var lastRow = listBodies[listBodies.length - 1];
        
            var newRow = lastRow.cloneNode(true);
            var lastValue = parseInt(lastRow.querySelector('.listNumber').innerText, 10);
            var newValue = lastValue + 1;
        
            newRow.querySelector('.listNumber').innerText = newValue;

            var tdElements = newRow.querySelectorAll('td:not(.listNumber)');
            tdElements.forEach((td, index) => {
                if (index == 3) {
                    td.innerHTML = `<div id="options-name" class="options-container no-print"></div>`;
                } else if (index == 6) {
                    td.innerHTML = `<div id="options-additional" class="options-container no-print"></div>`;
                } else if (index == 7) {

                } else {
                    td.innerText = '';
                }
            });

            newRow.querySelector('.identUnit').innerText = "szt.";

            lastRow.parentNode.insertBefore(newRow, lastRow.nextSibling);
        }
        function deleteLastRow(button) {
            var row = button.parentNode.parentNode;
        
            // Get the listNumber of the row
            var listNumber = row.querySelector('.listNumber').innerText.trim();
        
            // Ask for confirmation with row number
            var confirmDelete = confirm("Usunąć wiesz numer " + listNumber + "?");
        
            if (confirmDelete) {    
                // Get the parent row (tr element)
                var row = button.parentNode.parentNode;
        
                // Check if listNumber is equal to 1 before deleting
                var listNumber = row.querySelector('.listNumber').innerText.trim();
                if (listNumber !== '1') {
                    // Remove the row from the table
                    row.parentNode.removeChild(row);
                    
                    // Recalculate listNumbers for remaining rows
                    var rows = document.querySelectorAll('.list-body');
        
                    // Update listNumbers for each row
                    rows.forEach(function(row, index) {
                        var listNumberElement = row.querySelector('.listNumber');
                        if (listNumberElement) {
                            listNumberElement.innerText = (index + 1).toString();
                        }
                    });
                    updateSum();		

                } else {
                    alert("Nie można usunąć pierwszego wiersza!");
                }
            }
        }
        function updateSum() {
            var elements = document.getElementsByClassName('identQuantity');
            var sum = 0;var sum = 0;
        
            for (var i = 0; i < elements.length; i++) {
                sum += parseFloat(elements[i].innerText) || 0;
            }
            
            document.getElementById('quantity_sum').innerText = sum;
        }
        function extractAndSubmitData() {
            window.print();
        }
        function refresh() {
            location.reload();
        }
        const optionNameList = [{'number': 23466, 'description': 'VB-HDM 298'}, {'number': 23080, 'description': 'KF196'}, {'number': 23133, 'description': 'KI-80-ST-9-D'}, {'number': 22148, 'description': 'KS 100,1 / PH'}, {'number': 23456, 'description': 'VB DRM 35x9/coated (Hoi)'}, {'number': 22983, 'description': 'HDM 454,5/II/V  VB1'}, {'number': 22984, 'description': 'HDM 454,5/II/V  VB2'}, {'number': 22280, 'description': 'VB HDM358'}, {'number': 25647, 'description': 'KS-50x76-ST-A /PH'}, {'number': 24237, 'description': 'KS-44x67-ST-A /PH'}, {'number': 22206, 'description': 'N7612'}, {'number': 24320, 'description': 'KF 84x117-ST-B'}, {'number': 23083, 'description': 'KS53,5x63x7,2'}, {'number': 23168, 'description': 'KI-92,1-ST-B'}, {'number': 23090, 'description': 'KS-96x114-ST-A'}, {'number': 22906, 'description': 'KF305/3'}, {'number': 22953, 'description': 'HDM 451/V  VB1'}, {'number': 22954, 'description': 'HDM 451/V  VB2'}, {'number': 22701, 'description': 'KS97x109x8,1'}, {'number': 23102, 'description': 'VB-HDM-264-ST-1-A 2 Studs'}, {'number': 23110, 'description': 'VB-HDM-264-ST-2-A  3 Studs'}, {'number': 23053, 'description': 'VB-HDM-264-ST-1-A  0 Studs'}, {'number': 22304, 'description': 'VB DRM 32x8,6 / PH'}, {'number': 22730, 'description': 'KF 60,7/1'}, {'number': 24234, 'description': 'KF-40x55-St-A /PH'}, {'number': 22661, 'description': 'KF 59,8x69x6,1 / PH'}, {'number': 22979, 'description': 'VB HDM357/V'}, {'number': 22491, 'description': 'HDM 454,5 / VB2'}, {'number': 22490, 'description': 'HDM 454,5 / VB1'}, {'number': 22700, 'description': 'KS 59,5x72x8,2 / PH'}, {'number': 24194, 'description': 'KS-25x40,5-ST-A'}, {'number': 22621, 'description': 'KF169/2'}, {'number': 23476, 'description': 'KS-50x72-ST-A'}, {'number': 23477, 'description': 'KS-55x78-ST-A'}, {'number': 22153, 'description': 'VB1 HDM411,8'}, {'number': 22154, 'description': 'VB2 HDM411,8'}, {'number': 23011, 'description': 'KS 68/10 / PH'}, {'number': 23464, 'description': 'VB-HDM-398-AL-2-A'}, {'number': 23140, 'description': 'VB-HDM-396-AL-1-A'}, {'number': 22122, 'description': 'VB1 HDM633'}, {'number': 22123, 'description': 'VB2 HDM633'}, {'number': 22184, 'description': 'KF 45,8/2 / PH'}, {'number': 23441, 'description': 'KF 55,1/I/Ph'}, {'number': 23468, 'description': 'VB1 HDM635,7/IV /PH'}, {'number': 23469, 'description': 'VB2 HDM635,7/IV /PH'}, {'number': 22205, 'description': 'J7509 / Entfettet'}, {'number': 23010, 'description': 'KS104/3'}, {'number': 22650, 'description': 'VB PDM 120'}, {'number': 22203, 'description': 'N 7509'}, {'number': 23404, 'description': 'KF-44,9x70-ST-A/PH'}, {'number': 22727, 'description': 'KS 114/1'}, {'number': 22185, 'description': 'KS 50,8/1 / PH'}, {'number': 24128, 'description': 'KF 51,8 / PH'}, {'number': 24331, 'description': 'KS-45x68-ST-1-A'}, {'number': 21918, 'description': 'HDM 181/II/V'}, {'number': 22384, 'description': 'KS47,5x58x6,3/PH'}, {'number': 23205, 'description': 'HDM 357-ST-2-B/PH'}, {'number': 22456, 'description': 'VB HDM609/III /PH                  '}, {'number': 22346, 'description': 'VB1 HDZ426,5/IV+HDZ427/III'}, {'number': 22347, 'description': 'VB2 HDZ426,5/IV+HDZ427/III'}, {'number': 22172, 'description': 'KS117'}, {'number': 21388, 'description': 'VB HDM650/I /PH                '}, {'number': 22724, 'description': 'KF 239/2'}, {'number': 21346, 'description': 'HDM 375/I/ VB1'}, {'number': 21347, 'description': 'HDM 375/I/ VB2'}, {'number': 22133, 'description': 'VB1 HDM 383,5/I'}, {'number': 22134, 'description': 'VB2 HDM 383,5/I'}, {'number': 16647, 'description': 'PRM 182/II/V'}, {'number': 24341, 'description': 'KS-47,7x63,4-ST-1-A'}, {'number': 23310, 'description': 'KS-50x76-ST-1-A /PH'}, {'number': 22728, 'description': 'KF 65,7 /1'}, {'number': 22104, 'description': 'HDM 376 VB1'}, {'number': 22105, 'description': 'HDM 376 VB2'}, {'number': 17270, 'description': 'HDM 496,4/VB1'}, {'number': 17271, 'description': 'HDM 496,4/VB2'}, {'number': 2308, 'description': 'KS-96x114-ST-A'}, {'number': 21728, 'description': 'HDM445/I/V VB1'}, {'number': 21729, 'description': 'HDM445/I/V VB2'}, {'number': 22726, 'description': 'KF 73,7'}, {'number': 22729, 'description': 'KF 161 /2'}, {'number': 21382, 'description': 'DRM 26x7,5/I/V'}, {'number': 22263, 'description': 'HDM 451,9/II/V'}, {'number': 23478, 'description': 'KS-44x67-ST-3-A /PH'}, {'number': 23309, 'description': 'KS 47x76,6'}, {'number': 19262, 'description': 'VB HDM349,5/I /PH           '}, {'number': 26349, 'description': 'HDM 424/III/V'}, {'number': 22197, 'description': 'KF112,7/1'}, {'number': 22161, 'description': 'KS 76 / PH'}, {'number': 18918, 'description': 'VB DRM30x7,3/I'}, {'number': 22725, 'description': 'KF 231/1'}, {'number': 23155, 'description': 'HDM 347-ST-A'}, {'number': 22165, 'description': 'KF65,9'}, {'number': 23173, 'description': 'KF-23,7x53-ST-A'}, {'number': 22128, 'description': 'VB1 HDM286'}, {'number': 22129, 'description': 'VB2 HDM286'}, {'number': 23307, 'description': 'KS-52x75,5-ST-A/PH'}, {'number': 21034, 'description': 'HDM 161/I/V'}, {'number': 22390, 'description': 'VB HDM627 /PH                    '}, {'number': 23465, 'description': 'SEM 192 '}, {'number': 21407, 'description': 'HDM 212/I-1 /V'}, {'number': 22274, 'description': 'VB HDM142,6/V'}, {'number': 17269, 'description': 'VB2 HDM496,4/V                '}, {'number': 17268, 'description': 'VB1 HDM496,4/V                '}, {'number': 22344, 'description': 'VB3 HDZ335/III /P              '}, {'number': 22342, 'description': 'VB1 HDZ335/III /PH            '}, {'number': 22343, 'description': 'VB2 HDZ335/III /PH             '}, {'number': 22345, 'description': 'VB PRZ 265/II /PH             '}, {'number': 17877, 'description': 'VB HDM389,3/II /PH          '}, {'number': 26508, 'description': 'VB HDM212/I                   '}, {'number': 22391, 'description': 'VB1 HDM530/I /P               '}, {'number': 22392, 'description': 'VB2 HDM530/I /P                '}, {'number': 22420, 'description': 'VB1 HDM452/II /P'}, {'number': 22421, 'description': 'VB2 HDM452/II /P'}, {'number': 22444, 'description': 'VB HDM181/II /P'}, {'number': 22684, 'description': 'VB PDM 110,1'}, {'number': 22488, 'description': 'VB1 HDM 454,5'}, {'number': 22489, 'description': 'VB2 HDM 454,5'}, {'number': 22130, 'description': 'VB1 HDM474/VI'}, {'number': 22131, 'description': 'VB2 HDM474/VI - 474,1/I'}, {'number': 22126, 'description': 'VB1 HDM340/II'}, {'number': 22127, 'description': 'VB2 HDM340/II'}, {'number': 21177, 'description': 'VB2 HDM375/I                  '}, {'number': 21176, 'description': 'VB1 HDM375/I                  '}, {'number': 22348, 'description': 'VB1 HDM445/I /PH                 '}, {'number': 22349, 'description': 'VB2 HDM445/I /PH                 '}, {'number': 22341, 'description': 'VB HDM462/V /PH                  '}, {'number': 23587, 'description': 'VB2 HDM439/III                '}, {'number': 23586, 'description': 'VB1 HDM439/III                '}, {'number': 20752, 'description': 'VB1 HDM470,5/II               '}, {'number': 20753, 'description': 'VB2 HDM470,5/II               '}, {'number': 22402, 'description': 'VB HDM161/I /PH              '}, {'number': 22401, 'description': 'VB HDM407/III /PH'}, {'number': 22400, 'description': 'VB HDM451,9/II /P'}, {'number': 22403, 'description': 'VB HDM424/III /PH      '}, {'number': 22440, 'description': 'VB HDM 95,5'}, {'number': 22175, 'description': 'KS67'}, {'number': 22170, 'description': 'W7651'}, {'number': 22174, 'description': 'KF48,2 (DRM 30x7,3)'}, {'number': 22145, 'description': 'KF122,7'}, {'number': 22723, 'description': 'KF 165/14'}, {'number': 22524, 'description': 'BD IHD 458/II\nohne Schrauben'}, {'number': 22036, 'description': 'VB HDZ 392'}, {'number': 22164, 'description': 'KS42 /PH'}, {'number': 24080, 'description': 'KS 52/4 / PH'}, {'number': 24123, 'description': 'KF 98x113x10,8 / PH'}, {'number': 22647, 'description': 'VB DRM 26x7,5/I / PH'}, {'number': 22716, 'description': 'VB DRM35x9'}, {'number': 23023, 'description': 'VB1 HDM 454,5/II'}, {'number': 23024, 'description': 'VB2 HDM 454,5/II'}, {'number': 24159, 'description': 'VB1 HDM451'}, {'number': 24160, 'description': 'VB2 HDM451'}, {'number': 23141, 'description': 'VB-HDM-396-AL-2-A'}, {'number': 23588, 'description': 'HDM 439 VB1'}, {'number': 23589, 'description': 'HDM 439 VB2'}, {'number': 23300, 'description': 'HDM 221'}, {'number': 20754, 'description': 'HDM470,5/II/PH VB1'}, {'number': 20755, 'description': 'HDM470,5/II/PH VB2'}, {'number': 21398, 'description': 'DRM 28x9,2/I/PH'}, {'number': 22656, 'description': 'KS 37,75x58x8'}, {'number': 22703, 'description': 'KS97x109x8,1'}, {'number': 16625, 'description': 'PRZ 265/III'}, {'number': 16636, 'description': 'HDZ 335/III/V VB1'}, {'number': 16637, 'description': 'HDZ 335/III/V VB2'}, {'number': 16654, 'description': 'HDZ 335/III/V VB3'}, {'number': 21380, 'description': 'VB HDM95,5/IV/V'}, {'number': 16643, 'description': 'VB HDM389,3/II /PH          '}, {'number': 22439, 'description': 'HDM 635,7 VB2'}, {'number': 22438, 'description': 'HDM 635,7 VB1'}, {'number': 23305, 'description': 'HDM-221-AL.-A/PH'}, {'number': 22192, 'description': 'HDM 452/II/V  VB1'}, {'number': 22193, 'description': 'HDM 452/II/V  VB2'}, {'number': 17417, 'description': 'KS 42,2'}, {'number': 22173, 'description': 'KS 42,5'}, {'number': 16610, 'description': 'HDZ 392'}, {'number': 17053, 'description': 'VB HDM462/V /PH                  '}, {'number': 22159, 'description': 'KS 42/2'}, {'number': 11111, 'description': 'VB HDM408/III /PH'}, {'number': 24319, 'description': 'KF 40x52-ST-A'}, {'number': 30169, 'description': 'VB-HDM-398-AL-A'}, {'number': 24293, 'description': 'KS-50x72-ST-A'}, {'number': 24292, 'description': 'KS 55x78x8-ST-A'}, {'number': 23308, 'description': 'KS-47x76,6-ST-A/PH'}, {'number': 23479, 'description': 'KS-47,7x63,4-ST-1-A /PH'}, {'number': 22162, 'description': 'KF36,9 /PH'}, {'number': 16606, 'description': 'VB HDM408/III /V/PH '}, {'number': 52045, 'description': 'KS 58,8'}, {'number': 24038, 'description': 'KS 65/10'}, {'number': 99034, 'description': 'KS 35x62'}, {'number': 99032, 'description': 'KF 100x120'}, {'number': 24007, 'description': 'KF 78,1'}, {'number': 24069, 'description': 'KF 70,8'}, {'number': 22660, 'description': 'KF 59,8x69x6,1 / PH'}, {'number': 21282, 'description': 'KF 103,7/4'}, {'number': 24130, 'description': '27,75x38x5,8'}, {'number': 15544, 'description': 'KS 68/2'}, {'number': 22222, 'description': 'KF 23,7x59'}, {'number': 17141, 'description': 'KF 46,8'}, {'number': 15109, 'description': 'KF 45,3'}, {'number': 23480, 'description': 'KS-45x68-ST-1-A /PH'}, {'number': 30110, 'description': 'VB-HDM 264 ST-A   (0 B) /Lackiert.'}, {'number': 30111, 'description': 'VB-HDM 264 ST-1-A   (2 B) /Lackiert.'}, {'number': 30112, 'description': 'VB-HDM 264 ST-2-A   (3 B) /Lackiert.'}, {'number': 30082, 'description': 'HDM 347/Lackiert.'}, {'number': 30126, 'description': 'HDM 357/Lackiert.'}];
        $(document).on('input', '#identAdditional', function(event) {
            var enteredText = $(this).contents().filter(function() {
                return this.nodeType == 3;
            }).first().text().trim().toLowerCase().replace(/\s/g, '');

            var identAdd = $(this).closest('tr').find('#identAdditional');

            var enteredTextWhole = $(this).text().trim().toLowerCase().replace(/\s/g, '');

            if (enteredTextWhole.length == 1) {
                enteredText = enteredTextWhole;
                identAdd.html(`${enteredText}<div id="options-additional" class="options-container no-print"></div>`);
                var node = $(this).contents().filter(function() {
                    return this.nodeType === 3;
                }).first()[0];
            
                var range = document.createRange();
                var selection = window.getSelection();
                range.setStart(node, node.length);
                range.collapse(true);
                selection.removeAllRanges();
                selection.addRange(range);
            } 

            var optionsAdd = $(this).closest('tr').find('#options-additional');
            optionsAdd.empty()
            const optionList = ['poprawkowe', 'KTL', 'Wady GTM', 'Wady Bruss', 'Kanban'];
            
            optionList.forEach(function(option) {
                if (enteredText != '' && option.toLowerCase().includes(enteredText)) {
                    const optionElement = document.createElement('div');
                    optionElement.classList.add('option');
                    optionElement.textContent = option;

                    optionElement.addEventListener('mousedown', function() {
                        identAdd.html(`${option}<div id="options-additional" class="options-container no-print"></div>`);
                        optionsAdd.empty();

                    });
                    optionsAdd.append(optionElement);
                }
            });
        });
        $(document).on('input', '#identName', function(event) {
            var enteredText = $(this).contents().filter(function() {
                return this.nodeType == 3;
            }).first().text().trim().toLowerCase().replace(/\s/g, '');

            var identName = $(this).closest('tr').find('#identName');

            var enteredTextWhole = $(this).text().trim().toLowerCase().replace(/\s/g, '');

            if (enteredTextWhole.length == 1) {
                enteredText = enteredTextWhole;
                identName.html(`${enteredText}<div id="options-name" class="options-container no-print"></div>`);
                var node = $(this).contents().filter(function() {
                    return this.nodeType === 3;
                }).first()[0];
            
                var range = document.createRange();
                var selection = window.getSelection();
                range.setStart(node, node.length);
                range.collapse(true);
                selection.removeAllRanges();
                selection.addRange(range);
            } 

            var identId = $(this).closest('tr').find('#identId');
            var optionsName = $(this).closest('tr').find('#options-name');
            optionsName.empty();
            
            optionNameList.forEach(option => {
                if (enteredText != '' && containsAllChars(option.description.toLowerCase(), enteredText)) {
                    const optionElement = document.createElement('div');
                    optionElement.classList.add('option');
                    optionElement.textContent = option.description;
                    
                    optionElement.addEventListener('mousedown', function() {
                        identId.text(option.number);
                        identName.html(`${option.description}<div id="options-name" class="options-container no-print"></div>`);
                        optionsName.empty();

                    });
                    optionsName.append(optionElement);
                }
            });
        });
        function containsAllChars(mainString, subString) {
            for (let char of subString) {
                if (!mainString.includes(char)) {
                    return false;
                }
            }
            return true;
        }

        $(document).ready(function() {
            // Get the current date
            var currentDate = new Date();

            // Extract components of the date
            var year = currentDate.getFullYear();
            var month = currentDate.getMonth() + 1; // Month is zero-based, so we add 1
            var day = currentDate.getDate();

            // Format the date as desired
            var formattedDate = (day < 10 ? '0' + day : day) + '.' + (month < 10 ? '0' + month : month) + '.' + year;

            // Set the date to a HTML element with id "dateDisplay" using jQuery
            $('.date_today#dateDisplay').text(formattedDate);
            $('#selectedId').text('WZ 3 '+ 'xxx' + "/" + (month < 10 ? '0' + month : month) + "/" + year);

        });
        function fetchDataFromServer(orderId, row) {
            $.ajax({
                url: '/tools/wz/get/',
                method: 'GET',
                data: { orderId: orderId },
                success: function(response) {
                    if (response.status === 'success') {
                        // Update the content of the row with the fetched data
                        row.find('.orderId').text(response.orderId);
                        row.find('.identId').text(response.identId);
                        row.find('.identName').text(response.identName);
                        row.find('.identQuantity').text(response.identQuantity);
                        row.find('.identUnit').text(response.identUnit);
                        row.find('.identAdditional').text(response.identAdditional);

                        // You may also trigger the updateSum function if needed		
                        updateSum();
                    } else if (response.status === 'failure') {
                        row.find('.identName').text("nie znaleziono kodu w bazie");
                        row.find('.identQuantity').text("");
                        row.find('.identUnit').text("");
                        row.find('.identAdditional').text("");
                    }

                },
                error: function(error) {
                console.error('Error fetching data from the server:', error);
                }
            });
	}
        $(document).ready(function() {
            $('.orderId').on('keydown', function(event) {
            if (event.keyCode === 13) { // Check if the pressed key is Enter
                event.preventDefault(); // Prevent the default behavior of Enter key
        
                // Get the content of orderId and make a server query
                var orderIdContent = $(this).text().trim();
                fetchDataFromServer(orderIdContent, $(this).closest('tr'));
            }
            });
        });
        $(document).off('keydown', '.orderId').on('keydown', '.orderId', function(event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                var orderIdContent = $(this).text();
                fetchDataFromServer(orderIdContent, $(this).closest('tr'));
            }
        });
    </script>
</body>
