{% load static %}
<html>
<head>
	<title>{{ sic_str }}</title>
	<link rel="icon" type="image/png" href="{% static 'img/GTM_logo_mini.png' %}">
	<meta HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8"/>
	<link rel="stylesheet" href="{% static 'css/sic.css' %}">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script>
	function addNewRow() {  
		var listBodies = document.querySelectorAll('.list-body');
	  
		var lastRow = listBodies[listBodies.length - 1];
	  
		var newRow = lastRow.cloneNode(true);
		var lastValue = parseInt(lastRow.querySelector('.listNumber').innerText, 10);
		var newValue = lastValue + 1;
	  
		newRow.querySelector('.listNumber').innerText = newValue;

		var tdElements = newRow.querySelectorAll('td:not(.listNumber)');
		tdElements.forEach((td, index) => {
			if (index == 3) {
				td.innerHTML = `<div id="options-name" class="options-container no-print"></div>`;
			} else if (index == 6) {
				td.innerHTML = `<div id="options-additional" class="options-container no-print"></div>`;
			} else if (index == 7) {

			} else {
				td.innerText = '';
			}
		});

		newRow.querySelector('.identUnit').innerText = "szt.";

		lastRow.parentNode.insertBefore(newRow, lastRow.nextSibling);
	}
	function deleteLastRow(button) {
		var row = button.parentNode.parentNode;
	
		// Get the listNumber of the row
		var listNumber = row.querySelector('.listNumber').innerText.trim();
	
		// Ask for confirmation with row number
		var confirmDelete = confirm("Usunąć wiesz numer " + listNumber + "?");
	
		if (confirmDelete) {    
			// Get the parent row (tr element)
			var row = button.parentNode.parentNode;
	
			// Check if listNumber is equal to 1 before deleting
			var listNumber = row.querySelector('.listNumber').innerText.trim();
			if (listNumber !== '1') {
				// Remove the row from the table
				row.parentNode.removeChild(row);
				
				// Recalculate listNumbers for remaining rows
				var rows = document.querySelectorAll('.list-body');
	
				// Update listNumbers for each row
				rows.forEach(function(row, index) {
					var listNumberElement = row.querySelector('.listNumber');
					if (listNumberElement) {
						listNumberElement.innerText = (index + 1).toString();
					}
				});
				updateSum();		

			} else {
				alert("Nie można usunąć pierwszego wiersza!");
			}
		}
	}
	function updateSum() {
		var elements = document.getElementsByClassName('identQuantity');
		var sum = 0;var sum = 0;
	
		for (var i = 0; i < elements.length; i++) {
			sum += parseFloat(elements[i].innerText) || 0;
		}
		
		document.getElementById('quantity_sum').innerText = sum;
	}
	document.addEventListener('DOMContentLoaded', function() {
		document.getElementById('id_sic_id').addEventListener('change', function() {
			document.getElementById('brussExportForm').submit();
		});
	});
	function extractTableData() {	
		// Get all elements with class "list-body"
		var listBodyElements = document.getElementsByClassName("list-body");
	
		// Array to store the extracted data
		var data = [];
	
		// Iterate through each list-body element
		for (var i = 0; i < listBodyElements.length; i++) {
			var row = listBodyElements[i];
	
			// Extract data from the specific children elements
			var orderId = row.querySelector(".orderId").textContent.trim();
			var identId = row.querySelector(".identId").textContent.trim();
			var identName = row.querySelector(".identName").textContent.trim();
			var identQuantity = row.querySelector(".identQuantity").textContent.trim();
			var identUnit = row.querySelector(".identUnit").textContent.trim();
			var identAdditional = row.querySelector(".identAdditional").textContent.trim();
	
			// Create an object with the extracted data
			var rowData = {
				orderId: orderId,
				pl1: "",
				pl2: "",
				identId: identId,
				identName: identName,
				identQuantity: identQuantity,
				identUnit: identUnit,
				identAdditional: identAdditional
			};
	
			// Push the object to the data array
			data.push(rowData);
		}
	
		// Log the extracted data (you can replace this with your desired saving logic)
	
		return data;    
	}
	function extractAndSubmitData() {
		var printerIcon = document.getElementById('printerIcon');
        
		// Add the spin-animation class to start spinning
		printerIcon.classList.add('move-along-middle-animation');
		// Your code to extract data from the HTML table
		var extractedData = extractTableData();
		// AJAX request to send data to Django view
		$.ajax({
			url: '/tools/wz/post/',
			method: 'POST',
			contentType: 'application/json',
			dataType: 'json',
			data: JSON.stringify(
				{ 
					sic_id: {{ sic_nr }},
					timestamp: "{{ timestamp|safe }}",
					extracted_data: extractedData 
				}
			), 
			success: function(response) {
				updateSum();
				printerIcon.classList.remove('move-along-middle-animation');
				if (response.status === 'success') {
					alert('Pomyślnie wysłano dane');
				} else {
					alert('Błąd wysyłania danych');
				}

				window.print();

			},
			error: function(error) {
				// Handle error response from the server
				console.error(error);
			}
		});
	}
    function redirectToURL(url) {
		var refreshIcon = document.getElementById('refreshIcon');
        
		// Add the spin-animation class to start spinning
		refreshIcon.classList.add('spin-animation');

        window.location.href = url;

		refreshIcon.classList.remove('spin-animation');

    }
	$(document).ready(function() {
		$('.orderId').on('keydown', function(event) {
		  if (event.keyCode === 13) { // Check if the pressed key is Enter
			event.preventDefault(); // Prevent the default behavior of Enter key
	
			// Get the content of orderId and make a server query
			var orderIdContent = $(this).text().trim();
			fetchDataFromServer(orderIdContent, $(this).closest('tr'));
		  }
		});

		var $listBodies = $('.list-body');

		// Get a copy of the first list-body element
		var $listHeader = $('.list-header').first().clone().addClass('print-only');

		// Initialize variables
		var currentPageHeight = 0;
		var maxPageHeight = 900;

		// Add initial page number

		// Iterate over each element
		$listBodies.each(function() {
			var $this = $(this);
			var elementHeight = $this.outerHeight(true); // Including margin

			// Check if adding this element would exceed the page height
			if (currentPageHeight + elementHeight > maxPageHeight) {
				// Add a page break before this element
				$this.before('<div class="page-break"></div>');
				
				// Insert the copy of the first list-body element
				$this.before($listHeader.clone());

				// Reset the current page height
				currentPageHeight = 0;
			}

			// Update the current page height
			currentPageHeight += elementHeight;
		});
	});
	$(document).off('keydown', '.orderId').on('keydown', '.orderId', function(event) {
		if (event.keyCode === 13) {
			event.preventDefault();
			var orderIdContent = $(this).text();
			fetchDataFromServer(orderIdContent, $(this).closest('tr'));
		}
	});
	const optionNameList = {{ bruss_idents|safe }};
	// Event handler for input field
	$(document).on('input', '#identAdditional', function(event) {
		var enteredText = $(this).contents().filter(function() {
			return this.nodeType == 3;
		}).first().text().trim().toLowerCase().replace(/\s/g, '');

		var identAdd = $(this).closest('tr').find('#identAdditional');

		var enteredTextWhole = $(this).text().trim().toLowerCase().replace(/\s/g, '');

		if (enteredTextWhole.length == 1) {
			enteredText = enteredTextWhole;
			identAdd.html(`${enteredText}<div id="options-additional" class="options-container no-print"></div>`);
			var node = $(this).contents().filter(function() {
				return this.nodeType === 3;
			}).first()[0];
		
			var range = document.createRange();
			var selection = window.getSelection();
			range.setStart(node, node.length);
			range.collapse(true);
			selection.removeAllRanges();
			selection.addRange(range);
		} 

		var optionsAdd = $(this).closest('tr').find('#options-additional');
		optionsAdd.empty()
		const optionList = ['poprawkowe', 'KTL', 'Wady GTM', 'Wady Bruss', 'Kanban'];
		
		optionList.forEach(function(option) {
			if (enteredText != '' && option.toLowerCase().includes(enteredText)) {
				const optionElement = document.createElement('div');
				optionElement.classList.add('option');
				optionElement.textContent = option;

				optionElement.addEventListener('mousedown', function() {
					identAdd.html(`${option}<div id="options-additional" class="options-container no-print"></div>`);
					optionsAdd.empty();

				});
				optionsAdd.append(optionElement);
			}
		});
	});
	$(document).on('input', '#identName', function(event) {
		var enteredText = $(this).contents().filter(function() {
			return this.nodeType == 3;
		}).first().text().trim().toLowerCase().replace(/\s/g, '');

		var identName = $(this).closest('tr').find('#identName');

		var enteredTextWhole = $(this).text().trim().toLowerCase().replace(/\s/g, '');

		if (enteredTextWhole.length == 1) {
			enteredText = enteredTextWhole;
			identName.html(`${enteredText}<div id="options-name" class="options-container no-print"></div>`);
			var node = $(this).contents().filter(function() {
				return this.nodeType === 3;
			}).first()[0];
		
			var range = document.createRange();
			var selection = window.getSelection();
			range.setStart(node, node.length);
			range.collapse(true);
			selection.removeAllRanges();
			selection.addRange(range);
		} 

		var identId = $(this).closest('tr').find('#identId');
		var optionsName = $(this).closest('tr').find('#options-name');
		optionsName.empty();
		
		optionNameList.forEach(option => {
			if (enteredText != '' && containsAllChars(option.description.toLowerCase(), enteredText)) {
				const optionElement = document.createElement('div');
				optionElement.classList.add('option');
				optionElement.textContent = option.description;
				
				optionElement.addEventListener('mousedown', function() {
					identId.text(option.number);
					identName.html(`${option.description}<div id="options-name" class="options-container no-print"></div>`);
					optionsName.empty();

				});
				optionsName.append(optionElement);
			}
		});
	});
	function containsAllChars(mainString, subString) {
		for (let char of subString) {
			if (!mainString.includes(char)) {
				return false;
			}
		}
		return true;
	}
	// Event listener for input events on document
	function fetchDataFromServer(orderId, row) {
		$.ajax({
			url: '/tools/wz/get/',
			method: 'GET',
			data: { orderId: orderId },
			success: function(response) {
				if (response.status === 'success') {
					// Update the content of the row with the fetched data
					row.find('.orderId').text(response.orderId);
					row.find('.identId').text(response.identId);
					row.find('.identName').text(response.identName);
					row.find('.identQuantity').text(response.identQuantity);
					row.find('.identUnit').text(response.identUnit);
					row.find('.identAdditional').text(response.identAdditional);

					// You may also trigger the updateSum function if needed		
					updateSum();
				} else if (response.status === 'failure') {
					row.find('.identName').text("nie znaleziono kodu w bazie");
					row.find('.identQuantity').text("");
					row.find('.identUnit').text("");
					row.find('.identAdditional').text("");
				}

			},
			error: function(error) {
			console.error('Error fetching data from the server:', error);
			}
		});
	}
	function newDocument() {
		var confirmNew = confirm("Stworzyć nowy pusty dokument?");
		if (confirmNew) {
			$.ajax({
				url: '/tools/wz/new/',
				method: 'POST',
				data: { 'newDoc': true },
				error: function(error) {
					console.error('Error sending data to the server:', error);
				},
				success: function() {
					redirectToURL('{% url 'stock_issue_confirmation' %}');
				}
			});
		}
	}
	function deleteDocument() {
		var confirmDel = confirm("Usunąć dokument " + "{{ sic_str }}" + "?");
		if (confirmDel) {
			$.ajax({
				url: '/tools/wz/delete/',
				method: 'POST',
				data: { 'deleteDoc': true,
						'sic_nr': {{ sic_nr }},
						'timestamp': "{{ timestamp|safe }}"
				},
				success: function() {
					redirectToURL('{% url 'stock_issue_confirmation' %}');
				},
				error: function(error) {
					console.error('Error sending data to the server:', error);
				}
			});
		}
	}
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<body style="background-color:#FFFFFF">
<div class="container">
<div class="row" style="height: 100%; padding-bottom: 15px;">
	<div class="col no-print" >
		<div class="container" style="display: flex; flex-direction: column; min-height: 100%;">
			<div class="content" style="flex-grow: 1;">
				<button class="btn btn-lg btn-warning" onclick="newDocument()">
					<i class="fa-regular fa-square-plus"></i> Nowy pusty <br> dokument
				</button>
				<br></br>
		
				<button class="btn btn-lg btn-success" onclick="redirectToURL('{% url 'stock_issue_confirmation' %}')">
					<i id="refreshIcon" class="fa-solid fa-refresh"></i> Odśwież
				</button>
				
				<br></br>
				<button class="btn btn-lg btn-primary" onclick="extractAndSubmitData()">
					<i id="printerIcon" class="fa-solid fa-print"></i> Drukuj
				</button>

				<br></br>
				<button class="btn btn-lg btn-outline-primary" onclick="redirectToURL('{% url 'stock_issue_confirmation_manual' %}')">
					<i class="fa-regular fa-file"></i> Instrukcja
				</button>
			</div>
			<div class="footer" style="margin-top: auto;">
				<button class="btn btn-lg btn-danger" onclick="deleteDocument()">
					<i class="fa-solid fa-square-minus"></i> Usuń WZ
				</button>
			</div>
		</div>

	</div>
	<div class="col-7">
	<table cellpadding="0" cellspacing="0" border="0" style="border-width:0px;empty-cells:show;width:643px;height:565px;position:relative;">
		<tr>
			<td style="height:0px;width:0px;"></td>
			<td style="height:0px;width:1px;"></td>
			<td style="height:0px;width:3px;"></td>
			<td style="height:0px;width:15px;"></td>
			<td style="height:0px;width:11px;"></td>
			<td style="height:0px;width:96px;"></td>
			<td style="height:0px;width:35px;"></td>
			<td style="height:0px;width:151px;"></td>
			<td style="height:0px;width:7px;"></td>
			<td style="height:0px;width:4px;"></td>
			<td style="height:0px;width:1px;"></td>
			<td style="height:0px;width:4px;"></td>
			<td style="height:0px;width:2px;"></td>
			<td style="height:0px;width:43px;"></td>
			<td style="height:0px;width:23px;"></td>
			<td style="height:0px;width:101px;"></td>
			<td style="height:0px;width:13px;"></td>
			<td style="height:0px;width:62px;"></td>
			<td style="height:0px;width:3px;"></td>
			<td style="height:0px;width:64px;"></td>
			<td style="height:0px;width:3px;"></td>
			<td style="height:0px;width:1px;"></td>

		</tr>
		<tr style="vertical-align:top;">
			<td style="width:0px;height:19px;"></td>
			<td class="csBD623EE0" colspan="15" rowspan="2" style="width:396px;height:22px;line-height:20px;text-align:left;vertical-align:middle;"><nobr>Wydanie&nbsp;magazynowe</nobr></td>
			<td class="cs7642D58C" colspan="4" style="width:179px;height:19px;line-height:15px;text-align:right;vertical-align:middle;"><nobr>Data&nbsp;wystawienia</nobr></td>
			<td class="cs7642D58C" colspan="2" style="width:67px;height:19px;line-height:15px;text-align:right;vertical-align:middle;"><nobr class="date_today" contenteditable="true">{{ timestamp|date:"d.m.Y" }}</nobr></td>
			<td></td>
		</tr>
		<tr style="vertical-align:top;">
			<td style="width:0px;height:3px;"></td>
			<td class="cs7642D58C" colspan="4" rowspan="2" style="width:179px;height:19px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
			<td class="cs7642D58C" colspan="2" rowspan="2" style="width:67px;height:19px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
			<td></td>
		</tr>
		<tr style="vertical-align:top;">
			<td style="width:0px;height:16px;"></td>
			<td class="cs590C8185 sic-selector" colspan="14" rowspan="2" style="width:396px;height:25px;line-height:24px;text-align:left;vertical-align:middle;">
				<form id="brussExportForm" method="post" action="{% url 'stock_issue_confirmation' %}">
					{% csrf_token %}
					
					{{ form.sic_id }}
				</form>
				<span style="display: none" id="selectedId">{{ sic_str }}</span>
			</td>
			<td></td>
		</tr>
		<tr style="vertical-align:top;">
			<td style="width:0px;height:9px;"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr style="vertical-align:top;">
			<td style="width:0px;height:19px;"></td>
			<td class="cs7642D58C" colspan="14" style="width:396px;height:19px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr style="vertical-align:top;">
			<td style="width:0px;height:19px;"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr style="vertical-align:top;">
			<td style="width:0px;height:16px;"></td>
		</tr>
		<tr style="vertical-align:top;">
			<td style="width:0px;height:8px;"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr style="vertical-align:top;">
			<td style="width:0px;height:16px;"></td>
			<td class="cs681EBA2D" colspan="9" style="width:311px;height:16px;line-height:15px;text-align:left;vertical-align:top;"><nobr>Wystawca</nobr></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="cs681EBA2D" colspan="8" style="width:311px;height:16px;line-height:15px;text-align:left;vertical-align:top;"><nobr>Odbiorca</nobr></td>
			<td></td>
		</tr>
		<tr style="vertical-align:top;">
			<td style="width:0px;height:32px;"></td>
			<td class="cs84D22FF3" colspan="9" style="width:311px;height:32px;line-height:15px;text-align:left;vertical-align:top;"><nobr>GALWANOTECHNIKA&nbsp;MRĄGOWO&nbsp;SP&#211;ŁKA&nbsp;Z&nbsp;OGRANICZONĄ</nobr><br/><nobr>ODPOWIEDZIALNOŚCIĄ</nobr></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="cs84D22FF3" colspan="8" style="width:311px;height:32px;line-height:15px;text-align:left;vertical-align:top;"><nobr>&quot;BRUSS&nbsp;POLSKA&quot;&nbsp;SP&#211;ŁKA&nbsp;Z&nbsp;OGRANICZONĄ</nobr><br/><nobr>ODPOWIEDZIALNOŚCIĄ</nobr></td>
			<td></td>
		</tr>
		<tr style="vertical-align:top;">
			<td style="width:0px;height:31px;"></td>
			<td class="cs84D22FF3" colspan="9" style="width:311px;height:31px;line-height:15px;text-align:left;vertical-align:top;"><nobr>ul.&nbsp;Kolejowa&nbsp;6</nobr><br/><nobr>11-700&nbsp;Mrągowo,&nbsp;Polska</nobr></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="cs84D22FF3" colspan="8" style="width:311px;height:31px;line-height:15px;text-align:left;vertical-align:top;"><nobr>ul.&nbsp;Giżycka&nbsp;9</nobr><br/><nobr>11-700&nbsp;Mrągowo,&nbsp;Polska</nobr></td>
			<td></td>
		</tr>
		<tr style="vertical-align:top;">
			<td style="width:0px;height:17px;"></td>
			<td class="cs84D22FF3" colspan="9" style="width:311px;height:17px;line-height:15px;text-align:left;vertical-align:top;"><nobr>NIP:&nbsp;7422080829</nobr></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="cs84D22FF3" colspan="8" style="width:311px;height:17px;line-height:15px;text-align:left;vertical-align:top;"><nobr>NIP:&nbsp;5992594808</nobr></td>
			<td></td>
		</tr>
		<tr style="vertical-align:top;">
			<td style="width:0px;height:19px;"></td>
			<td class="cs84D23096" colspan="9" style="width:310px;height:19px;line-height:15px;text-align:left;vertical-align:top;"><nobr>BDO:&nbsp;000037650</nobr></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="cs84D23096" colspan="8" style="width:310px;height:19px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
			<td></td>
		</tr>
		<tr style="vertical-align:top;">
			<td style="width:0px;height:19px;"></td>
			<td class="cs84D23096" colspan="8" style="width:310px;height:19px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr class="list-header">
			<td style="width:0px;height:18px;"></td>
			<td class="list-header-element"colspan="2" style="width:24px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"><nobr>Lp.</nobr></td>
			<td class="list-header-element" colspan="3" style="width:63px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"><nobr>ID</nobr></td>
			<td class="list-header-element" colspan="1" style="width:43px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"><nobr>Kod towaru</nobr></td>
			<td class="list-header-element" colspan="9" style="width:331px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"><nobr>Nazwa towaru</nobr></td>
			<td class="list-header-element" colspan="2" style="width:70px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"><nobr>Ilość</nobr></td>
			<td class="list-header-element" colspan="2" style="width:33px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"><nobr>Jednostka</nobr></td>
			<td class="list-header-element" colspan="2" style="width:33px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"><nobr>Dodatkowe</nobr></td>
			<td class="list-header-element no-print"colspan="1" style="width:10px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"><button class="addRowButton btn btn-sm btn-success" onclick="addNewRow()"><i class="fas fa-plus"></i></button></td>

		</tr>
		{% for row in json_data %}
		<tr class="list-body">
			<td style="width:0px;height:18px;"></td>
			<td class="list-element listNumber" colspan="2" style="width:24px;height:16px;line-height:13px;text-align:right;vertical-align:middle;"
				contenteditable="true">{{ forloop.counter }} </td>
			<td class="list-element orderId" colspan="3" style="width:63px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"
				contenteditable="true">{{ row.0 }} </td>
			<td class="list-element identId" colspan="1" style="width:43px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"
				id="identId" contenteditable="true">{{ row.3 }} </td>
			<td class="list-element identName" colspan="9" style="width:333px;height:16px;line-height:13px;text-align:left;vertical-align:middle;"
				id="identName" contenteditable="true">{{ row.4 }}
				<div id="options-name" class="options-container no-print"></div>
			</td>
			<td class="list-element identQuantity" colspan="2" style="width:70px;height:16px;line-height:13px;text-align:right;vertical-align:middle;"
				contenteditable="true" oninput="updateSum()">{{ row.5 }}</td>
			<td class="list-element identUnit" colspan="2" style="width:33px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"
				contenteditable="true">{{ row.6 }}</td>
			<td class="list-element identAdditional" colspan="2" style="width:33px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"
				id="identAdditional" contenteditable="true">{{ row.7 }}
				<div id="options-additional" class="options-container no-print"></div>
			</td>
			<td class="list-element no-print" colspan="1" style="width:10px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"><button class="deleteRowButton btn btn-sm btn-danger" onclick="deleteLastRow(this)"><i class="fas fa-minus"></i></button></td>
		</tr>
		{% endfor %}

		{% for i in blank %}
		<tr class="list-body-placeholder">
			<td style="width:0px;height:18px;"></td>
			<td colspan="2" style="width:24px;height:16px;line-height:13px;text-align:right;vertical-align:middle;"></td>
			<td colspan="3" style="width:63px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"></td>
			<td colspan="1" style="width:43px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"></td>
			<td colspan="9" style="width:333px;height:16px;line-height:13px;text-align:left;vertical-align:middle;"></td>
			<td colspan="2" style="width:70px;height:16px;line-height:13px;text-align:right;vertical-align:middle;"></td>
			<td colspan="2" style="width:33px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"></td>
			<td colspan="2" style="width:33px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"></td>
			<td colspan="1" style="width:10px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"></td>
		</tr>
		{% endfor %}
		<tr style="vertical-align:top;">
			<td style="width:0px;height:10px;"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr style="vertical-align:top;">
			<td style="width:0px;height:16px;"></td>
			<td class="cs7642D58C" colspan="5" style="width:126px;height:16px;line-height:15px;text-align:left;vertical-align:middle;"><nobr >Podsumowanie ilości</nobr></td>
			<td class="cs7642D58C" colspan="16" style="width:517px;height:16px;line-height:15px;text-align:left;vertical-align:middle;"><nobr id="quantity_sum"> {{ init_sum }} </nobr> szt.</td>
		</tr>

		<tr style="vertical-align:top;">
			<td style="width:0px;height:17px;"></td>

		</tr>
		<tr style="vertical-align:top;">
			<td style="width:0px;height:16px;"></td>
			<td class="cs7642D58C" colspan="21" style="width:126px;height:16px;line-height:15px;text-align:left;vertical-align:middle;"><nobr >Stan opakowania zgodny, bez uszkodzeń&nbsp;&nbsp;&nbsp; TAK/NIE</nobr></td>
		</tr>
		

		<tr style="vertical-align:top;">
			<td style="width:0px;height:17px;"></td>

		</tr>
		<tr style="vertical-align:top;">
			<td style="width:0px;height:3px;"></td>
			<td class="cs7642D58C" colspan="2" style="width:4px;height:3px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
			<td class="cs7642D58C" colspan="6" style="width:315px;height:3px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
			<td class="cs7642D58C" style="width:4px;height:3px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
			<td></td>
			<td class="cs7642D58C" style="width:4px;height:3px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
			<td class="cs7642D58C" colspan="8" style="width:311px;height:3px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
			<td class="cs7642D58C" colspan="2" style="width:4px;height:3px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
		</tr>

		<tr style="vertical-align:top;">
			<td style="width:0px;height:16px;"></td>
			<td class="cs7642D58C" colspan="2" style="width:4px;height:16px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
			<td class="cs96FF6D07" colspan="6" style="width:315px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"><nobr>Dokument&nbsp;wystawił:</nobr></td>
			<td class="cs7642D58C" style="width:4px;height:16px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
			<td></td>
			<td class="cs7642D58C" style="width:4px;height:16px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
			<td class="cs96FF6D07" colspan="8" style="width:311px;height:16px;line-height:13px;text-align:center;vertical-align:top;"><nobr>Dokument&nbsp;otrzymał:</nobr></td>
			<td class="cs7642D58C" colspan="2" style="width:4px;height:16px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
		</tr>
		<tr style="vertical-align:top;">
			<td style="width:0px;height:45px;"></td>
			<td class="cs7642D58C" colspan="2" style="width:4px;height:45px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
			<td class="cs7642D58C" style="width:4px;height:45px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
			<td></td>
			<td class="cs7642D58C" style="width:4px;height:45px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
			<td class="cs96FF6D07" colspan="8" style="width:311px;height:45px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
			<td class="cs7642D58C" colspan="2" style="width:4px;height:45px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
		</tr>
		<tr style="vertical-align:top;">
			<td style="width:0px;height:16px;"></td>
			<td class="cs7642D58C" colspan="2" style="width:4px;height:16px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
			<td class="cs96FF6D07" colspan="6" style="width:315px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"><nobr>.............................................</nobr></td>
			<td class="cs7642D58C" style="width:4px;height:16px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
			<td></td>
			<td class="cs7642D58C" style="width:4px;height:16px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
			<td class="cs96FF6D07" colspan="8" style="width:311px;height:16px;line-height:13px;text-align:center;vertical-align:middle;"><nobr>.............................................</nobr></td>
			<td class="cs7642D58C" colspan="2" style="width:4px;height:16px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
		</tr>
		<tr style="vertical-align:top;">
			<td style="width:0px;height:19px;"></td>
			<td class="cs7642D58C" colspan="2" style="width:4px;height:19px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
			<td class="cs96FF6D07" colspan="6" style="width:315px;height:19px;line-height:13px;text-align:center;vertical-align:middle;"><nobr>Podpis</nobr></td>
			<td class="cs7642D58C" style="width:4px;height:19px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
			<td></td>
			<td class="cs7642D58C" style="width:4px;height:19px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
			<td class="cs96FF6D07" colspan="8" style="width:311px;height:19px;line-height:13px;text-align:center;vertical-align:middle;"><nobr>Podpis</nobr></td>
			<td class="cs7642D58C" colspan="2" style="width:4px;height:19px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
		</tr>
		<tr style="vertical-align:top;">
			<td style="width:0px;height:3px;"></td>
			<td class="cs7642D58C" colspan="2" style="width:4px;height:3px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
			<td class="cs7642D58C" colspan="6" style="width:315px;height:3px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
			<td class="cs7642D58C" style="width:4px;height:3px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
			<td></td>
			<td class="cs7642D58C" style="width:4px;height:3px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
			<td class="cs7642D58C" colspan="8" style="width:311px;height:3px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
			<td class="cs7642D58C" colspan="2" style="width:4px;height:3px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
		</tr>
		<tr style="vertical-align:top;">
			<td style="width:0px;height:2px;"></td>
			<td class="cs5669B984" colspan="3" style="width:17px;height:2px;"><!--[if lte IE 7]><div class="csAC6A4475"></div><![endif]--></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr style="vertical-align:top;">
			<td style="width:0px;height:19px;"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</table>
	</div>
	<div class="col no-print">
	</div>
</div>
</div>
</body>
</html>