{% load static %}
{% load vda_filters %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mubea VDA 4913</title>   
        <link rel="icon" type="image/png" href="{% static 'img/MUBEA_logo_mini.png' %}">
        <link rel="stylesheet" href="{% static 'css/vda.css' %}">
    </head>

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="{% static 'js/vda.js' %}"></script>
    <style>

    </style>
    <body>
        <div id="submit-form-container" >
            <input id="submit-form-button" type="submit" value="Submit"/>
            {% for raw, spec in rawSpecs.items %}
                <div id="{{ spec }}__spec-selector" class="spec-selector" data-spec="{{ spec }}">{{ raw }}</div>
            {% endfor %}
            <form method="post" id="date-select-form" action="{% url 'vda_delivery' %}">
                {% csrf_token %}
                {{ dateForm.selected_date }}
            </form>
        </div>

        {% for spec, ships in groupedShipArticles.items %}
            <form id="{{ spec }}__vda-form" class="vda-form" data-dn="DN{{ spec }}">
                <h1>Delivery note {{ spec }} </h1>
                <h3 class="header-toggler"> Header record of the transmission </h3>
                <div id="{{ spec }}__711" class="vda-row">
                    <label>
                        Record type
                        <input id="{{ spec }}__711_01" class="row-input" type="number" value="711" readonly>
                    </label>

                    <label>
                        Version no.
                        <input id="{{ spec }}__711_02" class="row-input" type="number" value="03" readonly>
                    </label>

                    <label>
                        Customer ID
                        <input id="{{ spec }}__711_03" class="row-input" type="number" data-pad="9" value="" readonly>
                    </label>

                    <label>
                        Supplier ID
                        <input id="{{ spec }}__711_04" class="row-input" type="number" value="001010898" readonly>
                    </label>

                    <label>
                        Old transmission no.
                        <input id="{{ spec }}__711_05" class="row-input" type="number" data-pad="5" value="1" readonly>
                    </label>

                    <label>
                        New transmission no.
                        <input id="{{ spec }}__711_06" class="row-input" type="number" data-pad="5" value="2" readonly>
                    </label>

                    <label>
                        Transmission date
                        <input id="{{ spec }}__711_07" class="row-input" type="date" data-required="1">
                    </label>

                    <label>
                        Sub-supplier ID
                        <input id="{{ spec }}__711_08" class="row-input optional-input" type="text" data-pad="9">
                    </label>

                    <label>
                        Carrier ID
                        <input id="{{ spec }}__711_09" class="row-input optional-input" type="text" data-pad="9">
                    </label>

                    <label>
                        Message origin, code
                        <select id="{{ spec }}__711_10" class="row-input optional-input">
                            <option value=" ">EDI created by supplier</option>
                            <option value="1">EDI created by EDL</option>
                            <option value="2">EDI created by haulage</option>
                        </select>
                    </label>

                    <label>
                        Type of delivery, code
                        <select id="{{ spec }}__711_11" class="row-input optional-input">
                            <option value=" ">Standard</option>
                            <option value="J">JIT-delivery</option>
                            <option value="E">Express-delivery</option>
                        </select>
                    </label>

                    <input id="{{ spec }}__711_12" class="row-input" type="text" data-pad="69" hidden>

                </div>
                
                <h3 class="header-toggler"> Unique data of the transport </h3>
                <div id="{{ spec }}__712" class="vda-row">
                    <label>
                        Record type
                        <input id="{{ spec }}__712_01" class="row-input" type="number" value="712" readonly>
                    </label>

                    <label>
                        Version no.
                        <input id="{{ spec }}__712_02" class="row-input" type="number" value="03" readonly>
                    </label>

                    <!-- DB Entry auto increment -->
                    <label>
                        Shipment Load Reference Number (consignment number)
                        <input id="{{ spec }}__712_03" class="row-input" type="number" data-pad="8" value="{{ spec|modify_spec:forloop.counter }}" value="1" readonly>
                    </label>

                    <label>
                        Plant supplier
                        <input id="{{ spec }}__712_04" class="row-input optional-input" type="text" data-pad="3" value="" readonly>
                    </label>

                    <label>
                        Carrier
                        <input id="{{ spec }}__712_05" class="row-input" type="text" data-pad="14" value="MAPA-TRANS" data-required="1">
                    </label>

                    <label>
                        Date when goods have been handed over to carrier
                        <input id="{{ spec }}__712_06" class="row-input" type="date" data-required="1">
                    </label>

                    <label>
                        Time when goods have been handed over to carrier
                        <input id="{{ spec }}__712_07" class="row-input" type="time" data-required="1">
                    </label>

                    <!-- DB Entry get -->
                    <label>
                        Shipment gross weight
                        <input id="{{ spec }}__712_08" class="row-input" type="number" data-pad="7" value="{{ groupedShipWeights|get:spec }}" data-required="1">
                    </label>

                    <label>
                        Shipment net weight
                        <input id="{{ spec }}__712_09" class="row-input optional-input" type="number" data-pad="7">
                    </label>

                    <label>
                        Delivery tems, codec
                        <input id="{{ spec }}__712_10" class="row-input optional-input" type="number" data-pad="2">
                    </label>
                    
                    <label>
                        Carrier transmission indicator
                        <input id="{{ spec }}__712_11" class="row-input optional-input" type="text" data-pad="1">
                    </label>

                    <label>
                        Number of packages
                        <input id="{{ spec }}__712_12" class="row-input optional-input" type="number" data-pad="4">
                    </label>

                    <label>
                        Transport partner ID
                        <input id="{{ spec }}__712_13" class="row-input optional-input" type="text" data-pad="14">
                    </label>

                    <label>
                        Means of transport, coded
                        <select id="{{ spec }}__712_14" class="row-input" data-required="1">
                            <option value="01">Licence plate</option>
                            <option value="02">Bordero number</option>
                            <option value="07">Express parcel number</option>
                            <option value="08">Rail-car number</option>
                            <option value="09">Mail-package number</option>
                            <option value="10">Flight no. and/or freight bill no.</option>
                            <option value="11">Name of ship</option>
                        </select>
                    </label>
                    
                    <label>
                        Means of transport number
                        <input id="{{ spec }}__712_15" class="row-input" type="text" data-pad="25" data-required="1">
                    </label>

                    <label>
                        Qualifier for information in record 712, field 17
                        <select id="{{ spec }}__712_16" class="row-input optional-input">
                            <option value=" ">Empty</option>
                            <option value="1">Zip code</option>
                            <option value="2">Official licence plate of transporting vehicle.</option>
                        </select>
                    </label>

                    <label>
                        Qualifier for information in record 712, field 16
                        <input id="{{ spec }}__712_17" class="row-input optional-input" type="text" data-pad="8">
                    </label>

                    <label>
                        Requierd arrival date
                        <input id="{{ spec }}__712_18" class="row-input optional-input" type="date" data-pad="6">
                    </label>

                    <label>
                        Requierd arrival time
                        <input id="{{ spec }}__712_19" class="row-input optional-input" type="time" data-pad="4">
                    </label>

                    <label>
                        Loading meters
                        <input id="{{ spec }}__712_20" class="row-input optional-input" type="text" data-pad="3">
                    </label>

                    <label>
                        Truck type code
                        <select id="{{ spec }}__712_21" class="row-input optional-input">
                            <option value=" ">Empty</option>
                            <option value="1">Standart truck with/without trailer.</option>
                            <option value="2">Semi-trailer.</option>
                            <option value="3">Greater area truck with/without trailer (Jumbo).</option>
                            <option value="4">Greater area semi-trailer (Jumbo).</option>
                        </select>
                    </label>
                    
                    <input id="{{ spec }}__712_22" class="row-input" type="text" data-pad="3" hidden>
                </div>

                <h3 class="header-toggler"> Unique data of the delivery note (header information) </h3>
                <div id="{{ spec }}__713" class="vda-row">
                    <label>
                        Record type
                        <input id="{{ spec }}__713_01" class="row-input" type="number" value="713" readonly>
                    </label>

                    <label>
                        Version no.
                        <input id="{{ spec }}__713_02" class="row-input" type="number" value="03" readonly>
                    </label>

                    <label>
                        Delivery note number
                        <input id="{{ spec }}__713_03" class="row-input" type="text" value="{{ spec }}" data-pad="8" data-required="1" readonly>
                    </label>

                    <label>
                        Despatch date
                        <input id="{{ spec }}__713_04" class="row-input" type="date" data-required="1">
                    </label>

                    <label>
                        Unloading point
                        <input id="{{ spec }}__713_05" class="row-input" type="text" value="4" data-pad="5" data-required="1">
                    </label>

                    <label>
                        Dispatch type
                        <select id="{{ spec }}__713_06" class="row-input" data-required="1">
                            <option value="01">Sub supplier's truck</option>
                            <option value="02">Customer's truck</option>
                            <option value="03" selected>Freight forwarder's truck</option>
                            <option value="04">Railway company's truck</option>
                            <option value="05">Supplier's own truck</option>
                            <option value="08">Rail car</option>
                            <option value="09">Mail delivery</option>
                            <option value="10">Air fright</option>
                            <option value="11">Sea fright</option>
                            <option value="20">Private parcel service</option>
                        </select>
                    </label>

                    <label>
                        Customer's reference as transmitted in the delivery instruction
                        <input id="{{ spec }}__713_07" class="row-input" type="text" data-pad="4">
                    </label>

                    <!-- Call off get -->
                    <label>
                        Contact/Order no.
                        <input id="{{ spec }}__713_08" class="row-input" type="text" data-pad="12">
                    </label>
                    
                    <label>
                        Process code
                        <select id="{{ spec }}__713_09" class="row-input">
                            <option value="  ">Direct data exchange between supplier and customer</option>
                            <option value="30">Entry message from EDL to supplier</option>
                            <option value="32">Damage incurred during transit / Loss / Difference from EDL to supplier</option>
                            <option value="33">Return from EDL to supplier</option>
                            <option value="35">Stock from EDL to supplier and/or customer</option>
                            <option value="36">Dispatch advice from EDL to Lieferant</option>
                            <option value="40">Delivery advice</option>
                        </select>
                    </label>

                    <input id="{{ spec }}__713_10" class="row-input" type="text" data-pad="4" hidden>
                    
                    <label>
                        Customer plant
                        <input id="{{ spec }}__713_11" class="row-input" type="text" value="" data-pad="3">
                    </label>

                    <label>
                        Consigment reference
                        <input id="{{ spec }}__713_12" class="row-input" type="number" data-pad="8">
                    </label>

                    <label>
                        Goods receiver ID
                        <input id="{{ spec }}__713_13" class="row-input" type="text" data-pad="9">
                    </label>
                    
                    <input id="{{ spec }}__713_14" class="row-input" type="text" data-pad="1" hidden>

                    <label>
                        Ship to's / Customer's storage location
                        <input id="{{ spec }}__713_15" class="row-input" type="text" data-pad="7">
                    </label>

                    <label>
                        Supplier ID
                        <input id="{{ spec }}__713_16" class="row-input" type="text" data-pad="9">
                    </label>

                    <label>
                        Point of consumption / internam destination
                        <input id="{{ spec }}__713_17" class="row-input" type="text" data-pad="14">
                    </label>

                    <label>
                        Call off number
                        <input id="{{ spec }}__713_18" class="row-input" type="text" data-pad="4">
                    </label>

                    <label>
                        Customer's reference as transmitted in an individual order
                        <input id="{{ spec }}__713_19" class="row-input" type="text" data-pad="6">
                    </label>

                    <label>
                        Document number assigned by customer
                        <input id="{{ spec }}__713_20" class="row-input" type="text" data-pad="14">
                    </label>

                    <input id="{{ spec }}__713_21" class="row-input" type="text" data-pad="5" hidden>
                </div>

                <h2 class="header-toggler">Delivery note line items data & Package information </h2>
                <div id='items-package-container'>
                {% for ship in ships %}
                    <h3 class="header-toggler"> Delivery note line item data {{ ship.ident.number }} - {{ forloop.counter|stringformat:'02d' }}</h3>
                    <div id="{{ spec }}__714__{{ forloop.counter|stringformat:'02d' }}" class="vda-row">
                        <label>
                            Record type
                            <input id="{{ spec }}__714_01__{{ forloop.counter|stringformat:'02d' }}" class="row-input" type="number" value="714" readonly>
                        </label>

                        <label>
                            Version no.
                            <input id="{{ spec }}__714_02__{{ forloop.counter|stringformat:'02d' }}" class="row-input" type="number" value="03" readonly>
                        </label>

                        <label>
                            Customer's article number
                            <input id="{{ spec }}__714_03__{{ forloop.counter|stringformat:'02d' }}" class="row-input" type="text" data-pad="22" value="{{ ship.ident.number }}" data-required="1">
                        </label>

                        <label>
                            Supplier's article number
                            <input id="{{ spec }}__714_04__{{ forloop.counter|stringformat:'02d' }}" class="row-input" type="text" data-pad="22" value="{{ ship.ident.number }}" data-required="1">
                        </label>

                        <label>
                            Country of origin, coded
                            <select id="{{ spec }}__714_05__{{ forloop.counter|stringformat:'02d' }}" class="row-input" data-required="1">
                                <option value="000">Unknown</option>
                                <option value="001">Frankreich</option>
                                <option value="004">Deutschland</option>
                                <option value="011">Spanien </option>
                                <option value="060">Polen</option>
                                <option value="061" selected>Tschechische Republik</option>
                                <option value="063">Slowakei</option>
                            </select>
                        </label>

                        <label>
                            Delivery quantity 1
                            <input id="{{ spec }}__714_06__{{ forloop.counter|stringformat:'02d' }}" class="row-input" type="number" data-pad="13" value="{{ ship.quantity }}" data-required="1">
                        </label>

                        <label>
                            Measure unit code 1
                            <select id="{{ spec }}__714_07__{{ forloop.counter|stringformat:'02d' }}" class="row-input" data-required="1">
                                <option value="KG">Kilogram</option>
                                <option value="L ">Litre</option>
                                <option value="M ">Metre</option>
                                <option value="M2">Square metre</option>
                                <option value="M3">Cubic metre</option>
                                <option value="SA">Set</option>
                                <option value="ST" selected>Piece</option>
                                <option value="T ">Can</option>
                            </select>
                        </label>

                        <label>
                            Delivery quantity 2
                            <input id="{{ spec }}__714_08__{{ forloop.counter|stringformat:'02d' }}" class="row-input" type="number" data-pad="13">
                        </label>

                        <label>
                            Measure unit code 2
                            <select id="{{ spec }}__714_09__{{ forloop.counter|stringformat:'02d' }}" class="row-input">
                                <option value="  " selected>Unselected</option>
                                <option value="KG">Kilogram</option>
                                <option value="L ">Litre</option>
                                <option value="M ">Metre</option>
                                <option value="M2">Square metre</option>
                                <option value="M3">Cubic metre</option>
                                <option value="SA">Set</option>
                                <option value="ST">Piece</option>
                                <option value="T ">Can</option>
                            </select>
                        </label>

                        <label>
                            VAT rate
                            <input id="{{ spec }}__714_11__{{ forloop.counter|stringformat:'02d' }}" class="row-input" type="number" data-pad="3">
                        </label>
                        
                        <input id="{{ spec }}__714_11__{{ forloop.counter|stringformat:'02d' }}" class="row-input" type="text" data-pad="1" hidden>

                        <!-- Auto increment -->
                        <label>
                            Delivery note line item number
                            <input id="{{ spec }}__714_12__{{ forloop.counter|stringformat:'02d' }}" class=" row-input" type="number" data-pad="3" value="{{ forloop.counter }}" data-required="1" readonly>
                        </label>

                        <label>
                            Type of call-off, coded
                            <select id="{{ spec }}__714_13__{{ forloop.counter|stringformat:'02d' }}" class="row-input">
                                <option value=" " selected>Normal delivery</option>
                                <option value="F">Daily call-off</option>
                                <option value="P">Call-off in production sequence call-off</option>
                            </select>
                        </label>

                        <label>
                            Batch number
                            <input id="{{ spec }}__714_14__{{ forloop.counter|stringformat:'02d' }}" class="row-input" type="text" data-pad="15" value="{{ ship.charge }}">
                        </label>

                        <label>
                            Usage code
                            <select id="{{ spec }}__714_15__{{ forloop.counter|stringformat:'02d' }}" class="row-input" data-required="1">
                                <option value="E">General substitute</option>
                                <option value="M">Substitute pattern</option>
                                <option value="S" selected>General series</option>
                                <option value="U">Series and Substitute</option>
                            </select>
                        </label>

                        <label>
                            Dangerous goods code
                            <input id="{{ spec }}__714_16__{{ forloop.counter|stringformat:'02d' }}" class="row-input" type="text" data-pad="8">
                        </label>

                        <label>
                            Preference status
                            <select id="{{ spec }}__714_17__{{ forloop.counter|stringformat:'02d' }}" class="row-input" data-required="1">
                                <option value="C">Switzerland</option>
                                <option value="F">Finland</option>
                                <option value="G">Goods of EU origin; all countries with preferential agreement</option>
                                <option value="I">Iceland</option>
                                <option value="N">Norway</option>
                                <option value="O">Austria</option>
                                <option value="S">Sweden</option>
                                <option value="W">Goods of EU origin; preferential agreement for goods transportation within the EFTA states</option>
                                <option value="X" selected>Not yet checked, no goods' origin</option>
                            </select>
                        </label>

                        <label>
                            Dutiable goods
                            <select id="{{ spec }}__714_18__{{ forloop.counter|stringformat:'02d' }}" class="row-input" data-required="1">
                                <option value=" " selected>no customs goods</option>
                                <option value="1">customs goods</option>
                            </select>
                        </label>
                        
                        <input id="{{ spec }}__714_19__{{ forloop.counter|stringformat:'02d' }}" class="row-input" type="text" data-pad="1" hidden>

                        <label>
                            Inventory status
                            <select id="{{ spec }}__714_20__{{ forloop.counter|stringformat:'02d' }}" class="row-input" data-required="1">
                                <option value=" " selected>free</option>
                                <option value="1">locked, transfer each status</option>
                            </select>
                        </label>

                        <label>
                            Changed version code
                            <select id="{{ spec }}__714_21__{{ forloop.counter|stringformat:'02d' }}" class="row-input" data-required="1">
                                <option value="  " selected>without statements</option>
                                <option value="G ">first regular delivery of changed part; one-time transfer, without statements</option>
                                <option value="GT">first regular delivery of changed part; one-time transfer, the engineering change status must be transferred in record type 716 item 03</option>
                                <option value=" T">without statement, the engineering change status must be transferred in record type 716 item 03</option>
                            </select>
                        </label>

                        <label>
                            Original delivery note number
                            <input id="{{ spec }}__714_22__{{ forloop.counter|stringformat:'02d' }}" class="row-input" type="text" data-pad="8">
                        </label>
                    </div>
                    
                    <h3 class="header-toggler"> Package information          {{ ship.ident.number }} - {{ forloop.counter|stringformat:'02d' }}</h3>
                    <div id="{{ spec }}__715__{{ forloop.counter|stringformat:'02d' }}" class="vda-row">
                        <label>
                            Record type
                            <input id="{{ spec }}__715_01__{{ forloop.counter|stringformat:'02d' }}" class="row-input" type="number" value="715" readonly>
                        </label>

                        <label>
                            Version number
                            <input id="{{ spec }}__715_02__{{ forloop.counter|stringformat:'02d' }}" class="row-input" type="number" value="03" readonly>
                        </label>

                        <label>
                            Customer's package type code
                            <input id="{{ spec }}__715_03__{{ forloop.counter|stringformat:'02d' }}" class="row-input" type="text" data-pad="22" value="{{ ship.packaging }}" data-required="1">
                        </label>

                        <label>
                            Supplier's package type code
                            <input id="{{ spec }}__715_04__{{ forloop.counter|stringformat:'02d' }}" class="row-input" type="text" data-pad="22" value="{{ ship.packaging }}" data-required="1">
                        </label>

                        <label>
                            Number of packages
                            <input id="{{ spec }}__715_05__{{ forloop.counter|stringformat:'02d' }}" class="row-input" type="number" data-pad="13" value="1" data-required="1">
                        </label>
                        
                        <!-- Position number of 714 -->
                        <label>
                            Delivery note line item no.
                            <input id="{{ spec }}__715_06__{{ forloop.counter|stringformat:'02d' }}" class="row-input" type="number" data-pad="3" value="{{ forloop.counter }}" data-required="1" readonly>
                        </label>
                        
                        <!-- 714 07 -->
                        <label>
                            Quantity per pack
                            <input id="{{ spec }}__715_07__{{ forloop.counter|stringformat:'02d' }}" class="row-input" type="number" data-pad="13">
                        </label>

                        <label>
                            Package number from
                            <input id="{{ spec }}__715_08__{{ forloop.counter|stringformat:'02d' }}" class="row-input" type="text" data-pad="9">
                        </label>

                        <label>
                            Package number to
                            <input id="{{ spec }}__715_09__{{ forloop.counter|stringformat:'02d' }}" class="row-input" type="text" data-pad="9">
                        </label>
                        
                        <!-- llllwwwwhhh mm -->
                        <label>
                            Package dimensions
                            <input id="{{ spec }}__715_10__{{ forloop.counter|stringformat:'02d' }}" class="row-input" type="number" data-pad="12">
                        </label>

                        <label>
                            Stacking factor (maximum stackabiltiy)
                            <input id="{{ spec }}__715_11__{{ forloop.counter|stringformat:'02d' }}" class="row-input" type="number" data-pad="1" value="1">
                        </label>

                        <label>
                            Warehouse call-off number
                            <input id="{{ spec }}__715_12__{{ forloop.counter|stringformat:'02d' }}" class="row-input" type="text" data-pad="15">
                        </label>

                        <label>
                            Label indicator
                            <select id="{{ spec }}__715_13__{{ forloop.counter|stringformat:'02d' }}" class="row-input">
                                <option value="G">Mixed package</option>
                                <option value="M">Master label</option>
                                <option value="S" selected>Single label</option>
                            </select>
                        </label>

                        <label>
                            Returnable package indicator
                            <select id="{{ spec }}__715_14__{{ forloop.counter|stringformat:'02d' }}" class="row-input">
                                <option value=" ">nonreusable packaginge</option>
                                <option value="M" selected>reusable packaging</option>
                            </select>
                        </label>

                        <label>
                            Property code
                            <select id="{{ spec }}__715_15__{{ forloop.counter|stringformat:'02d' }}" class="row-input">
                                <option value="E">one-way packaging</option>
                                <option value="K" selected>reusable packaging property customer</option>
                                <option value="L">reusable packaging property supplier returnable</option>
                                <option value="D">reusable loaned packaging from third parties returnable</option>
                            </select>
                        </label>

                        <input id="{{ spec }}__715_16__{{ forloop.counter|stringformat:'02d' }}" class="row-input" type="text" data-pad="1" hidden>

                    </div>
                {% endfor %}
                </div>

                <h3 class="header-toggler"> Trailer record despatch and transport data </h3>
                <div id="{{ spec }}__719" class="vda-row">
                    <label>
                        Record type
                        <input id="{{ spec }}__719_01" class="row-input" type="number" value="719" readonly>
                    </label>

                    <label>
                        Version no.
                        <input id="{{ spec }}__719_02" class="row-input" type="number" value="02" readonly>
                    </label>

                    <label>
                        Record type counter 711
                        <input id="{{ spec }}__719_03" class="row-input" type="number" data-pad="7" value="1" data-required="1">
                    </label>

                    <label>
                        Record type counter 712
                        <input id="{{ spec }}__719_04" class="row-input" type="number" data-pad="7" value="1" data-required="1">
                    </label>

                    <label>
                        Record type counter 713
                        <input id="{{ spec }}__719_05" class="row-input" type="number" data-pad="7" value="1" data-required="1">
                    </label>

                    <label>
                        Record type counter 714
                        <input id="{{ spec }}__719_06" class="row-input" type="number" data-pad="7" value="{{ shipArticles|length }}" data-required="1">
                    </label>

                    <label>
                        Record type counter 715
                        <input id="{{ spec }}__719_07" class="row-input" type="number" data-pad="7" value="{{ shipArticles|length }}" data-required="1">
                    </label>

                    <label>
                        Record type counter 716
                        <input id="{{ spec }}__719_08" class="row-input" type="number" data-pad="7" value="0" data-required="1">
                    </label>

                    <label>
                        Record type counter 718
                        <input id="{{ spec }}__719_09" class="row-input" type="number" data-pad="7" value="0" data-required="1">
                    </label>

                    <label>
                        Record type counter 719
                        <input id="{{ spec }}__719_10" class="row-input" type="number" data-pad="7" value="1" data-required="1">
                    </label>

                    <label>
                        Record type counter 717
                        <input id="{{ spec }}__719_11" class="row-input" type="number" data-pad="7" value="0" data-required="1">
                    </label>

                    <input id="{{ spec }}__719_12" class="row-input" type="text" data-pad="60" hidden>
                </div>
            </form>
        {% endfor %}
    </body>
</html>
