{% load static %}
<html lang="en">
<head>
    <title>Zeskanowane kody</title>
    <link rel="icon" type="image/png" href="{% static 'img/GTM_logo_mini.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://cdn.datatables.net/2.0.6/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.css" integrity="sha512-LT9fy1J8pE4Cy6ijbg96UkExgOjCqcxAC7xsnv+mLJxSvftGVmmc236jlPTZXPcBRQcVOWoK1IJhb1dAjtb4lQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.datatables.net/fixedheader/4.0.1/js/dataTables.fixedHeader.js" rel="stylesheet" type="text/css">
    <link href="https://cdn.datatables.net/fixedheader/4.0.1/js/fixedHeader.dataTables.js" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/view_barcodes.css' %}">
</head>
<!-- Add Bootstrap JS and others -->
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.js" integrity="sha512-s5u/JBtkPg+Ff2WEr49/cJsod95UgLHbC00N/GglqdQuLnYhALncz8ZHiW/LxDRGduijLKzeYb7Aal9h3codZA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.full.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/2.0.6/js/dataTables.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/4.0.1/js/fixedHeader.dataTables.js"></script>
<script src="https://cdn.datatables.net/fixedheader/4.0.1/js/dataTables.fixedHeader.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<body> 
    <div id="b-alert" title="Stany KTL" style="display:none;">
        <table id="alert-table" border="1">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Skany</th>
                    <th></th>
                </tr>
                <tr>
                <th>Ident</th>
                <th>Gotowe</th>
                <th>KTL</th>
                <th>Magazyn</th>
                </tr>
            </thead>
            <tbody>
                <!-- Table rows will be inserted here by JavaScript -->
            </tbody>
        </table>
    </div>
    <div id="p-alert" title="Stany Prasy" style="display:none;">
        <table id="alert-table" border="1">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Skany</th>
                    <th></th>
                </tr>
                <tr>
                <th>Ident</th>
                <th>Gotowe</th>
                <th>Prasy</th>
                <th>Fosfor</th>
                </tr>
            </thead>
            <tbody>
                <!-- Table rows will be inserted here by JavaScript -->
            </tbody>
        </table>
    </div>
    <div class="container mt-5">
        <div id="filterCodeContainer" class="filter-code-button-container">
            <div class="row">
                <div class="col-4 d-flex justify-content-center">
                    <button type="button" class="filter-button btn btn-link b-filter"><img src="{% static 'img/BRUSS_logo.png' %}" alt="Bruss" title="Bruss"></button>
                    <span class="tooltip">Bruss</span>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <button type="button" class="filter-button btn btn-link"><img src="{% static 'img/MUBEA_logo.png' %}" alt="Mubea" title="Mubea"></button>
                    <span class="tooltip">Mubea</span>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <button type="button" class="filter-button btn btn-link"><img src="{% static 'img/SIEGENIA_logo.png' %}" alt="Siegenia" title="Siegenia"></button>
                    <span class="tooltip">Siegenia</span>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <button type="button" class="filter-button btn btn-link"><img src="{% static 'img/FAURECIA_logo.png' %}" alt="Faurecia" title="Faurecia"></button>
                    <span class="tooltip">Faurecia</span>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <button type="button" class="filter-button btn btn-link"><img src="{% static 'img/TEKNIA_logo.png' %}" alt="Teknia" title="Teknia"></button>
                    <span class="tooltip">Teknia</span>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <button type="button" class="filter-button btn btn-link"><img src="{% static 'img/METALMARTIN_logo.png' %}" alt="Martin Metal" title="Martin Metal"></button>
                    <span class="tooltip">Martin Metal</span>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <button type="button" class="filter-button btn btn-link p-filter"><img src="{% static 'img/GTM_logo.svg' %}" alt="GTM" title="GTM"></button>
                    <span class="tooltip">GTM</span>
                </div>
            </div>
        </div>

        <div id="lineFilterCodeContainer" class="line-filter-code-button-container">
            <div class="row">
                <div class="col-4 d-flex justify-content-center">
                    <button type="button" class="line-filter-button btn btn-link">
                        <div class="d-flex align-items-center">
                            <img src="{% static 'img/nickel.png' %}" alt="Nikolowanie" title="Chromoniklowanie (Linia I)">
                            <img src="{% static 'img/chromium.png' %}" alt="Chromowanie" title="Chromowanie">
                            <img src="{% static 'img/first.png' %}" alt="Line I" title="Line I">
                        </div>
                    </button>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <button type="button" class="line-filter-button btn btn-link">
                        <div class="d-flex align-items-center">
                            <img src="{% static 'img/nickel.png' %}" alt="Nikolowanie" title="Chromoniklowanie (Linia II)">
                            <img src="{% static 'img/chromium.png' %}" alt="Chromowanie" title="Chromowanie">
                            <img src="{% static 'img/second.png' %}" alt="Line II" title="Line II">
                        </div>
                    </button>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <button type="button" class="line-filter-button btn btn-link">
                        <div class="d-flex align-items-center">
                            <img src="{% static 'img/phosphorus.png' %}" alt="Fosforanowanie" title="Fosforanowanie">
                            <img src="{% static 'img/fourth.png' %}" alt="Line IV" title="Line IV">
                        </div>
                    </button>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <button type="button" class="line-filter-button btn btn-link">
                        <div class="d-flex align-items-center">
                            <img src="{% static 'img/electrolysis.png' %}" alt="KTL" title="KTL">
                            <img src="{% static 'img/sixth.png' %}" alt="Line VI" title="Line VI">
                        </div>
                    </button>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <button type="button" class="line-filter-button btn btn-link">
                        <img src="{% static 'img/import.png' %}" alt="Magazyn przyjęcie" title="Magazyn przyjęcie">
                    </button>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <button type="button" class="line-filter-button btn btn-link">
                        <img src="{% static 'img/export.png' %}" alt="Magazyn wysyłkowy" title="Magazyn wysyłkowy">
                    </button>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <button type="button" class="line-filter-button btn btn-link">
                        <div class="d-flex align-items-center">
                            <img src="{% static 'img/zinc.png' %}" alt="Cynkowanie" title="Cynkowanie">
                            <img src="{% static 'img/ninth.png' %}" alt="Line IX" title="Line IX">
                        </div>
                    </button>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <button type="button" class="line-filter-button btn btn-link">
                        <img src="{% static 'img/emboss.png' %}" alt="Prasy" title="Prasy">
                    </button>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <button type="button" class="line-filter-button btn btn-link">
                        <img src="{% static 'img/evaluation.png' %}" alt="QS" title="Kontrola jakości">
                    </button>
                </div>
            </div>
        </div>

        <div id="timeFilterCodeContainer" class="time-filter-code-container">
            <div class="row">
                <div class="col-md-6 d-flex justify-content-center mb-3">
                    <span class="time-filter"> od: </span>
                    <input type="text" id="startDateTimeFilter" class="startDateTime" name="startDateTimeFilter">
                </div>
                <div class="col-md-6 d-flex justify-content-center mb-3">
                    <span class="time-filter"> do: </span>
                    <input type="text" id="endDateTimeFilter" class="endDateTime" name="endDateTimeFilter">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center mb-3">
                    <button id="sumbitFilters" type="button" class="btn btn-primary btn-lg">
                        <span> Zapytanie BD </span>
                    </button>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-12 d-flex justify-content-center mb-3">
        <img class="loading-icon" src="{% static 'img/refresh.png' %}" alt="Loading" title="Loading">
    </div>
    <div id="table-container">
        <div class="row">
            <div class="col-2 align-self-center">
                <button class="btn btn-primary" id="clearFiltersButton">Wyczyść filtry</button>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="align-self-center text-center" id="date-range-str">
                {{ date_range_str }}
            </div>
        </div>
        <table id="BarcodeTable">
            <thead class="header">
                <tr>
                    {% for head in header %}
                        <th>{{ head }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody id="tableBody">
                {% for enu, spec in i_dict.items %}
                    <tr >
                        {% for sp in spec %}
                            {% if forloop.counter <= 6 %}
                                <td class="{% if forloop.counter == 5 and spec.6 %}shipped{% endif %}">
                                    {% if forloop.counter != 6 %}
                                        {{ sp|linebreaksbr }}
                                    {% else %}
                                        <button class="btn btn-danger" onclick="deleteRecord(this, '{{ spec.0 }}', '{{ spec.1 }}', '{{ spec.2 }}')">
                                            <i class="fas fa-minus"></i> Delete
                                        </button>
                                    {% endif %}
                                </td>
                            {% else %}
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>          
            <tfoot class="footer">
                <tr class="search-fields">
                    {% for head in header %}
                        <th> </th>
                    {% endfor %}
                </tr>
            </tfoot>
        </table>
    </div>
    <i id="hideSideBarButton" class="fa-solid fa-angle-up"></i>
    <div class="sticky-buttons-top">
        <button id="refreshButton" class="btn btn-primary btn-lg button-side" type="button" onclick="updateTable(this, 'default')">
            <i class="fa-solid fa-arrows-rotate"></i> <span>Odśwież tabelę</span>
        </button>
        <button id="toggleFilterButton" class="btn btn-primary btn-lg button-side" type="button">
            <i class="fas fa-filter"></i> <span>Zapytanie BD</span>
        </button>
        <button id="copyButton" class="btn btn-primary btn-lg button-side" onclick="copyToClipboard()">
            <i class="fa-solid fa-table-columns"></i> <span>Kopiuj kod, czas</span>
        </button>
        <button id="copyButton" class="btn btn-primary btn-lg button-side" onclick="copyTableToClipboard()">
            <i class="fa-solid fa-table"></i> <span>Kopiuj tabelę</span>
        </button>
        <button id="copyButton" class="btn btn-primary btn-lg button-side" onclick="copyWeightToClipboard()">
            <i class="fa-solid fa-scale-balanced"></i> <span>Kopiuj wagi</span>
        </button>
        <button id="ktlCountButton" class="btn btn-primary btn-lg button-side">
            <i class="fa-solid fa-k"></i> <span>Stany KTL</span>
        </button>
        <button id="pressCountButton" class="btn btn-primary btn-lg button-side">
            <i class="fa-solid fa-p"></i> <span>Stany Prasy</span>
        </button>
        <div id="shippedDiv">
            <button id="shippedButton" class="button-side ship-button">
                <img src="{% static 'img/truck.png' %}">
            </button>
            <button id="notShippedButton" class="button-side ship-button">
                <img src="{% static 'img/notruck.png' %}">
            </button>
        </div>
    </div>

    <div class="sticky-buttons-bottom">
        <button type="button" class="btn btn-success btn-lg button-side" onclick="scrollSmoothly('top')">
            <i class="fas fa-arrow-up"></i> <span>Przewiń na górę</span>
        </button>
        <button type="button" class="btn btn-success btn-lg button-side" onclick="scrollSmoothly('bottom')">
            <i class="fas fa-arrow-down"></i> <span>Przewiń w dół</span>
        </button>
    </div>
</body>
<script>
    function updateTable(button, range) {
        var refreshIcon = button.querySelector('i');

        // Add the spin-animation class to start spinning
        refreshIcon.classList.add('spin-animation');

        $.ajax({
            url: 'api/get/',
            method: 'GET',
            dataType: 'json',
            data: {'range': range},
            success: function (data) {
                // Update last update timestamp with the latest timestamp from the response
                if (data.barcodes) { 
                    if (data.barcodes.length > 0) {
                        // Add new rows based on the retrieved data
                        barcodeTable.clear();
                        data.barcodes.forEach(function (barcode) {
                            var buttonHtml = '<button class="btn btn-danger" onclick="deleteRecord(this, \'' + barcode.code + '\', \'' + barcode.timestamp + '\', \'' + barcode.line + '\')">';
                                buttonHtml += '<i class="fas fa-minus"></i> Delete ';
                                buttonHtml += '</button>';
                            
                            var addInfoHtml = barcode.additional_info;

                            if (barcode.used) {
                                addInfoHtml += ` <img src="{% static 'img/truck.png' %}" class="ship-icon">`;
                            }

                            var formattedName = barcode.name !== null ? barcode.name.replace(/\n/g, '<br>') : '';

                            var row = [
                                barcode.code,
                                barcode.timestamp,
                                barcode.line,
                                formattedName,
                                addInfoHtml,
                                buttonHtml
                            ];
                            
                            barcodeTable.row.add(row);
                        });

                        barcodeTable.draw();
                    }
                }
            },
            error: function (error) {
                console.log('Error:', error);
            },
            complete: function () {
                // Remove the spin-animation class after the AJAX request is complete
                refreshIcon.classList.remove('spin-animation');
    
                var searchFieldsRow = $('tr.search-fields');

                // Add HTML content to the 6th <td> element within the <tr>
                searchFieldsRow.find('th:eq(5)').html('<button class="btn btn-success" onclick="addRecord(this)"><i class="fas fa-plus"></i> Add</button>');
            },
        });
    }

    // Function to copy first 2 columns of the table to clipboard
    function copyToClipboard() {
        var tableBody = document.getElementById("BarcodeTable").getElementsByTagName('tbody')[0];
        var rows = tableBody.getElementsByTagName('tr');
        var clipboardData = [];
        var skipCols = 4;
        var skipRows = 0;

        for (var i = skipRows; i < rows.length; i++) {
            var cells = rows[i].getElementsByTagName('td');
            var rowData = [];
    
            for (var j = 0; j < cells.length - skipCols; j++) {
                if (cells[j].innerText == '') {
                    continue;
                }
                rowData.push(cells[j].innerText);
            }
    
            clipboardData.push(rowData.join('\t')); // Tab-separated values
        }
    
        var clipboardText = clipboardData.join('\n'); // Newline-separated rows
    
        var textarea = document.createElement('textarea');
        textarea.value = clipboardText;
        document.body.appendChild(textarea);
        textarea.select();
        
        try {
            document.execCommand("copy");
            document.body.removeChild(textarea);
            alert("Table body copied to clipboard!");
        } catch (error) {
            console.error("Copy to clipboard failed:", error);
            document.body.removeChild(textarea);
            alert("Copy to clipboard failed. Please copy manually.");
        }
    }
    
    // Function to copy first 3 columns of the table to clipboard
    function copyTableToClipboard() {
        var tableBody = document.getElementById("BarcodeTable").getElementsByTagName('tbody')[0];
        var rows = tableBody.getElementsByTagName('tr');
        var clipboardData = [];
        var skipCols = 1;
        var skipRows = 0;

        for (var i = skipRows; i < rows.length; i++) {
            var cells = rows[i].getElementsByTagName('td');
            var rowData = [];
    
            for (var j = 0; j < cells.length - skipCols; j++) {
                if (cells[j].innerText == '') {
                    continue;
                }
                rowData.push(cells[j].innerText.replaceAll('\n', ' '));

            }
    
            clipboardData.push(rowData.join('\t')); // Tab-separated values
        }
    
        var clipboardText = clipboardData.join('\n'); // Newline-separated rows
    
        var textarea = document.createElement('textarea');
        textarea.value = clipboardText;
        document.body.appendChild(textarea);
        textarea.select();
        
        try {
            document.execCommand("copy");
            document.body.removeChild(textarea);
            alert("Table body copied to clipboard!");
        } catch (error) {
            console.error("Copy to clipboard failed:", error);
            document.body.removeChild(textarea);
            alert("Copy to clipboard failed. Please copy manually.");
        }
    }

    function copyWeightToClipboard() {
        const regex = /\d+(\,\d+)?/g;

        function extractNumbers(str) {
            str = str.replaceAll('.', ',')
            const matches = str.match(regex);
            if (matches) {
                return matches;
            } else {
                return [];
            }
        }

        var tableBody = document.getElementById("BarcodeTable").getElementsByTagName('tbody')[0];
        var rows = tableBody.getElementsByTagName('tr');
        var clipboardData = [];
        var skipRows = 0;

        for (var i = skipRows; i < rows.length; i++) {
            var cells = rows[i].getElementsByTagName('td');
            var rowData = [];
            
            if (cells[0].innerText == '' || cells[2].innerText != 'Magazyn przyjęcie (Kolejowa)') {
                continue;
            }

            rowData.push(cells[0].innerText);
            rowData.push(cells[1].innerText);

            const numbers = extractNumbers(cells[4].innerText);

            numbers.forEach(number => {
                rowData.push(number);
            });

            clipboardData.push(rowData.join('\t')); // Tab-separated values
        }
        var clipboardText = clipboardData.join('\n'); // Newline-separated rows
    
        var textarea = document.createElement('textarea');
        textarea.value = clipboardText;
        document.body.appendChild(textarea);
        textarea.select();
        
        try {
            document.execCommand("copy");
            document.body.removeChild(textarea);
            alert("Table body copied to clipboard!");
        } catch (error) {
            console.error("Copy to clipboard failed:", error);
            document.body.removeChild(textarea);
            alert("Copy to clipboard failed. Please copy manually.");
        }
    }

    // Function to delete a record
    function deleteRecord(button, col1, col2, col3) {
        if (confirm(`Are you sure you want to delete:\n${col1}\n${col2}\n${col3}\n?`)) {
            $.ajax({
                url: 'api/delete/',
                method: 'POST',
                dataType: 'json',
                data: {
                    'code': col1,
                    'timestamp': col2,
                    'line': col3 
                },
                success: function (data) {
                    console.log(data.message);
                },
                error: function (error) {
                    console.log('Error:', error);
                }
            });
        }
    }

    // Function to add a record
    function addRecord(button) {
        var row = $(button).closest('tr');

        // Get values from input fields in the same row
        var col1 = row.find('th:nth-child(1) input').val();
        var col2 = row.find('th:nth-child(2) input').val();
        var col3 = row.find('th:nth-child(3) input').val();
        var col4 = row.find('th:nth-child(5) input').val();

        if (confirm(`Are you sure you want to add:\n${col1}\n${col2}\n${col3}\n${col4}\n?`)) {
            $.ajax({
                url: 'api/add/',
                method: 'POST',
                dataType: 'json',
                data: {
                    'code': col1,
                    'timestamp': col2,
                    'line': col3,
                    'add_info': col4,
                },
                success: function (data) {
                    if (data.message == 'success') {
                        console.log('Success:', data);;
                    }
                },
                error: function (error) {
                    console.log('Error:', error);
                }
            });
        }
    }

    // Function to scroll to the top of the page
    function scrollSmoothly(direction) {
        const totalDuration = 2000,
                startScrollY = window.scrollY,
                scrollHeight = (direction === 'top') ? 0 : document.documentElement.scrollHeight - window.innerHeight,
                distance = Math.abs(scrollHeight - startScrollY),
                duration = totalDuration * (distance / (document.documentElement.scrollHeight - window.innerHeight)),
                startTime = performance.now();
    
        function scroll() {
            const elapsed = performance.now() - startTime;
            if (elapsed >= duration) {
                window.scrollTo(0, scrollHeight);
                return;
            }
            const progress = elapsed / duration;
            const newY = startScrollY + (scrollHeight - startScrollY) * progress;
            window.scrollTo(0, newY);
            requestAnimationFrame(scroll);
        }
    
        requestAnimationFrame(scroll);
    }

    // Function to pad zero for single-digit values
    function padZero(value) {
        return value < 10 ? '0' + value : value;
    }

    function bAlert(data, alertId) {
        // Clear existing rows
        $("#alert-table tbody").empty();

        // Populate the table with data
        for (let i = 0; i < data.length; i++) {
            let row = "<tr>";
            for (let j = 0; j < data[i].length; j++) {
                row += "<td>" + data[i][j] + "</td>";
            }
            row += "</tr>";
            
            $("#alert-table tbody").append(row);
        }

        // Display the dialog
        $(alertId).dialog({
            modal: true,
            width: 'auto',
            buttons: {
                Ok: function() {
                    $(this).dialog("close");
                }
            },
            show: {
                effect: "blind",
                duration: 1000
            },
            hide: {
                effect: "blind",
                duration: 1000
            },
        });
    }

    let socket;
    let retryInterval = 1000; // Start with 1 second
    const maxInterval = 30000; // Maximum delay between retries (30 seconds)

    toastr.options = {
        "closeButton": true,
        "enableHtml": true,
        "debug": false,
        "newestOnTop": true,
        "progressBar": true,
        "positionClass": "toast-top-left",
        "preventDuplicates": true,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "10000",
        "extendedTimeOut": "5000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }

    function connectWebSocket() {
        // Initialize the WebSocket
        const socket = new WebSocket('ws://' + window.location.host + '/ws/scanned-codes/');

        socket.onmessage = function(e) {
            const barcode = JSON.parse(e.data);
            console.log('Scanned Code:', barcode.code);
            console.log('CRUD:', barcode.crud_type);
            console.log('Timestamp:', barcode.timestamp);
            console.log('Line:', barcode.line);
            console.log('Name:', barcode.name);
            console.log('Additional Info:', barcode.additional_info);
            console.log('Used:', barcode.used);
    
            let activeMainFilters = [];
            let activeLineFilters = [];
            if (barcode.crud_type == 'create') {
                $('.filter-button.active').each(function() {
                    activeMainFilters.push($(this).find('img').attr('title'));
                });
        
                $('.line-filter-button.active').each(function() {
                    activeLineFilters.push($(this).find('img').attr('title'));
                });
        
                if (activeMainFilters.length > 0) {
                    // If line filter doesn't match, don't process this barcode
                    if (!activeLineFilters.includes(barcode.line)) {
                        return;
                    }
        
                    // Using an object for the mapping to simplify the logic
                    const filterMap = {
                        "MUB": "Mubea",
                        "SGN": "Siegenia",
                        "TKN": "Teknia",
                        "FRC": "Faurecia",
                        "MET": "Martin Metal",
                        "0": "GTM",
                        "KES": "Bruss",
                        "000B": "Bruss",
                        "30": "Bruss"
                    };
        
                    // If barcode code doesn't match any active filter, skip it
                    for (const [codePrefix, filterName] of Object.entries(filterMap)) {
                        if (barcode.code.includes(codePrefix) && !activeMainFilters.includes(filterName)) {
                            console.log("not", codePrefix)
                            return;
                        }
                    }
                }
    
                var buttonHtml = '<button class="btn btn-danger" onclick="deleteRecord(this, \'' + barcode.code + '\', \'' + barcode.timestamp + '\', \'' + barcode.line + '\')">';
                    buttonHtml += '<i class="fas fa-minus"></i> Delete ';
                    buttonHtml += '</button>';
                
                var addInfoHtml = barcode.additional_info;
    
                if (barcode.used) {
                    addInfoHtml += ` <img src="{% static 'img/truck.png' %}" class="ship-icon">`;
                }
    
                var formattedName = barcode.name !== null ? barcode.name.replace(/\n/g, '<br>') : '';
    
                var row = [
                    barcode.code,
                    barcode.timestamp,
                    barcode.line,
                    formattedName,
                    addInfoHtml,
                    buttonHtml
                ];
                
                // Add the row to the barcode table and get the row node
                var rowNode = barcodeTable.row.add(row).draw(false).node();

                // Initially hide the new row
                $(rowNode).hide();

                // Fade in the new row over 2 seconds (2000ms)
                $(rowNode).fadeIn(2000);

                toastr.success(`Nowy wpis: <br/>${barcode.code}<br/>${barcode.timestamp}<br/>${barcode.line}`);
            }
            else if (barcode.crud_type == 'delete') {
                $('#tableBody tr').each(function () {
                    // Get the first three td elements and trim their text content
                    var td1 = $(this).find('td').eq(0).text().trim();
                    var td2 = $(this).find('td').eq(1).text().trim();
                    var td3 = $(this).find('td').eq(2).text().trim();

                    // Check if they match the values of code, timestamp, and line
                    if (td1 === barcode.code && td2 === barcode.timestamp && td3 === barcode.line) {
                        $(this).fadeOut(2000);
                        toastr.warning(`Usunięto wpis: <br/>${barcode.code}<br/>${barcode.timestamp}<br/>${barcode.line}`);
                        return false; // Break the loop
                    }
                });
            }
            else if (barcode.crud_type == 'update') {
                $('#tableBody tr').each(function () {
                    // Get the first three td elements and trim their text content
                    var td1 = $(this).find('td').eq(0).text().trim();
                    var td2 = $(this).find('td').eq(1).text().trim();
                    var td3 = $(this).find('td').eq(2).text().trim();

                    // Check if they match the values of code, timestamp, and line
                    if (td1 === barcode.code && td2 === barcode.timestamp && td3 === barcode.line) {
                        var rowIndex = barcodeTable.row(this).index(); // Get the row index

                        var buttonHtml = '<button class="btn btn-danger" onclick="deleteRecord(this, \'' + barcode.code + '\', \'' + barcode.timestamp + '\', \'' + barcode.line + '\')">';
                            buttonHtml += '<i class="fas fa-minus"></i> Delete ';
                            buttonHtml += '</button>';
                        
                        var addInfoHtml = barcode.additional_info;
            
                        if (barcode.used) {
                            addInfoHtml += ` <img src="{% static 'img/truck.png' %}" class="ship-icon">`;
                        }
            
                        var formattedName = barcode.name !== null ? barcode.name.replace(/\n/g, '<br>') : '';
            
                        var row = [
                            barcode.code,
                            barcode.timestamp,
                            barcode.line,
                            formattedName,
                            addInfoHtml,
                            buttonHtml
                        ];
                        
                        var rowNode = barcodeTable.row(rowIndex).node();

                        $(rowNode).fadeOut(2000, function() {
                            barcodeTable.row(rowIndex).data(row).draw();
                            $(rowNode).fadeIn(2000);
                        });
                        
                        toastr.info(`Uaktualniono wpis: <br/>${barcode.code}<br/>${barcode.timestamp}<br/>${barcode.line}`);
                        return false; // Break the loop
                    }
                });
            }
        };
    
        socket.onopen = function(e) {
            toastr.success("Nawiązano połączenie z WebSocket.");
        };

        // Handle errors
        socket.onerror = function(error) {
            console.error("Błąd WebSocket:", error);
        };

        // Handle closure and attempt to reconnect
        socket.onclose = function(event) {
            toastr.warning(`Połącznie z WebSocket zostało przerwane. Powód: ${event.reason || "nieznany"}`);
            reconnectWebSocket(); // Attempt to reconnect
        };
    }

    function reconnectWebSocket() {
        let retrySeconds = retryInterval / 1000;
        let plSeconds;

        if (retrySeconds == 1) {
            plSeconds = 'sekundę';
        } if (retrySeconds == 2 || retrySeconds == 4) {
            plSeconds = 'sekundy';  
        } else {
            plSeconds = 'sekund';
        }

        toastr.info(`Próba ponownego połączenia za ${retryInterval / 1000} ${plSeconds}..`);
        setTimeout(() => {
            retryInterval = Math.min(retryInterval * 2, maxInterval); // Exponential backoff
            connectWebSocket(); // Reconnect
        }, retryInterval);
    }

    $(document).ready(function () {
        // Append the truck icon to each '.shipped' element
        $('.shipped').each(function() {
            $(this).append(`<img src="{% static 'img/truck.png' %}" class="ship-icon">`);
        });

        barcodeTable = $('#BarcodeTable').DataTable({
            autoWidth: true,
            responsive: true,
            layout: {
                topStart: 'info',
                topEnd: 'search',
                bottomStart: null,
                bottomEnd: 'paging'
            },
            fixedHeader: {
                header: true,
                footer: true
            },
            'order': [[1, 'desc']],
            'pageLength': 100,
            "infoCallback": function(settings, start, end, max, total, pre) {
                var displayedEntries = end - start + 1;
                var totalColor = displayedEntries < total ? 'red' : '';
                var totalFont = displayedEntries < total ? '20px' : '';
                var filteredColor = total < max ? 'green' : ''; // Set color to green if total is less than max
                var filteredFont = total < max ? '20px' : ''; // Set font size to 20px if total is less than max
                var entry = "wpisów"
                var entryMax = "wpisów"
                if (total === 1) {
                    entry = "wpisu"
                }
                infoHTML = '<div>Wyświetlanie ' + start + ' do ' + end + ' z <span style="color: ' + totalColor + '; font-size: '+ totalFont +'">' + total + '</span> ' + entry;

                infoHTML = '<div>Wyświetlanie ' + start + ' do ' + end + ' z <span style="color: ' + totalColor + '; font-size: '+ totalFont +'">' + total + '</span> ' + entry;
            
                // Add "filtered" part if total is less than max
                if (max === 1) {
                    entryMax = "wpisu"
                }
                if (total < max) {
                    infoHTML += ' (<span style="color: ' + filteredColor + '; font-size: '+ filteredFont +'">przefiltrowane</span> z łącznie <span">' + max + '</span> ' + entryMax +')';
                } else {
                    
                    infoHTML += ' (przefiltrowane z łącznie ' + max + ' ' + entryMax +')';
                }
                infoHTML += '</div>';
                return infoHTML;
            },
            "initComplete": function () {
                // Add an empty row for the input form at the beginning

                var totalColumns = this.api().columns()[0].length;

                this.api().columns().every(function (index) {
                    if (index !== totalColumns - 1) {
                        let column = this;

                        // Create input element
                        let input = document.createElement('input');
                        column.footer().replaceChildren(input);
        
                        // Event listener for user input
                        input.addEventListener('keyup', () => {
                            if (column.search() !== input.value) {
                                column.search(input.value).draw();
                            }
                        });
                    }
                });
            },
        });

        $('#clearFiltersButton').on('click', function() {
            var searchFieldsRow = $('tr.search-fields');

            // Set the value of all <input> elements within the <tr> to an empty string
            searchFieldsRow.find('input').val('');

            try {
                barcodeTable.columns().search('').draw();
            } catch (error) {
                barcodeTable.columns().search('').draw();
            }
        });

        $('.startDateTime').datetimepicker({
            dateFormat: 'yy-mm-dd',
        });
        
        $('.endDateTime').datetimepicker({
            dateFormat: 'yy-mm-dd',
        });

        $('#BarcodeTable tfoot tr').insertAfter('#BarcodeTable thead');
        $('#BarcodeTable').css('display', 'table');
        
        var searchFieldsRow = $('tr.search-fields');

        // Add HTML content to the 6th <td> element within the <tr>
        searchFieldsRow.find('th:eq(5)').html('<button class="btn btn-success" onclick="addRecord(this)"><i class="fas fa-plus"></i> Add</button>');
        
        $('#toggleFilterButton').click(function() {
            hideMainFilter();
        });
        
        function hideMainFilter() {
            $('#filterCodeContainer').toggleClass('active');
            if ($('#filterCodeContainer').hasClass('active')) {
                $('#toggleFilterButton').html('<i class="fas fa-filter"></i> <span>Schowaj Zapytanie BD</span>');
            } else {
                $('#toggleFilterButton').html('<i class="fas fa-filter"></i> <span>Zapytanie BD</span>');
                $('#lineFilterCodeContainer').removeClass('active');
                $('#timeFilterCodeContainer').removeClass('active');
                $('.filter-button').removeClass('active');
                $('.line-filter-button').removeClass('active');
            }
        }

        $('.filter-button').click(function() {
            $(this).toggleClass('active');
            if ($(this).hasClass('b-filter')) {
                $('#ktlCountButton').toggle(1000);
            } else if($(this).hasClass('p-filter')) {
                $('#pressCountButton').toggle(1000);
            }

            if ($('.filter-button.active').length > 0) {
                $('#lineFilterCodeContainer').addClass('active');
                $('#timeFilterCodeContainer').addClass('active');
            } else {
                $('#lineFilterCodeContainer').removeClass('active');
                $('#timeFilterCodeContainer').removeClass('active');
            }

        });

        $('.line-filter-button').click(function() {
            $(this).toggleClass('active');
        });

        $('#sumbitFilters').click(function() {
            let activeMainFilters = [];
            let activeLineFilters = [];
            let activeAdditionalSubFilters = [];

            $('.filter-button.active').each(function() {
                activeMainFilters.push($(this).find('img').attr('title'));
            });

            $('.line-filter-button.active').each(function() {
                activeLineFilters.push($(this).find('img').attr('title'));
            });
            
            hideMainFilter();
            $('.loading-icon').show();
            
            $.ajax({
                url: 'api/get/',
                method: 'GET',
                dataType: 'json',
                traditional: true,
                data: {
                    'clients': activeMainFilters,
                    'lines': activeLineFilters,
                    'dateStart':$('#startDateTimeFilter').val(),
                    'dateEnd': $('#endDateTimeFilter').val(),
                },
                success: function (data) {
                    // Update last update timestamp with the latest timestamp from the response
                    $('#shippedButton, #notShippedButton').removeClass('active-button-border');

                    if (data.barcodes) { 
                        if (data.barcodes.length > 0) {
                            // Add new rows based on the retrieved data
                            barcodeTable.clear();
                            data.barcodes.forEach(function (barcode) {
                                var buttonHtml = '<button class="btn btn-danger" onclick="deleteRecord(this, \'' + barcode.code + '\', \'' + barcode.timestamp + '\', \'' + barcode.line + '\')">';
                                    buttonHtml += '<i class="fas fa-minus"></i> Delete ';
                                    buttonHtml += '</button>';
                                
                                var addInfoHtml = barcode.additional_info;
                                if (barcode.used) {
                                    addInfoHtml += ` <img src="{% static 'img/truck.png' %}" class="ship-icon">`;
                                }
                                
                                var formattedName = barcode.name !== null ? barcode.name.replace(/\n/g, '<br>') : '';

                                var row = [
                                    barcode.code,
                                    barcode.timestamp,
                                    barcode.line,
                                    formattedName,
                                    addInfoHtml,
                                    buttonHtml
                                ];

                                barcodeTable.row.add(row);
                            });

                            barcodeTable.draw();

                            $('#date-range-str').text(data.date_range_str);
                        } else if (data.barcodes.length === 0){
                            barcodeTable.clear();
                            barcodeTable.draw();
                            $('#date-range-str').text(data.date_range_str);
                        }
                    }
                    
                },
                error: function (error) {
                    console.log ('Error:', error);
                    $('.loading-icon').hide()
                },
                complete: function () {
                    $('.loading-icon').hide()
                    $('html, body').animate({
                        scrollTop: $('#table-container')
                    }, 1000);
                }
            });
        });

        $('#ktlCountButton').on('click', function() {
            var identMap = {
                '30082': 'HDM 347/Lackiert.',
                '30110':'VB-HDM 264 ST-A (0 B) /Lackiert.',
                '30111':'VB-HDM 264 ST-1-A (2 B) /Lackiert.',
                '30112':'VB-HDM 264 ST-2-A (3 B) /Lackiert.',
                '30126':'HDM 357/Lackiert.'
            };

            var idents = ['30082', '30110', '30111', '30112', '30126'];
        
            var message = [];

            idents.forEach(function(ident, idx) {
                var count_KTL = 0;
                var count_WH = 0;
                barcodeTable.rows().every(function(rowIdx, tableLoop, rowLoop) {
                    var data = this.data();
                    if (data[0] === ident && data[2] === 'Kontrola jakości (KTL)') {
                        count_KTL++;
                    } else if (data[0] === ident && data[2] === 'Magazyn (Kolejowa) Bruss WZ') {
                        count_WH++;
                    }
                });

                message.push([identMap[ident], count_KTL - count_WH, count_KTL, count_WH]);
            });
            bAlert(message, "#b-alert");
        });

        $('#pressCountButton').on('click', function() {
            var message = [];
            var identMap = {
                'F': {},
                'P': {}
            };

            barcodeTable.rows().every(function(rowIdx, tableLoop, rowLoop) {
                var data = this.data();
                if (data[2] === 'Prasy') {
                    if (data[4] != '') { 
                        if (identMap['F'][data[3]]) {
                            identMap['F'][data[3]] += 1;
                        } else {
                            identMap['F'][data[3]] = 1;
                        }
                    }
                    if (identMap['P'][data[3]]) {
                        identMap['P'][data[3]] += 1;
                    } else {
                        identMap['P'][data[3]] = 1;
                    }
                }
            });
            var allKeys = new Set(Object.keys(identMap['F']).concat(Object.keys(identMap['P'])));
    
            allKeys.forEach(function(ident) {
                var pValue = identMap['P'][ident] || 0;
                var fValue = identMap['F'][ident] || 0;
                var diff = pValue - fValue;
                message.push([ident, diff, pValue, fValue]);
            });

            // Sort the message array by the diff value in descending order
            message.sort(function(a, b) {
                return b[1] - a[1];
            });
            bAlert(message, "#p-alert");
        });
        
        $('.ship-button').on('click', function() {
            var $img = $(this).find('img');
            
            // Add spin animation on click
            $img.addClass('spin-animation');
            console.log('Animation started on click');
        
            var isActive = $(this).hasClass('active-button-border');
        
            // Deactivate both buttons first
            $('#shippedButton, #notShippedButton').removeClass('active-button-border');
        
            // If the clicked button was not active, activate it
            if (!isActive) {
                $(this).addClass('active-button-border');
            }
        
            // Redraw table to apply the new filter state
            setTimeout(function() {
                // Redraw table to apply the new filter state
                barcodeTable.draw();
            }, 10); 
        });
        
        $('#hideSideBarButton').click(function() {
            $('.sticky-buttons-top').slideToggle('slow'); // Toggle visibility with a slide effect
            $(this).toggleClass('rotate-180'); // Toggle rotation class
        });

        // Remove spin animation after table redraw completes
        barcodeTable.on('draw', function() {
            $('.ship-button img').removeClass('spin-animation');
            console.log('Animation removed after draw completes');
        });

        $.fn.dataTable.ext.search.push(function(settings, data, dataIndex) {
            // Check if barcodeTable is defined
            if (!barcodeTable) {
                console.error("barcodeTable is not defined.");
                return true; // Default to showing the row
            }
        
            // Attempt to retrieve the HTML content of the cell using .node() first
            var cellNode = barcodeTable.cell(dataIndex, 4).node();
            var cellHTML;
            
            if (cellNode) {
                cellHTML = $(cellNode).html();
            } else {
                // If .node() is not available, fallback to .data()
                cellHTML = barcodeTable.cell(dataIndex, 4).data();
            }
                
            // Check if 'truck.png' is in the cell content
            var containsTruck = cellHTML && cellHTML.toLowerCase().includes('truck.png');
        
            // Check button states
            var isShippedActive = $('#shippedButton').hasClass('active-button-border');
            var isNotShippedActive = $('#notShippedButton').hasClass('active-button-border');
            
            // Apply filter logic
            if (isShippedActive) {
                return containsTruck;       // Show only rows that contain 'truck.png'
            } else if (isNotShippedActive) {
                return !containsTruck;      // Show only rows that do not contain 'truck.png'
            } else {
                return true;                // Show all rows when no button is active
            }
        });

        connectWebSocket();
    });
</script>

</html>