{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magazyn Wysyłka</title>
    <link rel="icon" type="image/png" href="{% static 'img/GTM_logo_mini.png' %}">
    <link rel="stylesheet" href="{% static 'css/warehouse.css' %}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet"/>
</head>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="{% static 'js/warehouse.js' %}"></script>
<body>
    <!-- Sticky Bar -->
    <div class="sticky-bar">
        <div class="title-date-bar">
            <span>Magazyn Kolejowa - Wysyłka</span>
        </div>

        <div class="logo-bar">
            <div class="logo-track">
                <img src="{% static 'img/BRUSS_logo.png' %}" alt="BRUSS_logo" class="logo" data-client="bruss">
                <img src="{% static 'img/MUBEA_logo.png' %}" alt="MUBEA_logo" class="logo" data-client="mubea">
                <img src="{% static 'img/METALMARTIN_logo.png' %}" alt="METALMARTIN_logo" class="logo" data-client="metalmartin">
                <img src="{% static 'img/SIEGENIA_logo.png' %}" alt="SIEGENIA_logo" class="logo" data-client="siegenia">
                <img src="{% static 'img/FAURECIA_logo.png' %}" alt="FAURECIA_logo" class="logo" data-client="faurecia">
                <img src="{% static 'img/TEKNIA_logo.png' %}" alt="TEKNIA_logo" class="logo" data-client="teknia">
            </div>
        </div>
    </div>

    <!-- Tile Containers -->
    {% for client, orders in clients_dict.items %}
        <div class="tile-container" 
            data-client="{{ client }}"
        >
            {% for order in orders %}
                <div class="tile">
                    <div class="top-middle">{{ order.identDescription }}</div>
                    {% if order.deliveryNote and order.deliveryNote != 'nan' %}<div class="middle-2">LS: {{ order.deliveryNote }}</div>{% endif %}
                    <div class="middle">{{ order.quantity }} szt.</div>
                    <div class="bottom-middle">{{ order.orderID }}</div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</body>

<script>
    $(document).ready(function () {
        $('.tile-container').hide();
        let clientData = [];
        $('.tile-container').each(function() {
            clientData.push($(this).data('client'));
        });
        $(".logo-track .logo").each(function() {
            const logoClient = $(this).data('client'); // Get the 'data-client' value for each logo

            // Check if the logo's client matches any of the clientData values
            if (clientData.includes(logoClient)) {
                // Change the styling of the matching logo
                $(this).css({
                    "opacity": "1",  // Highlight matching logo (full opacity)
                    "filter": "none"
                });
            } else {
                $(this).css({
                    "opacity": "0.3",
                    "filter": "grayscale(100%)"
                });
            }
        });

        $(".logo").on("click", function() {
            const logoClient = $(this).data('client'); // Get the data-client attribute of the clicked logo
    
            const matchingTile = $(`.tile-container[data-client='${logoClient}']`);

            // Hide all tile-containers (optional: if you want to hide all others first)
            $(".tile-container").hide();

            // Show the matching tile-container(s)
            matchingTile.show();

            $(".logo").removeClass("highlighted inactive");  // Remove the highlight and inactive classes from all logos
    
            // Add 'highlighted' class to the clicked logo
            $(this).addClass("highlighted");
    
            // Optionally, add 'inactive' class to logos that are not selected
            $(".logo").not(this).addClass("inactive");
        });

        barcodesSocketHandler('shipment');
    });
</script>

</html>
