{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magazyn Dostawa</title>
    <link rel="icon" type="image/png" href="{% static 'img/GTM_logo_mini.png' %}">
    <link rel="stylesheet" href="{% static 'css/warehouse.css' %}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet"/>
</head>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="{% static 'js/warehouse.js' %}"></script>
<body>
    <!-- Sticky Bar -->
    <div class="sticky-bar">
        <div class="title-date-bar">
            <span>Magazyn Kolejowa - Dostawa</span>
            <input type="text" id="datepicker">
        </div>

        <div class="logo-bar">
            <div class="logo-track">
                <img src="{% static 'img/BRUSS_logo.png' %}" alt="BRUSS_logo" class="logo" data-client="bruss">
                <img src="{% static 'img/MUBEA_logo.png' %}" alt="MUBEA_logo" class="logo" data-client="mubea">
                <img src="{% static 'img/METALMARTIN_logo.png' %}" alt="METALMARTIN_logo" class="logo" data-client="metalmartin">
                <img src="{% static 'img/SIEGENIA_logo.png' %}" alt="SIEGENIA_logo" class="logo" data-client="siegenia">
                <img src="{% static 'img/FAURECIA_logo.png' %}" alt="FAURECIA_logo" class="logo" data-client="faurecia">
                <img src="{% static 'img/TEKNIA_logo.png' %}" alt="TEKNIA_logo" class="logo" data-client="teknia">
            </div>
        </div>
    </div>

    <!-- Tile Containers -->
    {% for client, data in clients_dict.items %}
        {% for day, orders in data.items %}
            <div class="tile-container" 
                data-date="{{ day|date:"Y-m-d" }}"
                data-client="{{ client }}"
            >
                {% for order in orders %}
                    <div class="tile">
                        <div class="top-middle">{{ order.identNumber }} <br> {{ order.identDescription }}</div>
                        {% if order.deliveryNote and order.deliveryNote != 'nan' %}<div class="middle-2">LS: {{ order.deliveryNote }}</div>{% endif %}
                        <div class="middle">{{ order.quantity }} szt.</div>
                        <div class="bottom-middle">{{ order.orderID }}</div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% endfor %}
</body>

<script>
    $(document).ready(function () {
        $('.tile-container').hide();

        datePickerHandler('delivery');

        barcodesSocketHandler('delivery');
    });


</script>

</html>
