{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stany Magazynowe</title>
    <link rel="icon" type="image/png" href="{% static 'img/GTM_logo_mini.png' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://cdn.datatables.net/2.0.6/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css">
    
    <link rel="stylesheet" href="{% static 'css/warehouse.css' %}">

</head>

<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/2.0.6/js/dataTables.min.js"></script>

<script src="{% static 'js/warehouse.js' %}"></script>

<body>
    <!-- Sticky Bar -->
    <div class="sticky-bar">
        <div class="title-date-bar">
            <span>Stany Magazynowe</span>
        </div>

        <div class="logo-bar">
            <div class="logo-track">
                <img src="{% static 'img/MUBEA_logo.png' %}" alt="MUBEA_logo" class="logo" data-client="mubea">
                <img src="{% static 'img/FAURECIA_logo.png' %}" alt="FAURECIA_logo" class="logo" data-client="faurecia">
                <img src="{% static 'img/TEKNIA_logo.png' %}" alt="TEKNIA_logo" class="logo" data-client="teknia">
                <img src="{% static 'img/ADIENT_logo.svg' %}" alt="ADIENT_logo" class="logo" data-client="adient">
                <img src="{% static 'img/BRUSS_logo.png' %}" alt="BRUSS_logo" class="logo" data-client="bruss">
                <img src="{% static 'img/METALMARTIN_logo.png' %}" alt="METALMARTIN_logo" class="logo" data-client="metalmartin">
                <img src="{% static 'img/SIEGENIA_logo.png' %}" alt="SIEGENIA_logo" class="logo" data-client="siegenia">
            </div>
        </div>
    </div>

    <div class="container">
        <div id="table-container">
            <table id="mainTable" class="table table-bordered table-striped">
                <thead>
                    <tr id="stickyTableHeader">
                        {% for head in tableHeaders %}
                            <th>
                                {{ head.name }}
                                <i class="fas fa-info-circle text-muted ml-1" 
                                    data-toggle="tooltip" 
                                    title="{{ head.help_text }}"
                                    style="cursor: help; font-size: 0.8em;"></i>
                            </th>
                           
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in tableData %}
                        <tr>
                            {% for cell in row %}
                                <td> {{ cell }} </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
<script>
$(document).ready(function () {
    $('.logo[data-client="mubea"]').css({
        "opacity": "1",
        "filter": "none"
    });

    initializeDataTable();
    $('[data-toggle="tooltip"]').tooltip();
    stockHandler();
});

function initializeDataTable() {
    // Initialize DataTable
    dataTable = $('#mainTable').DataTable({
        layout: {
            topStart: 'info',
            topEnd: 'search',
        },
        'order': [[5, 'desc']],
        'pageLength': 1000,
    });
}

</script>

</html>
